<template>

    <div class="row justify-center">
        <h4 class="title">{{$t('faqs')}}</h4>
            <q-list  style="width: 80%;">
      <q-expansion-item popup
        group="somegroup"
        :label="faq.id + '. ' + faq.question"
        v-for="faq in faqs" :key="faq.id"
      >
        <q-card class="bg-grey-2">
          <q-card-section>
            <p>{{ faq.answer }}</p>
          </q-card-section>
        </q-card>
      </q-expansion-item>

      <q-separator />
    </q-list>
    </div>
    
</template>

<script>
    // api/customer/v1/support/faqs/list
    const URL = 'api/customer/v1/support/faqs/list'
    export default {
        name: "frequentlyAskedQuestions",
        data(){
            return {
                faqs: ""
            }
        },
        mounted() {
            this.$axios.get(URL).then(
                res => {
                    this.faqs = res.data.results;
                }
            )
        }
    }
</script>

<style scoped>
@media (max-width: 800px) and (min-width: 0px) {
  .title {
    font-size: 25px !important;
  }
}

@media (max-width: 600px) and (min-width: 0px) {
  .title {
    font-size: 20px !important;
  }
}
</style>