<template>
  <div class="message-container row q-ma-lg items-center justify-center" >
    <q-banner v-if="signUpStatusOk == 200" rounded style="border: 1px solid green;" class="bg-green-1 col-sm-6">
      <div class="column q-pa-xl q-gutter-lg">
        <div class="row" >
          <q-icon class="q-mr-sm" size="md" name="check_circle" color="green"/>
          <span class="text-green text-bold text-h5">{{$t('registerSuccessfully')}}</span>
        </div>
        <span class="q-ml-lg text-h6">{{$t('registerMessage')}}</span>
      </div>
    </q-banner>
    <q-banner v-else rounded style="border: 1px solid red;" class="bg-red-1 col-sm-6">
      <div class="column q-pa-xl q-gutter-lg">
        <div class="row" >
          <q-icon class="q-mr-sm" size="md" name="error" color="primary"/>
          <span class="text-red text-bold text-h5">Oops!</span>
        </div>
        <span class="q-ml-lg text-h6">{{$t('registerErrorMessage')}}</span>
      </div>
    </q-banner>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { store } from 'src/store'
export default {
   computed: {
    ...mapGetters("auth", ["signUpStatusOk"])
  },
  beforeRouteEnter(to, from, next) {
    if (store.getters['auth/signUpStatusOk'] != 200) {
      next("/smth-went-wrong");
    }
    else {
      next()
    }
  }
};
</script>

<style scoped>
@media (max-width: 700px) and (min-width: 0px) {
  .message-container {
    margin: 15px 25px !important;
  }
}
</style>