<template v-cloak>
 <div class="message-container row q-ma-lg items-center justify-center" v-cloak>
  <q-banner class="fixed-size bg-green-1 col-sm-6" v-if="data === true" rounded style="border: 1px solid green;">
   <div class="column q-pa-xl q-gutter-lg">
    <div class="row">
     <q-icon class="q-mr-sm" size="md" name="check_circle" color="green"/>
     <span class="text-green text-bold text-h5">Activation successful</span>
    </div>
    <span class="q-ml-lg text-h6">Thank you. Your email has been activated successfully. Please sign in to your GoBazar account.</span>
   </div>
  </q-banner>
     <div v-if="data === true" class="row justify-center q-mt-lg full-width">
       <go-btn  class="q-mb-lg" @click="$router.push('/login')">Sign-In</go-btn>
   </div>

  <q-banner class="fixed-size bg-red-1 col-sm-6" v-if="data === false" rounded style="border: 1px solid red;">
   <div class="column q-pa-xl q-gutter-lg">
    <div class="row">
     <q-icon class="q-mr-sm" size="md" name="error" color="primary"/>
     <span class="text-red text-bold text-h5">Activation failed</span>
    </div>
    <span class="q-ml-lg text-h6">Your account is not activated. Please try again</span>
   </div>
  </q-banner>
 </div>

</template>

<script>
    import {mapGetters, mapActions} from "vuex";
    import {store} from 'src/store'

    export default {
        props: {
            data: Boolean,
            type: {
                type: [String, Function, Boolean],
                default: "success",
                required: true
            }
        }
    };
</script>

<style scoped>
 [v-cloak] {
  display: none;
 }
 @media (max-width: 700px) and (min-width: 0px) {
  .message-container {
   margin: 15px 25px !important;
  }
 }

 .fixed-size {
  min-width: 600px;
 }

 @media (max-width: 600px) and (min-width: 0px) {
  .fixed-size {
   min-width: 90vw;
  }
 }
</style>
