<template>
  <!-- bordered -->
  <router-link :to="{ name: 'details', query: { itm: this.productID } }">
    <q-card square class="row items-start bg-white" style="min-height: 150px">
      <div
        class="row justify-center items-center q-mx-sm"
        style="height: 180px;width: 180px; border: 1px solid lightgrey"
      >
        <img :src="url" style="max-width: 100%;max-height: 70%;" spinner-color="white" />
      </div>
      <div class="column col">
        <div class="text-subtitle2 text-bold text-grey ellipsis">By {{author}}</div>
        <div class="text-h6 ellipsis-2-lines text-black">{{title}}</div>
        <div class="text-subtitle1 text-primary text-bold">{{price}}</div>
      </div>
    </q-card>
  </router-link>
</template>

<script>
export default {
  props: [
    "url",
    "title",
    "author",
    "info",
    "price",
    "old",
    "property",
    "productID"
  ],
  methods: {
    goToProductDetails() {
      localStorage.setItem("imageURL", this.url);
    }
  }
};
</script>

<style scoped>
* {
  text-decoration: none;
}
</style>