<template>
  <div id="checkout">
    <top-navigation class="go-stepper-top-padding"></top-navigation>
    <div class="go-stepper">
      <stepperHeader class="go-stepper-header-pc" :step="step"></stepperHeader>
      <stepperMobileHeader class="go-stepper-header-mobile" :step="step"></stepperMobileHeader>
      <form action class="go-stepper--form">
        <div class="go-stepper--form__inside">
          <div class="go-stepper--view">
            <section v-if="step === 1">
              <step-one></step-one>
            </section>
            <section v-if="step === 2">
              <step-two></step-two>
            </section>
            <section v-if="step === 3">
              <step-three></step-three>
            </section>
            <section v-if="step === 4">
              <step-four @clickNextStep="nextStep"></step-four>
            </section>
            <section v-if="step === 5">
              <step-five></step-five>
            </section>
            <section v-if="step === 6">
              <step-six></step-six>
            </section>
          </div>
          <stepperAction
            @clickNextStep="nextStep"
            @clickPrevStep="prevStep"
            @clickFinishForm="finishForm"
            :step="step"
            :total="totalSteps"
          ></stepperAction>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import topNavigation from "./steps/top-navigation.vue";
import stepperHeader from "./steps/stepper-header.vue";
import stepperMobileHeader from "./steps/stepper-mobile-header.vue";
import stepOne from "./steps/step-one.vue";
import stepTwo from "./steps/step-two.vue";
import stepThree from "./steps/step-three.vue";
import stepFour from "./steps/step-four.vue";
import stepFive from "./steps/step-five.vue";
import stepSix from "./steps/step-six.vue";
import stepperAction from "./steps/stepper-action.vue";
export default {
  data() {
    return {
      step: 1,
      totalSteps: 6
    };
  },
  components: {
    topNavigation,
    stepperHeader,
    stepperMobileHeader,
    stepOne,
    stepTwo,
    stepThree,
    stepFour,
    stepFive,
    stepSix,
    stepperAction
  },
  methods: {
    prevStep() {
      this.step--;
    },
    nextStep() {
      this.step++;
    },
    finishForm() {
      if (this.step === 4) {
        alert("Form is finished!");
      }
    }
  }
};
</script>

<style>
.go-stepper {
  display: flex;
  flex-direction: column;
  width: 82vw;
  margin-bottom: 70px;
  max-width: 1120px;
  height: 100%;
  background: #ffffff08;
  border-radius: 1em;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

/* FORM SECTION */

.go-stepper--form {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 35px 0px;
}

/* FORM WIDTH */
.go-stepper--form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.go-stepper--form__inside {
  min-width: 583px;
}
@media (max-width: 583) and (min-width: 0) {
  .go-stepper--form__inside {
    min-width: 583px;
  }
}
.go-stepper--view {
  width: 100%;
}
.go-stepper--bg-primary {
  background: #ff4733 !important;
  color: white !important;
  opacity: 1;
}
.go-stepper-bg-white {
  background: white;
  opacity: 1;
}

@media (max-width: 840px) and (min-width: 0) {
  .go-stepper--form__inside {
    min-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .go-stepper--view {
    width: 80%;
  }
}
@media (max-width: 620px) and (min-width: 0px) {
  .go-stepper {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px 0px transparent;
  }
  .go-stepper--form {
    background: white;
  }
}
.go-stepper-header-pc {
  display: block;
}
.go-stepper-header-mobile {
  display: none;
}
@media (max-width: 570px) and (min-width: 0px) {
  .go-stepper-header-pc {
    display: none;
  }
  .go-stepper-header-mobile {
    display: block;
  }
}
#checkout {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: #0b1322;
  min-height: 100vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(250px, #0b1322),
    color-stop(250px, #f9f9fb)
  );

  background: -webkit-linear-gradient(top, #0b1322 250px, #f9f9fb 250px);
  background: -moz-linear-gradient(top, #0b1322 250px, #f9f9fb 250px);
  background: -ms-linear-gradient(top, #0b1322 250px, #f9f9fb 250px);
  background: -o-linear-gradient(top, #0b1322 250px, #f9f9fb 250px);
  background: linear-gradient(to bottom, #0b1322 250px, #f9f9fb 250px);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1322', endColorstr='#f9f9fb',GradientType=0 );
  /* background-attachment: fixed; */
}
body {
  margin: 0;
}
@media (max-width: 840px) and (min-width: 0px) {
  #checkout {
    background: #0b1322;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(286px, #0b1322),
      color-stop(286px, #ffffff)
    );

    background: -webkit-linear-gradient(top, #0b1322 286px, #ffffff 286px);
    background: -moz-linear-gradient(top, #0b1322 286px, #ffffff 286px);
    background: -ms-linear-gradient(top, #0b1322 286px, #ffffff 286px);
    background: -o-linear-gradient(top, #0b1322 286px, #ffffff 286px);
    background: linear-gradient(to bottom, #0b1322 286px, #ffffff 286px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1322', endColorstr='#ffffff',GradientType=0 );
    /* background-attachment: fixed; */
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.go-stepper-top-padding {
  margin: 53px 0px;
}
</style>
