<template>
  <div class="flex q-mt-md justify-center">
    <q-list class="wish-list" v-if="wishlist.count > 0">
      <q-separator spaced />
      <q-item
      
        :class="wish.status === 'product_expired' ? 'no-pointer-events' : 'all-pointer-events'"
        :disable="wish.status === 'product_expired'"
        class="wish-item row justify-left q-mt-sm"
        v-for="(wish, index) in wishlist.results"
        :key="index"
        style="border-bottom: 1px solid lightgrey; padding-bottom: 10px"
      >
        <q-img
          :src="wish.product.images[0]"
          
          contain
          
          ratio="1"
          class="col-2 q-mr-lg row items-center bg-black"
          style="border:1px solid lightgrey;height:150px;width:150px;"
        />
        <div class="column justify-center items-left" style="width:60%">
          <q-item-label
            class="text-subtitle1 text-black q-mb-lg ellipsis-2-lines"
            @click="buyNow(wish.id, wish.product.asin)"
            style="font-weight:700; font-size:1rem; text-decoration:none;cursor: pointer;"
          >{{wish.product.title}}</q-item-label>
          <q-item-label class="text-subtitle1" style="width:50%">
            <div class="remove-item">
              <img src="../../../assets/bin.svg" alt />
              <div class="remove-item q-ml-xs text-subtitle2" @click="remove(wish.id)">Remove item</div>
            </div>
          </q-item-label>
          <q-item-label
            class="bg-grey-3 text-h6 text-center text-primary q-mt-md"
            v-if="wish.status === 'product_expired'"
          >This product is expired</q-item-label>
          <p></p>
          <p></p>
        </div>
      </q-item>
    </q-list>
    <div v-else class="flex flex-center">
      <q-banner
        inline-actions
        square
        class="full-width bg-orange text-white"
      >Your wish list is currently empty</q-banner>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import ProductService from "../../../services/product/product.service";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters("profile", ["wishlist", "removedStatus", "updateDetail"])
  },
  methods: {
    ...mapActions("profile", [
      "getWishlistProducts",
      "removeProductInWishlist",
      "updateWishlistStatus"
    ]),

    async buyNow(wish_id, asin) {
      this.$q.loading.show();
      let response = await ProductService.productDetails(asin);
      this.$q.loading.hide();
      if (response.data.Error == "Invalid item id") {
        await this.updateWishlistStatus(wish_id);
        this.$q.notify({
          group: false,
          type: "negative",
          message: "This product is not available for sale"
        });
      } else if (response.data.itemid) {
        this.$router.push({name: 'details', query: {itm:asin}});
      }
    },
    async remove(id) {
      await this.removeProductInWishlist(id);
      if (this.removedStatus) {
        this.getWishlistProducts();
      }
    }
  },
  created() {
    this.getWishlistProducts();
  }
};
</script>

<style scoped>
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.q-item {
  padding: 0px;
  margin-bottom: 10px;
}
.remove-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width:1095px) and  (min-width: 550px){
  .wish-list {
    margin: auto 60px;
}
}
@media (max-width: 550px) and (min-width: 0) {
  .wish-list {
    margin: auto 0px;
}
.wish-item {
  margin-left: 20px;
  margin-right: 20px;
}
}
</style>