<template>
  <div>
    <div class="row product">
        <div class="image-box">
          <img class="product-image contain" :src="product.product.images[0]" alt />
        </div>
      <div class="details-container">
        <div class="details-box">
          <div class="details q-ml-sm">
            <div class="product-title-container ellipsis-3-lines q-ml-sm">
              <router-link
                class="product-title text-black"
                :to="{name: 'details', query: {itm:product.product.asin}}"
                style="font-weight:700; text-decoration:none"
              >{{product.product.title}}</router-link>
            </div>

            <div class="row full-width" v-if="product.product.attributes != ''">
              <div
                class="q-ml-sm attributes-line"
                v-for="(i,index) in product.product.attributes"
                :key="index"
              >
                <span v-if="index === product.product.attributes.length-1">{{i.value}}</span>
                <span v-else>{{i.value}}, &nbsp;</span>
              </div>
            </div>


            <div class="row bottom-line q-ml-sm">
              <div class="quantity-text q-mr-sm">{{$t('quantity')}}</div>
              <div class="row quantity-input">
                <q-icon
                  size="sm"
                  class="arrow-up"
                  @click="minus(product.product.id, product.quantity)"
                  name="keyboard_arrow_down"
                ></q-icon>
                <input
                  name="quantity"
                  type="text"
                  class="quantity__input"
                  style="font-size:12px;"
                  readonly
                  :value="product.quantity"
                />
                <q-icon
                  size="sm"
                  class="arrow-down"
                  @click="plus(product.product.id, product.quantity)"
                  name="keyboard_arrow_up"
                ></q-icon>
              </div>
              <div class="remove-item q-ml-sm">
                <img src="../../../assets/bin.svg" alt />
                <div
                  class="remove-item q-ml-xs"
                  @click="remove(product.product.id)"
                >{{$t('removeItem')}}</div>
              </div>
              <div class="wishlist">
                <div>{{$t('moveToWishList')}}</div>
              </div>
            </div>
          </div>

          <div class="price">
            <p
              class="product-price q-ml-md"
            >{{ product.product.converted_price | calc_price(product.quantity) }}</p>
          </div>
        </div>
      </div>
    </div>
    <q-separator spaced class="list-separator" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: ["product"],
  computed: {
    ...mapGetters("checkout", [
      "removedStatus",
      "increasedStatus",
      "reducedStatus",
      "movedStatus"
    ])
  },
  methods: {
    ...mapActions("checkout", [
      "removeProductFromCart",
      "getUserActiveCart",
      "increaseQuantity",
      "reduceQuantity",
      "cartProductMoveToWishlist"
    ]),
    async remove(product_id) {
      this.$q.loading.show();
      await this.removeProductFromCart(product_id);
      if (this.removedStatus == 200) {
        this.getUserActiveCart();
      }
      this.$q.loading.hide();
    },
    async minus(product_id, quantity) {
      if (quantity > 1) {
        await this.reduceQuantity({
          quantity: quantity - 1,
          product: product_id
        });
        if (this.reducedStatus == 200) {
          this.getUserActiveCart();
        }
      }
    },
    async plus(product_id, quantity) {
      if (quantity < 5) {
        await this.increaseQuantity({
          quantity: quantity + 1,
          product: product_id
        }).then(() => {
          if (this.increasedStatus == 200) {
            this.getUserActiveCart();
          }
        });
      } else {
        this.$q.notify({
          group: false,
          type: "negative",
          message: this.$t("minOrder"),
          position: "top"
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.cart-container {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 0px auto;
}

.product-list {
  padding: 20px;
}

.product {
 position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
  height: 150px;
  padding: 15px 0px 15px 5px;
}


.image-box {
 position: relative;
  display: inline-block;
  margin: 0;

}
.product-image {
 width: 120px;
 height: 120px;
 background: #ffffff;
 border: 1px solid lightgrey;
}
.contain{
 object-fit: contain;
}

.details-container {
  height: 100px;
  margin-top: 0px;
  margin-bottom: auto;
}

.details-box {
  display: grid;
  grid-template-columns: 75% 25%;
  padding-left: 0px;
}

.attributes-line{
 font-size:11px;width:auto;display:inline-block
}

.in-stock {
  display: none;
}
.bottom-line {
  position: absolute;
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
  margin-top: 7px;
  bottom:13px;
}

.remove-item {
  display: flex;
  align-items: center;
}

.arrow-down,
.arrow-up {
  color: #3b3f4c;
  cursor: pointer;
}

.arrow-up:hover,
.arrow-down:hover {
  color: #0b1322;
}

.remove-item,
.wishlist {
  cursor: pointer;
}

.remove-item:hover,
.wishlist:hover {
  color: #3b3f4c;
}

.your-basket {
  font-size: 18px;
  font-weight: 100;
}

.list-separator {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.list-separator-top {
  margin-top: 15px;
  margin-bottom: 30px;
}

.quantity__input {
  width: 25px;
  height: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
}
.quantity__input:focus {
  outline: none;
}

.quantity-text {
  font-size: 12px;
}

.remove-item {
  font-size: 12px;
}

.quantity-input {
  display: flex;
  align-items: center;
}

.product-title {

  font-size: 15px;
  height: 70px;
}

.wishlist {
  display: none;
}

.product-price {
  font-size: 15px;
  float: left;
}

@media screen and (max-width: 600px) {
  .details-container {
    padding-top: 0px;
  }

  .details-box {
    padding-left: 5px;
  }
}
</style>
