<template>
  <div class="page-container">
    <div class="cart-container">
      <div class="product-list">
        <div class="your-basket" v-if="userActiveCart">
          {{$t('yourBasket')}}
          <span
            style="color:#CCCCCC;"
            v-if="userActiveCart.products"
          >({{userActiveCart.products.length}} {{$t('items')}})</span>
          <span style="color:#CCCCCC;" v-else>( 0 {{$t('items')}})</span>
        </div>

        <q-separator class="list-separator-top" />
        <div v-if="userActiveCart != undefined">
          <cart-products
            v-for="(product, index) in userActiveCart.products"
            :product="product"
            :key="index"
          ></cart-products>
        </div>
      </div>
      <div class="summary-container">
        <div class="dicount-outline q-mt-md" v-if="windowWidth < 550">
          <q-input
            square
            outlined
            v-model="coupon"
            :placeholder="$t('addCoupon')"
            ref="addCoupon"
            mask="######"
            :class="windowWidth < 550 ? 'q-mx-lg': ''"
            :rules="[
          val => !!val || $t('minimumValidation')+ ' 6',
          val => val.length > 5 || $t('minimumValidation') + ' 6',
        ]"
            lazy-rules="ondemand"
          >
            <template v-slot:append>
              <div class="discount-icon" @click="addCoupon()">
                <img src="../../../assets/discountIcon.svg" alt />
              </div>
            </template>
          </q-input>
        </div>
        <div class="on-medium-screen" :class="windowWidth < 550 ? 'q-mx-lg q-mb-md': ''">
          <div class="summary-box">
            <div class="summary-vs-delivery no-border-radius">
              <div class="summary-content">
                <p class="summary-title">
                  <b>{{$t('summary')}}</b>
                </p>
                <div class="row subtotal">
                  <span>{{$t('subtotal')}}</span>
                  <br />
                  <span
                    class="subtotal-price"
                    v-if="userActiveCart != undefined"
                  >{{userActiveCart.subtotal | sum}}</span>
                  <span class="subtotal-price" v-else>{{ "0" | sum}}</span>
                </div>
                <div class="row delivery">
                  <div>
                    {{$t('delivery')}}
                    <q-icon color="black" name="help_outline" />
                    <q-tooltip>{{$t('deliveryInfo')}}</q-tooltip>
                  </div>
                  <span
                    class="delivery-price"
                    v-if="userActiveCart != undefined"
                  >{{userActiveCart.shipping_fee | sum}}</span>
                  <span class="delivery-price" v-else>{{ "0" | sum}}</span>
                </div>
              </div>
            </div>
            <div class="total-box no-border-radius">
              <div class="row total-row">
                <span>{{$t('total')}}</span>
                <span
                  class="delivery-price"
                  v-if="userActiveCart != undefined"
                >{{userActiveCart.total | sum}}</span>
                <span class="delivery-price" v-else>{{ "0" | sum}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="on-medium-screen-right">
          <div :style="windowWidth > 1030 ? 'width:80%;float:right' : ''">
            <div class="dicount-outline q-mt-md" v-if="windowWidth > 550">
              <q-input
                square
                outlined
                v-model="coupon"
                :placeholder="$t('addCoupon')"
                ref="addCoupon"
                mask="######"
                :class="windowWidth < 550 ? 'q-mx-lg': ''"
                :rules="[
          val => !!val || $t('minimumValidation') + ' 6',
          val => val.length > 5 || $t('minimumValidation') + ' 6',
        ]"
                lazy-rules="ondemand"
              >
                <template v-slot:append>
                  <div class="discount-icon" @click="addCoupon()">
                    <img src="../../../assets/discountIcon.svg" alt />
                  </div>
                </template>
              </q-input>
            </div>
            <div
              class="checkout-button-container q-mb-md"
              :class="windowWidth < 550 ? 'q-px-lg' : ''"
            >
              <go-btn
                :block="true"
                :text="$t('goToCheckout')"
                icon="arrow_right_alt"
                property="primary size14 opensans text-align-center size-md"
                icon-bg="#e53f2d"
                text-class="opensans"
                @click="goToCheckout"
              ></go-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      windowWidth: window.innerWidth,
      coupon: "",
      cartProducts: [],
      cart_shipping: "",
      cart_subtotal: "",
      cart_total: ""
    };
  },
  computed: {
    ...mapGetters("checkout", ["userActiveCart"]),
    ...mapGetters("auth", ["loggedIn"])
  },
  components: {
    "cart-products": require("./cart-products").default
  },
  methods: {
    ...mapActions("checkout", ["getUserActiveCart"]),
    addCoupon() {
      this.$refs.addCoupon.validate();
      this.$q.notify({
        group: false,
        type: "negative",
        message: "Coupon does not exist"
      });
    },
    goToCheckout() {
      if (this.userActiveCart.products.length > 0) {
        this.$router.push("/payment-checkout");
      } else {
        this.$q.notify({
          group: false,
          type: "negative",
          message: this.$t("yourBasket") + " 0 " + this.$t("items")
        });
      }
    }
  },
  created() {
    this.loggedIn || localStorage.getItem("user")
      ? this.getUserActiveCart()
      : this.$store.commit("checkout/userActiveCart", undefined);
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  }
};
</script>

<style lang="scss" scoped>
// left
@media screen and (min-width: 1030px) {
  .cart-container {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
  }
  .product-price {
    font-size: 16px;
    float: right;
  }

  .product {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 180px;
  }

  .image-container {
    height: 180px;
  }

  .image-box {
    height: 180px;
    width: 180px;
    border: 1px solid #cccccc;
  }

  .product-image {
    margin-top: auto;
    margin-bottom: auto;
  }

  .details-container {
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
  }

  .details-box {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-left: 20px;
  }

  .bottom-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 30px;
    justify-content: space-around;
  }

  .remove-item {
    display: flex;
    align-items: center;
  }

  .arrow-down,
  .arrow-up {
    color: #3b3f4c;
    cursor: pointer;
  }

  .arrow-up:hover,
  .arrow-down:hover {
    color: #0b1322;
  }

  .remove-item,
  .wishlist {
    cursor: pointer;
  }

  .remove-item:hover,
  .wishlist:hover {
    color: #3b3f4c;
  }

  .your-basket {
    font-size: 18px;
    font-weight: 100;
    height: 35px;
  }

  .list-separator {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .list-separator-top {
    margin-bottom: 30px;
  }

  .quantity__input {
    width: 25px;
    height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
  }

  .quantity-input {
    display: flex;
    align-items: center;
  }

  .product-title {
    font-size: 16px;
    height: 70px;
  }

  //right

  .summary-container {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
  }

  .summary-box {
    width: 80%;
    float: right;
  }

  .summary-vs-delivery {
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #cccccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: center;
  }

  .summary-content {
    width: 80%;
  }

  .summary-title {
    font-size: 16px;
  }

  .subtotal {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .delivery {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .total-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    bottom: 0px;
    height: 50px;
  }

  .total-box {
    border: 1px solid #cccccc;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .total-row {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .discount-icon {
    cursor: pointer;
  }
  .checkout-button-container {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1030px) {
  .list-separator-top {
    margin-bottom: 10px;
  }
}
@media (max-width: 1029px) and (min-width: 845px) {
  .cart-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .product-price {
    font-size: 16px;
    float: none;
  }
  .summary-container {
    width: 100%;
  }

  // For only medium screen
  .summary-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  // page
  .page-container {
    padding: 40px 65px 0 65px;
  }
}

@media screen and(max-width:950) {
  .page-container {
    padding: 40px 10px 0 10px;
  }
}

@media screen and(max-width: 600px) {
  .product-list {
    padding: 10px;
  }
  .wishlist {
    display: none;
  }
}
@media (max-width: 844px) and (min-width: 550px) {
  .cart-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .product-price {
    font-size: 16px;
    float: none;
  }
  .summary-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .on-medium-screen {
    width: 50%;
  }
  .on-medium-right {
    width: 50%;
  }
  .summary-box {
    width: 100%;
  }
  .summary-content {
    width: 100%;
  }
  // For only medium screen
  .summary-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  // page
  .page-container {
    padding: 40px 10px 0 10px;
  }
}
@media (max-width: 550px) and (min-width: 0px) {
  .summary-container {
    display: flex;
    flex-direction: column;
  }
}
</style>
