<template>
  <div>
    <div class="row product">
      <div class="image-container">
        <q-img
          v-if="product.product.images"
          bordered
          contain
          class="product-image contain"
          :src="product.product.images[0]"
          alt="Wait..."
        />
        <!-- <div class="col-3 row justify-center"> -->
        <!-- </div> -->
      </div>
      <div class="details-container">
        <div class="details-box">
          <div class="details">
            <div class="product-title-container">
              <router-link
                class="product-title text-black ellipsis-2-lines"
                :to="{name: 'details', query: {itm:product.product.asin}}"
              >{{product.product.title}}</router-link>
            </div>
            <div class="row full-width" v-if="product.product.attributes != ''">
              <div
                v-for="(i,index) in product.product.attributes"
                :key="index"
                style="font-size:13px;width:auto;display:inline-block"
              >
                <span v-if="index === product.product.attributes.length-1">{{i.value}}</span>
                <span v-else>{{i.value}}, &nbsp;</span>
              </div>
            </div>

            <!-- <div class="in-stock" style="visibility:hidden">
              <span style="color:green">
                <b>In Stock</b>
              </span>
              <br />
              <span style="opacity:0.6">Delivery from $5.99</span>
              <br />
            </div>-->

            <div class="bottom-line">
              <div class="row product-quantity bottom-items">
                <div class="quantity-text q-mr-sm" >{{$t('quantity')}}</div>
                <div class="row  quantity-input">
                  <div>
                    <q-icon
                      size="sm"
                      class="arrow-up"
                      @click="minus(product.product.id)"
                      name="keyboard_arrow_down"
                    ></q-icon>
                  </div>
                  <div>
                    <input
                      name="quantity"
                      type="text"
                      class="quantity__input"
                      readonly
                      :value="product.quantity"
                    />
                  </div>
                  <div>
                    <q-icon
                      size="sm"
                      class="arrow-down"
                      @click="plus(product.product.id)"
                      name="keyboard_arrow_up"
                    ></q-icon>
                  </div>
                </div>
              </div>
              <div class="remove-item bottom-items">
                <img src="../../../assets/bin.svg" alt />
                <div
                  class="remove-item q-ml-xs"
                  @click="remove(product.product.id)"
                >{{$t('removeItem')}}</div>
              </div>
              <div class="wishlist bottom-items">
                <div @click="moveToWishlist(product.product.id)">{{$t('moveToWishList')}}</div>
              </div>
            </div>
          </div>
          <div class="price">
            <p class="product-price">{{product.product.converted_price | sum}}</p>
          </div>
        </div>
      </div>
    </div>
    <q-separator class="list-separator" />

    <!-- Apple MacBook Pro 13" Space Grey Core i5 2.3Ghz 8GB 256GB (Late 2017) Apple care -->
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: ["product"],
  data() {
    return {
      windowWidth: window.innerWidth
    };
  },
  computed: {
    ...mapGetters("checkout", [
      "removedStatus",
      "increasedStatus",
      "reducedStatus",
      "movedStatus"
    ])
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  methods: {
    ...mapActions("checkout", [
      "getUserActiveCart",
      "removeProductFromCart",
      "increaseQuantity",
      "reduceQuantity",
      "cartProductMoveToWishlist"
    ]),
    async remove(product_id) {
      this.$q.loading.show();
      await this.removeProductFromCart(product_id);
      if (this.removedStatus == 200) {
        this.getUserActiveCart();
      }
      this.$q.loading.hide();
    },
    async minus(product_id) {
      if (this.product.quantity > 1) {
        await this.reduceQuantity({
          quantity: this.product.quantity - 1,
          product: product_id
        });
        if (this.reducedStatus == 200) {
          this.getUserActiveCart();
        }
      }
    },
    async plus(product_id) {
      if (this.product.quantity < 5) {
        await this.increaseQuantity({
          quantity: this.product.quantity + 1,
          product: product_id
        });
        if (this.increasedStatus == 200) {
          this.getUserActiveCart();
        }
      } else if (this.product.quantity >= 5) {
        this.$q.notify({
          group: false,
          type: "negative",
          message: this.$t("minOrder")
        });
      }
    },
    async moveToWishlist(product_id) {
      await this.cartProductMoveToWishlist(product_id);
      if (this.movedStatus == 201) {
        this.getUserActiveCart();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.cart-container {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 90%;
  margin: 0px auto;
}


.product {
  display: flex;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 1px solid lightgrey;
}

.product-image {
  height: 200px;
  width: 200px;
  background: #ffffff;
}

.contain {
  object-fit: contain;
}

.details-container {
  width: 100%;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.details-container {
  position: relative;
}

.product-title{
 font-weight:700;
  font-size:1rem;
   text-decoration:none
}


.details-box {
  display: grid;
  grid-template-columns: 70% 30%;
  padding-left: 20px;
}

.bottom-line {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-items{
 margin-right: 30px;

}


.remove-item {
  display: flex;
  align-items: center;
}

.arrow-down,
.arrow-up {
  color: #3b3f4c;
  cursor: pointer;
}

.arrow-up:hover,
.arrow-down:hover {
  color: #0b1322;
}

.remove-item,
.wishlist {
  cursor: pointer;
}

.remove-item:hover,
.wishlist:hover {
  color: #3b3f4c;
}

.your-basket {
  font-size: 18px;
  font-weight: 100;
}

.list-separator {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-separator-top {
  margin-top: 15px;
  margin-bottom: 30px;
}

.quantity__input {
  width: 25px;
  height: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
}

.quantity-input {
  display: flex;
  align-items: center;
}


.product-price {
  font-size: 24px;
  float: right;
}

.quantity__input:focus {
  outline: none;
}

@media screen and (max-width: 1225px) {
 .details-container{
  height: 150px;
 }
 .image-container{
  height: 152px;
 }

 .product-image {
  height: 150px;
  width: 150px;
}


.product-price {
  font-size: 20px;
}
}

@media screen and (max-width: 1030px) {
 .details-container{
  height: 150px;
 }

 .image-container{
  height: 152px;
 }

 .product-image {
  height: 150px;
  width: 150px;
}


.product-price {
  font-size: 20px;
}
.list-separator {
  margin-top: 10px;
  margin-bottom: 10px;
}
}

@media screen and (max-width: 950px) {
  .details-container{
  height: 150px;
 }
 .image-container{
  height: 152px;
 }

 .product-image {
  height: 150px;
  width: 150px;
}


.product-price {
  font-size: 20px;
}
.product-title{
 font-weight:700;
 font-size: 14px;
 text-decoration:none
}

}
@media screen and (max-width: 880px) {
  .details-container{
  height: 150px;
 }
 .product-title{
 font-size: 14px;
}

 .image-container{
  height: 152px;
 }

 .product-image {
  height: 150px;
  width: 150px;
}


.product-price {
  font-size: 17px;
}


}
@media screen and (max-width: 810px) {
 .bottom-line {
  font-size: 12px;
  }
  .bottom-items{
 margin-right: 15px;
}

}

@media screen and(max-width: 702px){
 .cart-container{
  width: 100%;
 }
 .product-title{
 font-size: 14px;
}
.product-price {
  font-size: 15px;
}
.details-container{
  height: 120px;
 }
 .product-title{
 font-size: 14px;
}

 .image-container{
  height: 122px;
 }

 .product-image {
  height: 120px;
  width: 120px;
}


}

@media screen and (max-width: 592px){
.wishlist{
 display: none;
}
}

</style>
