<template>
<div>
  <q-banner inline-actions class="text-white bg-green-8" v-if="updatedBanner">
      <span class="text-weight-medium">Your cart has been successfully updated</span>
  </q-banner>
    <div class="mobile-cart">
      <div v-if="userActiveCart != undefined">
        <div v-for="(p, index) in userActiveCart.products" :key="index">
          <div class="row product">
            <div class="image-container">
              <div class="image-box row justify-center">
                <img
                  class="product-image"
                  :src="p.product.images[0]"
                  alt
                />
              </div>
            </div>
            <div class="details-container">
              <div class="details-box">
                <div class="details">
                  <div class="product-title-container">
                    <router-link
                      class="product-title text-black"
                      :to="{name: 'details', query: {itm:p.product.asin}}"
                      style="font-weight:700; text-decoration:none"
                    ><span class="ellipsis-2-lines">{{p.product.title}}</span></router-link>

                  </div>
                 <div class="row full-width" v-if="p.product.attributes != ''">

                <div class="product-attributes" v-for="(i,index) in p.product.attributes" :key="index">
                  <span v-if="index === p.product.attributes.length-1">{{i.value}} </span> <span v-else> {{i.value}}, &nbsp;
                  </span>
                  </div>
                </div>

                  <div>
                    <span>{{p.product.converted_price | calc_price(p.quantity)}}</span>
                    <br />
                  </div>

                  <div class="row bottom-line">
                    <div class="quantity-text " :class="windowWidth<322?'q-mr-xs':'q-mr-md'">{{$t('quantity')}}</div>
                    <div class="row quantity-input">
                      <q-select
                        class="flex content-center items-center text-ceneter"
                        dense
                        square
                        outlined
                        @input="updateQuantity(p.product.id, p.quantity)"
                        v-model="p.quantity"
                        :options="numbers"
                      />
                    </div>
                    <!-- <p>{{p}}</p> -->
                    <div class="remove-item q-ml-md">
                      <img src="../../../assets/bin.svg" alt="">
                      <div class="remove-item q-ml-xs" @click="remove(p.product.id)">{{$t('removeItem')}}</div>
                    </div>
                    <div class="wishlist">
                      <div>{{$t('moveToWishList')}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <q-separator class="list-separator" />

        </div>
      </div>
      <div class="bottom-bar q-pa-md">
        <div class="dicount-outline">
              <q-input
                  square
                  outlined
                  v-model="coupon"
                  :placeholder="$t('addCoupon')"
                  ref="addCoupon"
                  mask="######"
                  :rules="[
                    val => !!val || $t('minimumValidation') + ' 6',
                    val => val.length > 5 || $t('minimumValidation') + ' 6',
                  ]"
                  lazy-rules="ondemand"
                >
                <template v-slot:append>
                  <q-img class="discount-icon" @click="addCoupon()"><img src="~/assets/discountIcon.svg"></q-img>
                </template>
              </q-input>
            </div>
        <div class="summary">
          <span class="row prices">
            <span>{{$t('subtotal')}}</span>
            <span v-if="userActiveCart != undefined">{{userActiveCart.subtotal | sum}}</span>
            <span v-else>{{ "0" | sum}}</span>
          </span>
          <span class="row prices">
            <div>
              {{$t('delivery')}}
              <q-icon color="black" name="help_outline" />
              <q-tooltip>{{$t('deliveryInfo')}}</q-tooltip>
            </div>
            <span class="delivery-price" v-if="userActiveCart != undefined">{{userActiveCart.shipping_fee | sum}}</span>
            <span class="delivery-price" v-else>{{ "0" | sum}}</span>
          </span>
          <span class="row subtotal q-mt-sm text-bold">
            <span>{{$t('total')}}</span>
            <span class="delivery-price" v-if="userActiveCart != undefined">{{userActiveCart.total | sum}}</span>
            <span class="delivery-price" v-else>{{ "0" | sum}}</span>
          </span>
        </div>
        <go-btn
          class="q-mt-md q-mb-md float-right"
          :block="true"
          :text="$t('goToCheckout')"
          icon="arrow_right_alt"
          property="primary size14 opensans text-align-center size-md"
          icon-bg="#e53f2d"
          text-class="opensans"
          @click="goToCheckout()"
        ></go-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
     windowWidth: window.innerWidth,
      updatedBanner: false,
      toggle: true,
      maximizedToggle: false,
      numberModel: 1,
      coupon: '',
      numbers: [1, 2, 3, 4, 5]
    };
  },
  computed: {
    ...mapGetters("checkout", [
      "userActiveCart",
      "removedStatus",
      "increasedStatus",
      "reducedStatus",
      "movedStatus"
    ]),
    ...mapGetters("auth", ["loggedIn"])
  },
  created() {
    (this.loggedIn || localStorage.getItem('user')) ? this.getUserActiveCart() : this.$store.commit('checkout/userActiveCart', undefined)
  },
  methods:{
    ...mapActions("checkout", [
      "removeProductFromCart",
      "increaseQuantity",
      "cartProductMoveToWishlist",
      "getUserActiveCart"
    ]),
    goToCheckout(){
      if(this.userActiveCart != undefined && this.userActiveCart.products.length > 0){
        this.$router.push('/payment-checkout')
      }else{
        this.$q.notify({
          group: false,
          type: "negative",
          message: this.$t('yourBasket') +" 0 "+ this.$t('items')
        });
      }
    },
    async remove(product_id) {
      await this.removeProductFromCart(product_id);
      if (this.removedStatus == 200) {
        this.updatedSuccess()
        this.getUserActiveCart()
      }
    },
    async updateQuantity(product_id, quantity){
      await this.increaseQuantity({
        product: product_id,
        quantity: quantity
      });
      if (this.increasedStatus == 200) {
        this.updatedSuccess()
        this.getUserActiveCart()
      }
    },
    addCoupon() {
      this.$refs.addCoupon.validate();
      this.$q.notify({
        group: false,
        type: "negative",
        message: "Coupon does not exist"
      });
    },
    updatedSuccess() {
      this.updatedBanner = true;
      this.timer = setTimeout(() => {
        (this.updatedBanner = false), (this.timer = void 0);
      }, 3000);
    },
  }
  ,
   mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
};
</script>

<style lang="scss" scoped>

.mobile-cart {
  margin-top: 20px;
}
.cart-items {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}
.cart-container {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 90%;
  margin: 0px auto;
}

.top-list-separator {
  margin-top: 10px;
  margin-bottom: 20px;
}

.product-list {
  padding: 20px;
}

.product {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 140px;
  width: 97%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  // padding-top:0px;
}

.image-container {
  height: 140px;
}

.image-box {
  height: 120px;
  width: 120px;
  border: 1px solid lightgrey;
}

.product-image {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width:100%;
  max-height:100%;
}

.details-container {
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0px;
}


.details-box {
  display: grid;
  grid-template-columns: 100%;
  margin-left: 5px;
}

.product-attributes{
font-size:12px;
width:auto;
display:inline-block;
}


.bottom-line {
 position: absolute;
 width: 90%;
 display: flex;
 align-items: center;
 bottom: 0px;
}

.quantity-text {
    font-size: 12px;
  }

.remove-item {
  display: flex;
  align-items: center;
}

.arrow-down,
.arrow-up {
  color: #3b3f4c;
  cursor: pointer;
  size: 20px;
}



.arrow-up:hover,
.arrow-down:hover {
  color: #0b1322;
}

.wishlist {
    display: none;
  }

.remove-item{
  cursor: pointer;
  font-size: 12px;
}


.remove-item:hover {
  color: #3b3f4c;
}

.your-basket {
  font-size: 18px;
  font-weight: 100;
}

.list-separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-separator-top {
  margin-top: 15px;
  margin-bottom: 30px;
}

.bottom-bar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .discount-codes {
    cursor: pointer;
    height: 55px;
    width: 200px;
    border: 1px solid #cccccc;
    width: 100%;
    margin-bottom: 20px;
  }

  .discount-code {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 16.5px;
  }

  .summary {
    width: 100%;
  }

  .prices {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    // margin-top:10px;
  }

  .subtotal {
    font-size: 19px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

.quantity__input {
  width: 25px;
  height: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
}

.quantity-input {
  display: flex;
  align-items: center;
  // margin-bottom:30px;
}

.product-title {
  font-size: 13px;
  height: 70px;
  font-weight:700;
  text-decoration:none;
}

.product-price {
  font-size: 16px;
  float: right;
}
@media screen and(max-width: 494px) {
 .image-box {
  height: 100px;
  width: 100px;
  border: 1px solid lightgrey;
}


.product-attributes{
font-size:11px;
width:auto;
display:inline-block;
}

}

@media screen and(max-width: 414px) {
 .image-box {
  height: 95px;
  width: 95px;
  border: 1px solid lightgrey;
}


.product-attributes{
font-size:11px;
width:auto;
display:inline-block;
}

}

@media screen and(max-width: 411px) {
 .image-box {
  height: 90px;
  width: 90px;
  border: 1px solid lightgrey;
}


.product-attributes{
font-size:9px;
width:auto;
display:inline-block;
}

}

@media screen and(max-width: 360px) {
 .image-box {
  height: 80px;
  width: 80px;
  border: 1px solid lightgrey;
}


.product-attributes{
font-size:9px;
width:auto;
display:inline-block;
}

}

@media screen and(max-width: 322px) {
 .image-box {
  height: 70px;
  width: 70px;
  border: 1px solid lightgrey;

}


.product-attributes{
font-size:9px;
width:auto;
display:inline-block;
}

.bottom-line {
 position: absolute;
 width: 80%;
 display: flex;
 align-items: center;
 bottom: 0px;
}

}

@media screen and(max-width: 275px) {
 .image-box {
  height: 50px;
  width: 50px;
  border: 1px solid lightgrey;
}


.product-attributes{
font-size:9px;
width:auto;
display:inline-block;
}

}





.product-image {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width:100%;
  max-height:100%;
}

</style>
