<template>
  <div>
    <div class="main-container q-pt-md">
      <div class="text-h4 q-pl-md">Create Review</div>
      <q-option-group :options="options" label="Notifications" type="radio" v-model="group" />
      <q-item>
        <q-item-section top avatar>
          <q-avatar rounded>
            <img :src="image" />
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label class="text-bold">{{title}}</q-item-label>
        </q-item-section>
      </q-item>
      <q-separator />
      <q-card class="my-card">
        <q-card-section>
          <p class="text-h6">Review title</p>
          <q-input
            square
            outlined
            v-model="reviewTitle"
            placeholder="Nice designed, nice look, modern laptop with so many features and big memory, so the RAM, too."
            class="q-mb-md"
            :rules="[val => !!val || 'Please fill the title field']"
          />
          <p class="text-h6">Review description</p>
          <q-input
            v-model="reviewDescription"
            type="textarea"
            placeholder="Really amazing product, I've never bought such kind of product from any online stores..."
            outlined
            bg-color="grey-1"
            square
            :rules="[val => !!val || 'Please fill the desription field']"
          />
        </q-card-section>
        <q-card-section>
          <p class="text-h6">General Rating</p>
          <q-rating color="orange" v-model="generalRating" size="3em" icon="star" />
          <q-separator inset />
          <div class="q-mt-md">
            <p class="text-subtitle1">Rating for money</p>
            <q-rating color="orange" v-model="moneyRating" size="2em" icon="star" />
            <br />
            <p class="text-subtitle1">Rating for presentation</p>
            <q-rating color="orange" v-model="presentationRating" size="2em" icon="star" />
            <br />
            <p class="text-subtitle1">Easy to assemble</p>
            <q-rating color="orange" v-model="assembleRating" size="2em" icon="star" />
          </div>
        </q-card-section>
        <q-card-section class="column wrap">
          <label class="text-h6" for="countrySelect">Select a country</label>
          <q-select
            style="max-width:  200px;"
            class="q-mt-sm col-4"
            id="countrySelect"
            v-model="country"
            :options="countryOptions"
            outlined
            square
            emit-value
            map-options
            options-dense
          />
        </q-card-section>
      </q-card>
      <q-separator inset />
      <q-card class="my-card">
        <q-card-section>
          <!-- <VueFileAgent
            ref="vueFileAgent"
            :theme="'grid'"
            :multiple="true"
            :deletable="true"
            :meta="true"
            :accept="'image/*'"
            :maxSize="'10MB'"
            :maxFiles="5"
            :helpText="'Choose  only image files'"
            :errorText="{
              type: 'Invalid file type. Only images are allowed',
              size: 'Files should not exceed 10MB in size',
            }"
            @select="filesSelected($event)"
            @delete="fileDeleted($event)"
            v-model="fileRecords"
          ></VueFileAgent>-->
          <!-- <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()"/> -->
          <q-uploader
            square
            bordered
            auto-expand
            hide-upload-button
            hide-upload-progress
            hide-upload-btn
            maxSize="10MB"
            maxFiles="5"
            accept="png, jpeg, jpg, mp4, mov, avi"
            inverted
            clearable
            class="no-box-shadow"
            color="transparent"
            text-color="black"
            url="http://localhost:4444/upload"
            label="Upload only image and Video files"
            multiple
            stack-label="Imagem Principal"
            extensions=".jpg,.jpeg,.png"
            @added="file_selected"
            style="width: auto"
            batch
          >
            <!--           ref="image"
          :v-model="data.image"
          @blur="$v.data.image.$touch"
            :error="$v.data.image.$error"-->
            <template v-slot:list="scope">
              <q-list separator>
                <q-item v-for="(file, index) in scope.files" :key="index">
                  <q-item-section>
                    <q-item-label class="full-width ellipsis">{{ file.name }}</q-item-label>

                    <!-- <q-item-label caption>Status: {{ file.__status }}</q-item-label> -->

                    <q-item-label caption>{{ file.__sizeLabel }} / {{ file.__progressLabel }}</q-item-label>
                  </q-item-section>

                  <q-item-section v-if="file.__img" thumbnail class="gt-xs">
                    <img :src="file.__img.src" />
                  </q-item-section>

                  <q-item-section top side>
                    <q-btn
                      flat
                      color="transparent no-box-shadow no-outline no-border"
                      text-color="black"
                      @click="scope.removeFile(file)"
                    >
                      <q-icon name="clear" mouse="pointer" />
                    </q-btn>
                  </q-item-section>
                </q-item>
              </q-list>
            </template>
          </q-uploader>
        </q-card-section>
        <q-card-section style="margin: 20px 0px;" class="row justify-between">
          <q-btn
            @click="$router.push('/your-orders')"
            class="no-border-radius q-py-xs"
            icon-right="arrow_right_alt"
            color="secondary"
            text-color="white"
            label="Cancel &amp; go to your orders"
          />
          <!-- USE THIS TO UPLOAD @click="uploadFile()" insted of @click="showNotif" -->
          <q-btn
            @click="createReview"
            class="no-border-radius q-mt-md q-py-xs"
            icon-right="arrow_right_alt"
            color="primary"
            text-color="white"
            label="Submit the review details"
            :disable="!reviewTitle || !reviewDescription || generalRating === 0"
          />
        </q-card-section>
      </q-card>
    </div>
    <q-dialog persistent v-model="errorAlert">
      <q-card>
        <q-card-section class="row items-center justify-center">
          <q-avatar icon="error" color="primary" text-color="white" />
          <span
            class="q-ml-sm q-mt-md"
          >Please fill all required(review title,description & main rating) sections at least.</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Check fields" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog persistent v-model="successAlert">
      <q-card>
        <q-card-section class="row items-center justify-center">
          <q-avatar icon="check" color="primary" text-color="white" />
          <span
            class="q-ml-sm q-mt-md"
          >Your review has been created just check your Email for a successful left review message.</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Check fields" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errorAlert: false,
      successAlert: false,
      selected_file: null,
      check_if_document_upload: false,
      files: "",
      productId: "",
      title: "",
      image: "",
      generalRating: 0,
      moneyRating: 0,
      presentationRating: 0,
      assembleRating: 0,
      reviewTitle: "",
      reviewDescription: "",
      // Upload
      fileRecords: [],
      uploadUrl: "https://www.mocky.io/v2/5d4fb20b3000005c111099e3",
      uploadHeaders: { "X-Test-Header": "vue-file-agent" },
      fileRecordsForUpload: [],
      country: "UZ",
      countryOptions: [
        { value: "UZ", label: "Uzbekistan" },
        { value: "UK", label: "United Kingdom" },
        { value: "DE", label: "Germany" },
        { value: "US", label: "England" }
      ]
    };
  },
  methods: {
    file_selected(file) {
      this.selected_file = file;
      this.check_if_document_upload = true;
    },
    reviewCreated() {
      (this.successAlert = true),
        (self = this),
        setTimeout(function() {
          self.successAlert = false;
          self.$router.push("/payment-methods");
        }, 4000);
    },
    async getProduct() {
      await this.$axios
        .get(
          this.$baseURL+'/api/products/v1/order/product/detail/${this.$route.query.itm}/'
        )
        .then(r => {
          (this.title = r.data.title),
            (this.productId = r.data.id),
            (this.image = r.data.images);
        })
        .catch(error => {
          console.log("Get product error: ", error);
        });
    },
    async createReview() {
      let url = this.$baseURL+"/api/reviews/v1/create_review/";
      let formData = new FormData();
      formData.append("product", this.productId);
      formData.append("title", this.reviewTitle);
      formData.append("comment", this.reviewDescription);
      formData.append("rating", this.generalRating);
      formData.append("presentation_rating", this.presentationRating);
      formData.append("assemble_rating", this.assembleRating);
      formData.append("value_rating", this.moneyRating);
      formData.append("review_from", this.country);
      if (this.selected_file != null) {
        this.selected_file.forEach(item => formData.append("image", item));
      } else {
        formData.append("ímage", null);
      }
      await this.$axios
        .post(url, formData, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("access_token")}`
          }
        })
        .then(r => {
          if (r.status == 200 || r.status == 201) {
            this.reviewCreated();
          }
        })
        .catch(e => {
          this.errorAlert = true;
          setTimeout(() => {
            this.errorAlert = false;
          }, 10000);
        });
    }
  },
  mounted() {
    this.getProduct();
  }
};
</script>

<style scoped>
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
@media screen and (min-wdth: 1366px) {
  .main-container {
    margin: 0px 12vw !important;
  }
}
@media (max-width: 1366px) and (min-width: 1024px) {
  .main-container {
    margin: 0px 200px;
  }
}
@media (max-width: 1024px) and (min-width: 600px) {
  .main-container {
    margin: 0px 80px;
  }
}
@media (max-width: 600px) and (min-width: 0px) {
  .main-container {
    margin: 0px 10;
  }
}
.q-item__section--thumbnail img {
  width: auto;
}
</style>