<template>
  <div>
    <q-card class="my-card">
      <q-img class="search-terms" src="statics/pattern.svg" alt="no" />
      <div class="row no-wrap nowrap full-width justify-center absolute-center">
        <div
          class="text-center text-h6 text-white to-top"
        >You searched for "{{ this.$route.query.k }}"</div>
      </div>
      <h2
        class="absolute-center q-pt-xl text-caption text-white"
      >{{ totalProducts | formatNum }} results</h2>
    </q-card>
    <div
      class="row q-mt-sm list-container items-center full-width"
      :class="windowWidth < 1024 ? 'full-width' : 'justify-between'"
    >
      <div class="row items-center selection-container" style="width: 100%">
        <div
          v-if="windowWidth < 1024"
          class="row items-center justify-center"
          :style="windowWidth <= 500 ? 'width: 50%' : ''"
          :class="[windowWidth <= 500 ? 'selection-border' : '', windowWidth < 1024 && windowWidth > 500 ? 'q-mr-sm' : '']"
        >
          <slot v-if="windowWidth < 1024" name="toggle"></slot>
        </div>
        <div
          class="row justify-center items-center"
          :style="windowWidth <= 500 ? 'width: 50%' : ''"
          :class="windowWidth <= 500 ? 'selection-border' : ''"
        >
          <q-select
            borderless
            class="text-greying"
            option-value="value"
            option-label="label"
            emit-value
            map-options
            ref="filter"
            v-model="filter"
            :options="filters"
            options-selected-class="invisible-option"
            @input="sortBy()"
          />
        </div>
        <!-- <div class="row items-center">
     <p class="text-bold sortby q-my-md q-ml-md q-mr-sm">Price</p>
     <q-select
          borderless
          option-value="value"
          option-label="label"
          emit-value
          map-options
          ref="filter"
          v-model="filter"
          :options="filters"
          @input="priceBy()"
        />
        </div>-->
        <div class="mobile-hide native-mobile-hide cordova-hide" v-if="windowWidth > 500">
          <q-btn-toggle
            v-model="product_view"
            toggle-color="primary"
            flat
            :options="[{ value: 'one', slot: 'one' }]"
            @input="$emit('activeGrid',true)"
          >
            <template v-slot:one>
              <q-icon name="view_module" />
            </template>
          </q-btn-toggle>
          <!-- <q-btn>

          </q-btn>-->

          <q-btn-toggle
            v-model="product_view"
            toggle-color="primary"
            flat
            :options="[{ value: 'two', slot: 'two' }]"
            @input="$emit('activeGrid',false)"
          >
            <template v-slot:two>
              <q-icon name="reorder" />
            </template>
          </q-btn-toggle>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  data() {
    return {
      tasks: "something",
      windowWidth: window.innerWidth,
      product_view: "one",
      gridActive: false,
      filter: 'Sort by',
      filters: [
        { label: this.$t("default"), value: "" },
        { label: this.$t("ascending"), value: "ascending" },
        { label: this.$t("descending"), value: "descending" }
      ],
      // sort values
      maxPrice: 10000,
      minPrice: 10000000
    };
  },

  computed: {
    plhLabel() {
      if (this.filter === "") {
        return "Sort by";
      } else {
        return "Best match";
      }
    },
    ...mapState("searchProducts", ["totalProducts"]),
    urlquery() {
      let myquery = {
        k: this.$route.query.k,
        cpn: this.$route.query.cpn
      };
      if (!this.$route.query.st) {
        myquery["st"] = this.filter;
      }
      return myquery;
    }
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  beforeMount() {
    if (this.$route.query.st) {
      this.filter = this.$route.query.st;
    }
  },

  methods: {
    sortBy() {
      if (this.filter != "") {
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search.slice(1));
        params.set("st", this.filter);
        let newUrl = window.location.pathname + "?" + params;
        this.$router.push(newUrl);
      } else {
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search.slice(1));
        params.delete("st");
        let newUrl = window.location.pathname + "?" + params;
        this.$router.push(newUrl);
      }
    },

    ...mapMutations("searchProducts", ["updateLoader"]),
    sortProductList(value) {
      this.updateLoader();
      this.$router
        .push({
          name: "search",
          query: {
            k: this.$route.query.k,
            cpn: 1,
            st: value,
            minp: this.minPrice,
            maxp: this.maxPrice
          }
        })
        .catch(err => {});
    }
  }
};
</script>

<style scoped>
.search-terms {
  width: 100%;
  height: 200px;
  background: url("../../../statics/pattern.svg");
  background-size: cover;
}
.to-top {
  margin-top: -5px;
}

/* Icon styles */
.tool-bar a {
  background: rgba(255, 255, 255, 0.5) center center no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  text-decoration: none;
  width: 16px;
}
.tool-bar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .tool-bar a.active {
  background-color: rgba(0, 0, 0, 0.5);
} */

.tool-bar a.active:hover {
  cursor: default;
}
.tool-bar a.list-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTAgLjMyMmgxNnYySDB6bTAgN2gxNnYySDB6bTAgNmgxNnYySDB6IiBvcGFjaXR5PSIuMyIgZmlsbD0iIzBCMTMyMiIvPgo8L3N2Zz4K");
  width: 19px;
  height: 16px;
  background-size: contain;
}
.tool-bar a.list-icon.active {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTAgMGgxNnYySDBWMHptMCA3aDE2djJIMFY3em0wIDZoMTZ2Mkgwdi0yeiIgZmlsbD0iIzBCMTMyMiIvPgo8L3N2Zz4K");
  width: 19px;
  height: 16px;
  background-size: contain;
}
.tool-bar a.grid-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTAgMGg2LjY0NHY2LjY0NEgwem05IDBoNi42NDR2Ni42NDRIOXpNMCA5aDYuNjQ0djYuNjQ0SDB6bTkgMGg2LjY0NHY2LjY0NEg5eiIgb3BhY2l0eT0iLjMiIGZpbGw9IiMwQjEzMjIiLz4KPC9zdmc+Cg==");
}
.tool-bar a.grid-icon.active {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZmlsbD0iIzBCMTMyMiIgZD0iTTAgMGg2LjY0NHY2LjY0NEgwem05IDBoNi42NDR2Ni42NDRIOXpNMCA5aDYuNjQ0djYuNjQ0SDB6bTkgMGg2LjY0NHY2LjY0NEg5eiIvPgo8L3N2Zz4K");
}

/* Typographic styles */
.found-products {
  margin: 0;
  padding: 0;
}
/* .list-container {
  margin: 10px 65px;
} */
.selection-border {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.selection-border:nth-child(1) {
  border-right: 0.5px solid lightgrey;
}
@media screen and (min-width: 720px) {
  .selection-container {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 720px) and (min-width: 500px) {
  .selection-container {
    display: flex;
    justify-content: center;
  }
}
.text-greying >>> span {
  color: #666666;
}
</style>
