
<template>
  <div>
    <smth-went-wrong-message v-if="smthWemtWrongMessage"></smth-went-wrong-message>
    <no-product-message v-if="noProductMessage && newCategoryList.length == 0"></no-product-message>
    <div v-if="productListLoader" class="loading-box">
      <go-loader></go-loader>
    </div>
    <div v-if="!smthWemtWrongMessage && newCategoryList.length != 0">
      <!-- Pls, Don't touch the other methods and functions just add yours,
      if needed to edit, tell about that in Slack software-->
      <product-list-header v-on:activeGrid="checkGrid($event)">
        <template v-slot:toggle>
          <q-btn
            @click="openMenu"
            flat
            color="transparent"
            text-color="grey-7"
            :class="windowWidth <= 500 ? 'full-width' : ''"
            :style="windowWidth <= 500 ? {padding: '10px 0'}: {}"
            :label="$t('filterby')"
          />
        </template>
      </product-list-header>
      <q-separator spaced />
      <div class="go-products-list-area-container">
        <div
          class="row list-container justify-between items-start"
          :style="windowWidth > 1100 ? 'width:1366px': 'width:100%'"
        >
          <go-drawer :direction="'left'" :exist="true" ref="leftSideCategoryDrawer">
            <product-list-filter
              v-on:filter="filterByAspect()"
              style="color:black"
              class="bg-white"
            ></product-list-filter>
          </go-drawer>
          <product-list-filter
            v-if="windowWidth >= 1024"
            v-on:filter="filterByAspect()"
            style="color:black"
            class="bg-white"
          ></product-list-filter>
          <div class="col row justify-center products">
            <div v-if="noProductMessage" class="text-h2 franchise">{{$t('noProduct')}}!</div>
            <div class="product-card-grid-container q-mb-md" v-if="!loader & gridActive">
              <product-card-grid
                class="product-card-grid"
                v-for="(product, index) in newProductList"
                :key="index"
                :url="product['galleryURL']"
                :author="product['category_name']"
                :title="product.title"
                :price="product.converted_price | sum"
                :old="product.old_price"
                :productID="product.id"
                :container="product.is_blacklisted === 'True' ? 'dont-allow' : ''"
                :class="product.is_blacklisted === 'True' ? 'no-pointer-events' : ''"
                :style="product.is_blacklisted === 'True' ? 'user-select:none;cursor: not-allowed!important;' : 'cursor: pointer'"
                :isDisabled="product.is_blacklisted === 'True' ? true : false"
              />
            </div>
            <div class="row justify-center" v-else-if="!loader & !gridActive">
              <!-- FOR MORE ABOUT BLACKLISTED DIVS:     https://codepen.io/Impeccable-Ninja/pen/dyYYvKZ -->
              <product-card-list
                class="q-ma-sm col-12"
                v-for="(product, index) in newProductList"
                :key="index"
                :url="product['galleryURL']"
                :author="product['category_name']"
                :title="product.title"
                :price="product.converted_price | sum"
                :old="product.old_price"
                :productID="product.id"
                :container="product.is_blacklisted === 'True' ? 'dont-allow' : ''"
                :class="[product.is_blacklisted === 'True' ? 'no-pointer-events' : '']"
                :style="product.is_blacklisted === 'True' ? 'user-select:none;cursor: not-allowed!important;' : 'cursor: pointer'"
                :isDisabled="product.is_blacklisted === 'True' ? true : false"
              />
            </div>
            <div class="row justify-between" v-if="loader">
              <div v-for="(n, index) in 25" class="q-pa-md" :key="index">
                <q-card flat style="max-width: 200px; ">
                  <q-skeleton height="150px" square />

                  <q-card-section>
                    <q-skeleton type="text" class="text-subtitle1" />
                    <q-skeleton type="text" width="180px" class="text-subtitle1" />
                    <q-skeleton type="text" class="text-caption" />
                  </q-card-section>
                </q-card>
              </div>
            </div>
            <pagination v-if="newProductList.length > 0" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import SearchProducts from "../../shared/services";
export default {
  data() {
    return {
      windowWidth: window.innerWidth,
      gridActive: true,
      blacklisted: false
      // categoryName: this.$route.query.cn,
      // level: this.$route.query.cl
    };
  },
  components: {
    "product-card-grid": require("./components/product-card-grid").default,
    "product-card-list": require("./components/product-card-list").default,
    "product-list-filter": require("./product-list-filter").default,
    "product-list-header": require("./product-list-header").default,
    pagination: require("../../shared/components/custom-components/primary-pagination")
      .default,
    "smth-went-wrong-message": require("../../extra-pages/smth-went-wrong")
      .default,
    "no-product-message": require("../../extra-pages/no-product").default
  },

  methods: {
    openMenu() {
      if (this.$refs.leftSideCategoryDrawer.active) {
        this.$refs.leftSideCategoryDrawer.close();
      } else {
        this.$refs.leftSideCategoryDrawer.open();
      }
    },
    filterByAspect() {
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search.slice(1));
      let leng = 0;
      while (params.has("name" + leng)) {
        params.delete("name" + leng);
        params.delete("value" + leng);
        leng++;
      }
      this.aspectValuesList.forEach(function(item, i) {
        let aspectValues = "";
        item.values.forEach(function(value, k) {
          k == 0 ? (aspectValues += value) : (aspectValues += "|" + value);
        });
        params.set("name" + i, item.name);
        params.set("value" + i, aspectValues);
      });
      let newUrl = window.location.pathname + "?" + params;
      this.$router.push(newUrl);
    },
    checkGrid(value) {
      this.gridActive = value;
    },
    ...mapActions("searchProducts", [
      "searchProduct",

      "updateProductList",
      "updateAspectList",
      "rootCategoryList",
      "childCategoryList",
      "filterProductListByAspects",
      "sortProductList",
      "updateCategory"
    ]),
    ...mapMutations("searchProducts", [
      "updateLoader",
      "updateExceptionMEssages"
    ])
  },
  beforeCreate() {
    this.windowWidth = window.innerWidth;
  },
  mounted() {
    let self = this;
    window.addEventListener("resize", () => {
      self.windowWidth = window.innerWidth;
    });
  },
  computed: {
    ...mapState("searchProducts", [
      "newProductList",
      "aspectValuesList",
      "loader",
      "categoryName",
      "level",
      "smthWemtWrongMessage",
      "noProductMessage",
      "aspectListInStore",
      "newCategoryList",
      "productListLoader"
    ])
    // ...mapState("searchProducts", ["productListInStore"]),
  },

  created() {
    let url = new URL(window.location.href);
    this.searchProduct(url);
  }
};
</script>

<style scoped>
.product-card-grid-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  /* justify-content: space-around; */
}
.product-card-grid {
  width: 20%;
  margin: 0 2.5%;
  margin-bottom: 20px;
}
@media (max-width: 800px) and (min-width: 600px) {
  .product-card-grid {
	width: 30%;
	margin: 0px 1.6%;
  }
}
@media (max-width: 600px) and (min-width: 0px) {
  .product-card-grid {
    width: 48%;
    margin: 1%;
  }
}

.list-container {
  margin: 10px 30px;
}
@media screen and (min-width: 1024px) {
  .list-container {
    margin: 10px 25px;
  }
}

.go-products-list-area-container {
  display: flex;
  justify-content: center;
}
/* Here to get rid of mobile styles */
@media (max-width: 500px) and (min-width: 0px) {
  .go-products-list-area-container {
    background: #efefef;
  }
  .list-container {
    margin: 0px 10px;
  }
  .product-card-grid {
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
  }
}
@media (max-width: 1366px) and (min-width: 0px) {
  .go-products-list-area {
    max-width: auto;
  }
}
</style>
