<template>
  <div>
      <div class="mobile-hidden">
        <p class="text-h6 q-pt-md text-bold q-pl-md">{{$t('searchWord')}}</p>
        <div>
          <div class="category-list">
            <a class="all-categories" v-if="$route.query.cid" @click="fetchAllCategories()">{{$t('all')}}</a>
            <ul style="padding-left:5%;" v-if="showRootCategory">
              <li
                :class="$route.query.cid != undefined || newCategoryList.length == 1 ? 'new-root-category' : 'root-categories'"
                v-for="(rootCategory, index) in filteredCategories"
                :key="index"
              >
                <span
                  :class="$route.query.cid != undefined || newCategoryList.length == 1 ? 'text-bold' :''"
                  @click="updateCategory(rootCategory['categoryId'])"
                >{{rootCategory['categoryName']}}</span>
                <ul v-if="$route.query.cid != undefined || newCategoryList.length == 1" class="q-pa-sm">
                  <li
                    class="root-categories"
                    v-for="(child, newIndex) in filteredChildCategories"
                    :key="newIndex"
                    @click="updateCategory(child['categoryId'])"
                  >{{child['categoryName']}}</li>
                  <li class="showMore items-center" v-if="lengthChildCategories > 6">
                    <span v-if="!showChildCategories" @click="showChildCategories = true">
                      {{$t('more')}}
                     <q-icon color="#0B1322" size="xs" name="keyboard_arrow_down" />
                    </span>
                    <span v-else @click="showChildCategories = false">
                     {{$t('fewer')}}
                    <q-icon color="#0B1322" size="xs" name="keyboard_arrow_up" />
                    </span>
                  </li>
                </ul>
              </li>
              <li class="showMore" v-if="newCategoryList.length > 6">
                <span v-if="!showAllCategories" @click="showAllCategories = true">
                  {{$t('showMore')}}
                  <q-icon color="#0B1322" size="sm" name="keyboard_arrow_down" />
                </span>
                <span v-else @click="showAllCategories = false">
                  {{$t('showLess')}}
                  <q-icon color="#0B1322" size="sm" name="keyboard_arrow_up" />
                </span>
              </li>
            </ul>
          </div>
          <category-list-sceleton v-if="!showRootCategory"></category-list-sceleton>
        </div>
        <q-list bordered class="q-mt-md" style="max-width:100%;">
          <q-expansion-item
            class="q-mb-sm"
            label="Price Range"
            style="min-width:250px;"
            default-opened
            header-class="text-white bg-secondary"
          >
            <q-input
              class="q-pa-sm text-h6"
              outlined
              v-model="from"
              ref="fromPrice"
              label="From"
              :mask="'### ### ### ### '+$t('sum')"
              unmasked-value
              reverse-fill-mask
              input-class="text-right"
            />
            <q-input
              class="q-pa-sm text-h6"
              outlined
              v-model="to"
              ref="toPrice"
              label="To"
              :mask="'### ### ### ### '+$t('sum')"
              unmasked-value
              reverse-fill-mask
              input-class="text-right"
              @keyup.enter="priceRange()"
            />
            <q-btn
              flat
              square
              @click="reset()"
              label="Reset"
              style="width:50%"
              class="q-pa-xs no-border-radius"
            >
              <q-icon name="clear" size="xs" class="q-ml-xs" />
            </q-btn>
            <q-btn
              color="primary"
              square
              @click="priceRange()"
              :disabled="from != '' & to != '' ? false : true"
              icon-right="search"
              label="Apply"
              style="width:50%"
              class="q-pa-xs no-border-radius no-shadow"
            />
          </q-expansion-item>

          <q-expansion-item
            v-for="(item, index) in filteredAspects"
            :key="index"
            :label="item._name"
            :default-opened="index > 6 ? false : true"
            header-class="text-white bg-secondary"
          >
            <q-scroll-area
              v-if="item['valueHistogram'].length > 4"
              style="width: 100%; height: 200px;"
            >
              <q-list>
                <q-item>
                  <q-item-section avatar>
                    <div class="q-gutter-sm">
                      <aspect-options
                        v-for="(subItem, index) in item['valueHistogram']"
                        :aspectValue="subItem['_valueName']"
                        :aspectName="item['_name']"
                        :key="index"
                      ></aspect-options>
                    </div>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-scroll-area>
            <q-list v-else>
              <q-item>
                <q-item-section avatar>
                  <div class="q-gutter-sm">
                    <aspect-options
                      v-for="(subItem, index) in item['valueHistogram']"
                      :aspectValue="subItem['_valueName']"
                      :aspectName="item['_name']"
                      :key="index"
                    ></aspect-options>
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </q-expansion-item>
        </q-list>
        <div v-if="aspectListInStore && aspectListInStore.length != 0">
          <q-btn
            flat
            square
            v-if="!showAllAspects"
            @click="showAllAspects = true"
            :label="$t('showMore')"
            class="q-pa-xs no-border-radius full-width"
          />
          <q-btn
            flat
            square
            v-if="showAllAspects"
            @click="showAllAspects = false"
            :label="$t('showLess')"
            class="q-pa-xs no-border-radius full-width"
          />
          <div class="row">
            <q-btn
              flat
              square
              @click="resetAspects()"
              label="Clear All"
              style="width:50%"
              class="q-pa-xs no-border-radius"
            >
            <q-icon name="clear" size="xs" class="q-ml-xs" />
            </q-btn>
            <q-btn
              color="primary"
              square
              @click="$emit('filter')"
              icon-right="search"
              label="Apply"
              style="width:50%"
              class="q-pa-xs no-border-radius no-shadow"
            />
          </div>
        </div>
      </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      aspectOpened: true,
      from: this.$route.query.min ? this.$route.query.min : "",
      to: this.$route.query.max ? this.$route.query.max : "",
      showAllCategories: false,
      showChildCategories: false,
      showAllAspects: false
    };
  },
  methods: {
    ...mapActions("searchProducts", ["filterProductListByAspects", "selectedAspects"]),
    priceRange() {
      if ((this.from != "") & (this.to != "")) {
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search.slice(1));
        params.set("min", this.from);
        params.set("max", this.to);
        let newUrl = window.location.pathname + "?" + params;
        this.$router.push(newUrl);
      }
    },
    reset() {
      if(this.$route.query.min && this.$route.query.max){
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search.slice(1));
        params.delete("min");
        params.delete("max");
        let newUrl = window.location.pathname + "?" + params;
        this.$router.push(newUrl);
      }else{
        this.from = "";
        this.to = "";
      }
    },
    resetAspects() {
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search.slice(1));
      let leng = 0
      while(params.has('name'+leng)){
        params.delete('name'+leng)
        params.delete('value'+leng)
        leng++;
      }
      this.selectedAspects()
      let newUrl = window.location.pathname + "?" + params;
      this.$router.push(newUrl);
    },
    updateCategory(cat_id) {
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search.slice(1));
      params.set("cid", cat_id);
      let newUrl = window.location.pathname + "?" + params;
      this.$router.push(newUrl);
    },
    fetchAllCategories() {
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search.slice(1));
      params.delete("cid");
      let newUrl = window.location.pathname + "?" + params;
      this.$router.push(newUrl);
    }
  },
  computed: {
    ...mapState("searchProducts", [
      "categoryTrees",
      "loader",
      "categoryLoader",
      "aspectListInStore",
      "categoryObj",
      "showRootCategory",

      "newCategoryList"
    ]),
    filteredCategories() {
      if (!this.showAllCategories) {
        return this.newCategoryList.slice(0, 6);
      } else {
        return this.newCategoryList;
      }
    },
    filteredAspects() {
      if (!this.showAllAspects) {
        return this.aspectListInStore.slice(0, 6);
      } else {
        return this.aspectListInStore;
      }
    },
    filteredChildCategories() {
      if(this.filteredCategories[0]["childCategoryHistogram"].length){
        if (!this.showChildCategories) {
          return this.filteredCategories[0]["childCategoryHistogram"].slice(0, 6);
        } else {
          return this.filteredCategories[0]["childCategoryHistogram"];
        }
      }else{
        var a = [];
        a.push(this.filteredCategories[0]["childCategoryHistogram"])
        return a
      }
    },
    lengthChildCategories(){
      return this.filteredCategories[0]["childCategoryHistogram"].length
    }
  },
  components: {
    // "category-list": require("./components/category-list").default,
    aspects: require("./components/aspects/aspects").default,
    "aspect-options": require("./components/aspects/aspect-options").default,
    "category-list-sceleton": require("./components/sceletons/category-list")
      .default,

  }
};
</script>
<style scoped lang="scss">
.all-categories {
  margin-top: 10%;
  cursor: pointer;
  font-size: 13px;
  color: #0b1322;
}

.category-list {
  width: 100%;
}

.root-categories {
  cursor: pointer;
  margin-bottom: 7px;
  font-size: 13px;
  list-style: none;
  color: #0b1322;
}
.new-root-category {
  font-size: 14px;
  list-style: none;
  color: #0b1322;
}
.all-categories:hover,
.root-categories:hover {
  text-decoration: underline;
  opacity: 100%;
}
.showMore {
  display: flex;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 7px;
  list-style: none;
  color: #0b1322;
}
.parent-category {
  list-style: none;
  cursor: pointer;
  font-size: 13px;
}

.parent-category:hover {
  text-decoration: underline;
}
.current-category {
  list-style: none;
  font-size: 13px;
  color: #000000;
  cursor: auto;
  font-weight: bold;
}
.child-categories {
  list-style: none;
  font-size: 13px;
  cursor: pointer;
}

.child-categories:hover {
  text-decoration: underline;
}
</style>
