<template>
  <div class="column">
    <div class="text-h5 text-bold q-mb-md">Select a method of delivery</div>
    <q-list class="bordered-item" style="width: 100%;">
      <q-item class="list-border q-pa-md" tag="label" v-ripple>
        <q-item-section side top>
          <q-radio v-model="shape" :val="false" />
        </q-item-section>
        <q-item-section>
          <div class="fill row wrap flex justify-between">
            <div class="fiil flex column text-left">
              <q-item-label class="text-subtitle4">{{$t('standard_delivery')}}</q-item-label>
              <q-item-label class="text-bold text-subtitle2">
                <!--{{orderDetail.standart_deliver_fee | sum}}-->
                Order detailstandart delivery fee
              </q-item-label>
            </div>
            <div class="fiil flex column text-right">
              <q-item-label class="text-subtitle1">
                <!--{{$t('estimated_date')}}-->
                Estimated date
              </q-item-label>
              <q-item-label class="text-bold text-subtitle2">
                <!--{{moment(orderDetail.delivered_date).format('LLLL')}}-->
                Date
              </q-item-label>
            </div>
          </div>
        </q-item-section>
      </q-item>
    </q-list>
    <q-list class="bordered-item" style="width: 100%;">
      <q-item class="list-border q-pa-md" tag="label" v-ripple>
        <q-item-section side top>
          <q-radio v-model="shape" :val="true" />
        </q-item-section>
        <q-item-section>
          <div class="fill row wrap flex justify-between">
            <div class="fiil flex column text-left">
              <q-item-label class="text-subtitle4">{{$t('fragile_delivery')}}</q-item-label>
              <q-item-label class="text-bold text-subtitle2">
                ordder derlivery
                <!--{{orderDetail.fragile_deliver_fee | sum}}-->
              </q-item-label>
            </div>
            <div class="fiil flex column text-right">
              <q-item-label class="text-subtitle1">
                <!--{{$t('estimated_date')}}-->
                Estimated date
              </q-item-label>
              <q-item-label class="text-bold text-subtitle2">
                <!--{{moment(orderDetail.delivered_date).format('LLLL')}}-->
                Some date
              </q-item-label>
            </div>
          </div>
        </q-item-section>
      </q-item>
    </q-list>
    <q-card class="bg-grey-3 q-mt-md" square>
      <q-card-section>
        For fragile delivery, special packaging will be used. If the goods
        are broken by the delivery
        <br />company, the cost will be refunded.
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "stepThree",
  data() {
    return {
      shape: false,
      line: false
    };
  }
};
</script>

<style scoped>
.bordered-item {
  border: 1px solid black;
  margin: 5px 0px;
}
</style>