<template>
    <div class="column">
        <div class="text-h5 text-bold q-mb-md">{{$t('select_address')}}</div>

        <q-list>
            <q-radio
                    v-for="(address, index) in addresses" :key="index"
                    v-model="checkedAddress"
                    :val="address.id" v-ripple
                    class="q-pa-md bordered-item relative-position full-width">
                <q-item class="full-width">
                    <q-item-section class="text-left">
                        <q-item-label class="text-subtitle1">
                            {{ address.first_name }} {{ address.last_name }}
                        </q-item-label>
                        <q-item-label class="text-bold text-subtitle2">
                            {{ address.address_line_1 }}, {{ $t(address.city) }},
                            {{ $t(address.country) }}, {{ address.postal_code }}
                        </q-item-label>
                    </q-item-section>
                </q-item>
            </q-radio>
        </q-list>

        <div class="or">
            <span>OR</span>
        </div>

        <q-list separator @click="addNewDelAddressDialog = !addNewDelAddressDialog">
            <q-item v-ripple class="cursor-pointer bordered-item q-pa-md relative-position full-width">
                <q-card-section class="row justify-center items-center text-center full-width">
                    <img src="~/assets/accounts-icons/discountIcon.svg" alt class="q-pr-sm"/>
                    <q-item-label class="text-center">Add new delivery address</q-item-label>
                </q-card-section>
            </q-item>
        </q-list>

        <q-dialog v-model="addNewDelAddressDialog">
            <q-card>
                <q-card-section>
                    <address-form></address-form>
                </q-card-section>
            </q-card>
        </q-dialog>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "stepTwo",
        data() {
            return {
                checkedAddress: 0,
                newAddressDialog: false,
                addNewDelAddressDialog: false
            };
        },
        methods: {
            ...mapActions("address", ["getListAddresses"]),
            async getListAddress() {
                await this.getListAddresses();
                if (this.addresses.length === 0) {
                    this.newAddressDialog = true;
                } else {
                    for (let i = 0; i < this.addresses.length; i++) {
                        if (this.addresses[i].is_default) {
                            this.checkedAddress = this.addresses[i].id;
                        }
                    }
                }
            },
        },
        mounted() {
            this.getListAddresses();
        },
        computed: {
            ...mapGetters("address", ["addresses"]),
        },
        components: {
            "address-form": require("src/app/shared/components/custom-components/forms/personal-details-form")
                .default,
        }
    };
</script>

<style scoped>
    .bordered-item {
        border: 1px solid black;
        margin: 5px 0px;
    }

    .or {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .or span {
        height: 50px;
        width: 50px;
        background: white;
        padding: 5px;
        border-radius: 50rem;
        color: black;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .or:before {
        content: "";
        width: 50%;
        background: black;
        height: 1px;
        left: 0;
        position: absolute;
        z-index: 0;
    }

    .or:after {
        content: "";
        width: 50%;
        background: black;
        height: 1px;
        right: 0;
        position: absolute;
        z-index: 0;
    }
</style>