<template>
  <div>
    <div class="go-stepper--header">
      <div class="go-stepper--step1">
        <div
          class="go-stepper--step__circle"
          :class="[step === 1 ? 'go-stepper-bg-white' : '', step > 1 ? 'go-stepper--bg-primary' : '']"
        >
          <span v-show="step == 1">1</span>
          <img v-show="step > 1" style="margin-top:3px;" src="./check.svg" alt="1" />
        </div>
        <h3
          :class="step > 0 ? 'go-stepper--active-step__title' : 'go-stepper--step__title'"
        >Personal info</h3>
      </div>
      <div class="go-stepper--step2">
        <div
          class="go-stepper--step__circle"
          :class="[step === 2 ? 'go-stepper-bg-white' : '', step > 2 ? 'go-stepper--bg-primary' : '']"
        >
          <span v-show="step == 1 || step == 2">2</span>
          <img v-show="step > 2" style="margin-top:3px;" src="./check.svg" alt="2" />
        </div>
        <h3
          :class="step > 1 ? 'go-stepper--active-step__title' : 'go-stepper--step__title'"
        >Delivery address</h3>
      </div>
      <div class="go-stepper--step3">
        <div
          class="go-stepper--step__circle"
          :class="[step === 3 ? 'go-stepper-bg-white' : '', step > 3 ? 'go-stepper--bg-primary' : '']"
        >
          <span v-show="step == 1 || step == 2 || step == 3">3</span>
          <img v-show="step > 3" style="margin-top:3px;" src="./check.svg" alt="3" />
        </div>
        <h3
          :class="step > 2 ? 'go-stepper--active-step__title' : 'go-stepper--step__title'"
        >Shipping details</h3>
      </div>
      <div class="go-stepper--step4">
        <div
          class="go-stepper--step__circle"
          :class="[step >= 4 ? 'go-stepper-bg-white text-black' : '']"
        >
          <span v-show="step > 1">4</span>
          <!-- <img v-show="step > 4" style="margin-top:3px;" src="./check.svg" alt="4" /> -->
        </div>
        <h3 :class="step > 2 ? 'go-stepper--active-step__title' : 'go-stepper--step__title'">Payment</h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    step: {
      type: Number
    }
  }
};
</script>

<style scoped>
.go-stepper--header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 85px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
@media (max-width: 840px) and (min-width: 0) {
  .go-stepper--header {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    padding: 10px 30px;
  }
}
/* STEPPER ICONS */
.go-stepper--step1,
.go-stepper--step2,
.go-stepper--step3,
.go-stepper--step4 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 16px;
}
.go-stepper--step1,
.go-stepper--step2,
.go-stepper--step3 {
  margin-right: 10px;
}
.go-stepper--step1,
.go-stepper--step3 {
  display: flex;
  justify-content: center;
}
.go-stepper--step__circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background: white;
  opacity: 0.1;
}
.go-stepper--step__title {
  opacity: 0.1;
  color: white;
  font-weight: 100;
  font-size: 14px;
}
.go-stepper--active-step__title {
  opacity: 1;
  color: white;
  font-weight: normal;
  font-size: 16px;
}
.go-stepper--bg-primary {
  background: #ff4733 !important;
  color: white !important;
  opacity: 1;
}
.go-stepper-bg-white {
  background: white;
  opacity: 1;
}
@media (max-width: 570px) and (min-width: 0) {
  .go-stepper--step__circle {
    width: 45px;
    height: 45px;
  }
  .go-stepper--active-step__title {
    font-size: 20px;
  }
}
</style>