<template>
  <div class="column">
    <!-- bordered -->
    <q-markup-table flat>
      <thead class="bg-secondary text-white">
        <tr>
          <th colspan="5">
            <div class="row no-wrap items-center">
              <div class="text-h6 text-white">Order details</div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="bg-grey-3">
        <tr>
          <td>Order is placed on:</td>
          <td>July 9, 2020</td>
        </tr>
        <tr>
          <td>Order reference:</td>
          <td>#10673309681</td>
        </tr>
        <tr>
          <td>Estimated date:</td>
          <td>July 23, 2020</td>
        </tr>
        <tr>
          <td>To be delivered to:</td>
          <td>Abdulakhad Abdusamatov</td>
        </tr>
      </tbody>
    </q-markup-table>
    <q-markup-table class="q-mt-md" flat>
      <thead class="bg-secondary text-white">
        <tr>
          <th colspan="5">
            <div class="row no-wrap items-center">
              <div class="text-h6 text-white">Card details</div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="bg-grey-3">
        <tr>
          <td>Card holder name:</td>
          <td>Admin</td>
        </tr>
        <tr>
          <td>Card Number:</td>
          <td>860049******6478</td>
        </tr>
        <tr>
          <td>Expires:</td>
          <td>03/99</td>
        </tr>
      </tbody>
    </q-markup-table>
    <q-markup-table class="q-mt-md" flat>
      <thead class="bg-secondary text-white">
        <tr>
          <th colspan="5">
            <div class="row no-wrap items-center">
              <div class="text-h6 text-white">Summary</div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="bg-grey-3">
        <tr>
          <td>Total:</td>
          <td>I am 1,490,600</td>
        </tr>
        <tr>
          <td>Delivery:</td>
          <td>I am 180,000</td>
        </tr>
        <tr>
          <td>The result:</td>
          <td>I am 1,610,600</td>
        </tr>
      </tbody>
    </q-markup-table>
    <div class="q-mt-md text-h5 text-center">Products you're buying</div>
    <hr class="q-mb-md" />
    <q-card
      bordered
      square
      class="q-px-md q-py-md q-mt-md no-box-shadow"
      style="max-width: 583px;width: 100%;"
    >
      <q-card-section horizontal>
        <img
          style="max-width: 200px;max-height: 200px;background-size:contain;object-fit:contain;"
          src="https://i.ebayimg.com/00/s/NjA1WDgyOA==/z/37oAAOSwqA9e9JFU/$_12.JPG?set_id=880000500F"
          alt="Product image not found"
        />
        <q-card-section class="q-pt-none">
          <div
            class="text-body1 text-bold ellipsis-3-lines"
          >Sony Cyber ​​Shot DSK Camera RX100 Digital Camera. Sony Cyber ​​Shot DSK Camera RX100 Digital Camera Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias enim dicta, quidem in odit placeat molestias necessitatibus? Aspernatur culpa ut nulla laborum atque quo vel labore corporis nihil, cum non.</div>
          <div class="q-mt-sm text-body2">{{'1, 430, 600'| sum}}</div>
          <div class="q-mt-sm text-bold text-body1">Amount: 1</div>
        </q-card-section>
      </q-card-section>
    </q-card>
    <hr class="q-my-md" />
    <q-card class="no-box-shadow bg-grey-3" style="max-width:583px;" square>
      <q-card-section>
        <div class="text-body1 text-bold">Terms and conditions</div>
      </q-card-section>
      <q-card-section>
        <go-readmore
          more-str="Read more"
          :text="msg"
          contentClass="go-stepper-readmore"
          link="#"
          less-str="less"
          :max-chars="315"
        ></go-readmore>
      </q-card-section>
    </q-card>
    <q-checkbox
      class="q-mt-md"
      color="secondary"
      label="I agree to the terms and conditions"
      v-model="val"
    />
  </div>
</template>

<script>
export default {
  name: "stepSix",
  data() {
    return {
      val: false,
      msg:
        "Welcome to GoBazar LLS These Terms of Service (“Terms”, “Terms of Service”) govern your use of our website located at gobazar.com (collectively or separately the “Service”), which is managed by GoBazar LLS. Our Privacy Policy also governs your use of our Services and explains how we collect, protect and disclose information obtained as a result of your use of our web pages. Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You acknowledge that you have read and understood the Agreements, and agree to abide by them. If you do not agree (or cannot comply) with the Agreement, you cannot use the Service, but please let us know by e-mail gobazar @ gmail. com so we can try to find a solution. These Terms apply to all visitors, users and other persons who want to access or use the Service."
    };
  }
};
</script>

<style scoped>
td {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}
</style>

<style>
.go-stepper-readmore {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 110%;
}
.go-read-text {
  margin-bottom: 10px;
}
</style>