<template>
    <div
      class="go-stepper--action"
      :style="[step === 1 ? {justifyContent: 'flex-end'} : {justifyContent: 'space-between'}]"
    >
      <go-flat-btn
        v-if="step > 1"
        @click="clickPrevStep"
        type="button"
        left="arrow_right_alt"
        left-class="flip-horizontal text-black"
        class="q-mt-md text-black"
        :label="$t('back')"
      ></go-flat-btn>
      <go-btn type="button" v-if="step != total && step != 4" @click="clickNextStep">Next step</go-btn>
      <go-btn type="button" v-if="step == total" @click="clickFinishForm">Finish form</go-btn>
    </div>
</template>

<script>
export default {
  props: {
    step: {
      type: Number
    },
    total: {
      type: Number
    }
  },
  methods: {
    clickNextStep() {
      this.$emit("clickNextStep");
    },
    clickPrevStep() {
      this.$emit("clickPrevStep");
    },
    clickFinishForm() {
      this.$emit("clickFinishForm");
    }
  }
};
</script>

<style scoped>
/* STEPPER ACTION */

.go-stepper--action {
  display: flex;
}
.go-stepper--action {
  width: 100%;
}

@media (max-width: 840px) and (min-width: 0) {
  .go-stepper--action {
    width: 80%;
  }
}
.go-stepper--action {
  margin-top: 25px;
}
</style>