<template>
  <div class="column">
    <div class="text-h5 text-bold">How would you like to pay?</div>
    <div class="text-body1">Please select a payment method</div>
    <q-list @click="clickNextStep" class="q-my-md cursor-pointer" separator>
      <q-item v-ripple class="position-relative bordered-item q-pa-lg full-width">
        <q-item-section class="row items-center justify-center">
          <q-img
            style="max-width: 100px"
            src="statics/payme.svg"
            alt="Payme"
            class="q-pr-sm"
            no-default-spinner
            basic
          />
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
export default {
  name: "stepFour",
  data() {
    return {};
  },
  methods: {
    clickNextStep() {
      this.$emit("clickNextStep");
    }
  }
};
</script>

<style scoped>
.bordered-item {
  border: 1px solid black;
  margin: 5px 0px;
}
</style>