<template>
  <div class="row justify-between items-center go-stepper-top-navigation">
    <router-link
      to="/cart"
      class="go-stepper-checkout-top-pc remove-link-w size20 text-white cursor-pointer back-to-cart"
    >
      <q-icon class="flip-horizontal" size="md" name="arrow_right_alt" />Continue shopping
    </router-link>
    <q-btn to="/cart" flat round class="go-stepper-checkout-top-mob">
      <q-icon class="flip-horizontal" color="white" name="arrow_right_alt" />
    </q-btn>
    <img style="max-height: 60px;" src="statics/Logo-White.svg" alt="Go Logo" />
    <router-link
      style="visibility:hidden"
      to="/cart"
      class="go-stepper-checkout-top-pc remove-link size20 text-white cursor-pointer back-to-cart"
    >
      <q-icon class="flip-horizontal" size="md" name="arrow_right_alt" />Continue shopping
    </router-link>
    <q-btn style="visibility:hidden" flat round class="go-stepper-checkout-top-mob">
      <q-icon class="flip-horizontal" color="white" name="arrow_right_alt" />
    </q-btn>
  </div>
</template>

<script>
export default {
  name: "topNavigation"
};
</script>

<style scoped>
.go-stepper-top-navigation {
  min-width: 82vw;
  width: 82vw;
  max-width: 1120px;
}
.go-stepper-checkout-top-pc {
  display: block;
}
.go-stepper-checkout-top-mob {
  display: none;
}
@media only screen and (max-width: 840px) {
  .go-stepper-checkout-top-pc {
    display: none;
  }
  .go-stepper-checkout-top-mob {
    display: block;
  }
}
</style>
