<template>
 <div>

<router-link :to="{ name: 'details', query: { itm: asin }}" style="text-decoration:none;color:black;">
  <q-card
   style="max-width:250px;min-width:250px;min-height:380px;max-height:380px;display:flex;flex-direction:column;justify-content:space-between;"
   flat
   bordered
   square  >
   <div class="row justify-center items-justify-center" style='max-width:220px;min-width:220px;min-height:120px;max-height:120px'>
    <q-img class="q-mt-md" style="max-width:60%" :src="image" />
   </div>

   <q-card-section
    style="display:flex;flex-direction:column;justify-content:space-between;height: 208px;"
   >
    <div>
     <div
      class="opensans text-subtitle2 text-h6 text-grey-6"
      style="letter-spacing:1px"
     >
       <span class="text-bold">{{ author }}</span>
     </div>

     <div class="opensans-semibold q-mt-sm text-subtitle2 ellipsis-4-lines">
      {{ title }}
     </div>
    </div>

    <div>
     <div class="row q-mt-md" v-if="oldPrice != '0.000'">
      <div class="text-h6 text-primary text-bold">
       {{ price | sum }}
      </div>
      &nbsp; &nbsp; &nbsp;
      <div class="text-h6 text-strike ">{{ oldPrice | sum }}</div>
     </div>
     <div v-else class="text-h6 text-black  ">
      <div class="text-h6 text-primary text-bold">
       {{ price | sum }}
      </div>

      <!-- <div class="text-h6 text-strike " style="visibility:hidden;">
       {{ oldPrice | sum }}
      </div> -->
     </div>
    </div>
   </q-card-section>
  </q-card>
 </router-link>
 </div>

</template>
<script>
export default {
 props: ["author", "image", "price", "oldPrice", "title", "asin"],
 methods: {
  async buyNow(asin) {
   this.$q.loading.show();
   this.$router.push({ name: "details", query: { itm: asin } });
   this.$q.loading.hide();
  }
 }
};
</script>

<style scoped>
.marTop {
 margin-top: 48px;
}
.WidthHeight {
 width: 150px;
 height: 150px;
}
</style>
