<template>
  <div>
    <q-card
      style="background: url(../../../../statics/pattern.svg);height:250px;background-size: cover;"
      class="no-border-radius full-width column justify-center items-center text-white text-center"
    >
      <q-card-section>
        <div class="text-h5 q-mb-md text-bold">{{$t('supportTitle')}}</div>
        <div class="text-subtitle1" v-html="$t('supportMessage')"></div>
      </q-card-section>
    </q-card>

    <!-- <q-card>
      <q-img class="search-terms" src="statics/pattern.svg" alt="no" />
      <div style="margin: 0 55px;padding: 0 15px;">
        <h2 class="absolute-center text-center text-h5 text-white to-top full-width">
          <span class="text-bold">{{$t('supportTitle')}}</span>
        </h2>
        <h2
          class="absolute-center full-width text-center text-caption text-white"
          :style="[windowWidth > 650 ? {maxWidth:'600px'} : {textAlign: 'center'}]"
        >{{$t('supportMessage')}}</h2>
      </div>
    </q-card>-->
    <div class="row justify-center">
    <div class="row" :class="windowWidth > 500 ? 'q-px-xl' : 'q-px-md' " :style="windowWidth > 1200 ? 'min-width:1200px' : ''">
      <div class="q-px-md" :class="windowWidth > 750 ? 'col-6' : 'col-12 q-px-lg' ">
        <h4 class="text-h5 text-bold">{{$t('contactUs')}}:</h4>
        <p class="ext-subtitle2">
          <span class="text-bold">{{$t('email_address')}}:</span> support@gobazar.com
        </p>
        <p class="ext-subtitle2">
          <span class="text-bold">{{$t('phone')}}:</span> +998 71 *** ** **
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191884.74398856898!2d69.13928359985019!3d41.28277055503177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b0cc379e9c3%3A0xa5a9323b4aa5cb98!2z0KLQsNGI0LrQtdC90YIsINCj0LfQsdC10LrQuNGB0YLQsNC9!5e0!3m2!1sru!2s!4v1593585077907!5m2!1sru!2s" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="q-gutter-md q-mt-xl" :class="windowWidth > 750 ? 'col-6' : 'col-12 q-pa-lg' ">
        <div class="row justify-between">
          <div :style="windowWidth > 750 ? 'width:400px' :'width:300px'">
            <q-input
              :label="$t('first_name')+ ' *'"
              placeholder="John"
              ref="first_name"
              :disable="inputDisable"
              square
              outlined
              v-model="info.first_name"
              :rules="[val => !!val || $t('required') ]"
              lazy-rules="ondemand"
            />
            <q-input
              :label="$t('last_name') + ' *'"
              placeholder="Doe"
              :disable="inputDisable"
              square
              outlined
              ref="last_name"
              v-model="info.last_name"
              :rules="[val => !!val || $t('required') ]"
              lazy-rules="ondemand"
            />
            <q-input
              type="email"
              square
              outlined
              :disable="inputDisable"
              v-model="info.email"
              :label="$t('email_address')+ ' *'"
              placeholder="name@example.com"
              :rules="[ val => checkEmail(val) || 'Please enter a valid email address!']"
              ref="email"
              lazy-rules="ondemand"
            />
            <q-input
              outlined
              square
              :disable="subjectDisable"
              v-model="info.subject"
              :label="$t('supportSubject')+ ' *'"
              ref="subject"
              lazy-rules="ondemand"
              :rules="[
              val => val !== null && val !== '' || $t('required'),
              val => val.length >= 15 || $t('minimumValidation') +' 15'     
              ]"
            />
            <q-input
              v-model="info.message"
              outlined
              square
              type="textarea"
              :label="$t('subjectMessage')+' *'"
              ref="message"
              lazy-rules="ondemand"
              :rules="[
              val => val !== null && val !== '' || $t('required')
            ]"
            />
            <go-btn block class="q-mb-sm" @click="checkInfo">{{ $t('sendSupport') }}</go-btn>
            <!-- Quyidagi first_name, last_name, email saytda ko'rinmaydi uni yozilishiga sabab agar user login qilgan bolsa inputga avtomat yozib qoyish -->
            <p style="display:none">{{this.loggedIn}}</p>
          </div>
        </div>
        
      </div>
    </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      windowWidth: window.innerWidth,
      inputDisable: false,
      subjectDisable: false,
      info: {
        subject: "",
        message: "",
        email: "",
        first_name: "",
        last_name: ""
      }
    };
  },
  computed: {
    ...mapGetters("address", ["supportDetail"]),
    ...mapGetters("auth", ["user"]),
    loggedIn() {
      if (this.user) {
        this.info.last_name = this.user.last_name;
        this.info.first_name = this.user.first_name;
        this.info.email = this.user.email;
        this.inputDisable = true;
        return;
      }
    }
  },
  methods: {
    ...mapActions("address", ["sendSupport"]),
    checkEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    async checkInfo() {
      this.$refs.first_name.validate();
      this.$refs.last_name.validate();
      this.$refs.email.validate();
      this.$refs.subject.validate();
      this.$refs.message.validate();
      if (
        !this.$refs.first_name.hasError &&
        !this.$refs.last_name.hasError &&
        !this.$refs.email.hasError &&
        !this.$refs.subject.hasError &&
        !this.$refs.message.hasError
      ) {
        this.$q.loading.show();
        await this.sendSupport(this.info);
        if (this.supportDetail.status == 201) {
          this.$q.notify({
            group: false,
            type: "positive",
            color: "green-6",
            message: this.$t("supportMessageSended"),
            position: "top"
          });
          (this.info.subject = ""),
            (this.info.message = ""),
            (this.info.email = ""),
            (this.info.first_name = ""),
            (this.info.last_name = "");
        } else {
          this.$q.notify({
            group: false,
            type: "negative",
            message: "ERROR",
            position: "top"
          });
        }
        this.$q.loading.hide();
      }
    }
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
    this.$q.loading.hide();
    this.$route.query.id
      ? (this.info.subject = "#" + this.$route.query.id + ",", this.subjectDisable = true)
      : "";
    if (this.$route.query.tp && this.$route.query.tp == "seller") {
      this.info.subject += " " + this.$t("contact_seller") + ",";
      this.subjectDisable = true
    } else if (this.$route.query.tp && this.$route.query.tp == "cancel") {
      this.info.subject += " " + this.$t("cancel_order") + ",";
      this.subjectDisable = true
    }
  }
};
</script>

<style scoped>
.search-terms {
  width: 100%;
  height: 30vh;
  background: url("../../../statics/pattern.svg");
  background-size: cover;
}
.to-top {
  margin-top: -5px;
}
h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
</style>