<template>
  <div>
    <q-card-section class="q-pt-none">
      <div class="names-line row">
        <div class="first-name">
          <q-input
            :label="$t('first_name')"
            filled
            ref="first_name"
            placeholder="John"
            v-model="getAddressDetail.first_name"
          />
        </div>

        <div class="last-name">
          <q-input
            :label="$t('last_name')"
            filled
            ref="last_name"
            placeholder="Doe"
            v-model="getAddressDetail.last_name"
          />
        </div>
      </div>
      <div class="names-line row">
        <div class="first-name">
          <q-input
            :label="$t('address') + ' - 1'"
            filled
            ref="line1"
            :placeholder="$t('address') + ' - 1'"
            v-model="getAddressDetail.address_line_1"
            :rules="[val => !!val || $t('required')]"
            lazy-rules="ondemand"
          />
        </div>
        <div class="last-name">
          <q-input
            :label="$t('address') + ' - 2'"
            filled
            ref="line2"
            :placeholder="$t('address') + ' - 2'"
            v-model="getAddressDetail.address_line_2"
          />
        </div>
      </div>

      <div class="names-line row">
        <div class="first-name">
          <q-input
            :label="$t('passport')"
            mask="AA #######"
            ref="passport"
            placeholder="AA *******"
            filled
            v-model="getAddressDetail.passport"
            :rules="[val => !!val || $t('required'), val => val.length > 8 || $t('minimumValidation') +' 9']"
            lazy-rules="ondemand"
          />
        </div>
        <div class="first-name">
          <q-input
            :label="$t('phone')"
            filled
            ref="phone"
            prefix="+998"
            mask="## ### ##-##"
            placeholder="** *** **-**"
            v-model="getAddressDetail.phone"
            :rules="[val => !!val || $t('required'), val => val.length > 8 || $t('minimumValidation') +' 9']"
            lazy-rules="ondemand"
          />
        </div>
      </div>
      <div class="names-line row">
        <div class="first-name">
          <q-select
            filled
            option-value="value"
            option-label="label"
            emit-value
            map-options
            ref="country"
            v-model="getAddressDetail.country"
            :options="countries"
            :label="$t('country')"
            @input="changeRegion()"
            :rules="[val => !!val || 'Please select']"
            lazy-rules="ondemand"
          />
        </div>

        <div class="last-name">
          <q-select
            filled
            option-value="value"
            option-label="label"
            emit-value
            map-options
            ref="region"
            v-model="getAddressDetail.region"
            :options="region"
            :label="$t('region')"
            @input="changeCity()"
            :rules="[val => !!val || 'Please select a country before']"
            lazy-rules="ondemand"
          />
        </div>
      </div>

      <div class="names-line row">
        <div class="first-name">
          <q-input
            :label="$t('city')"
            :disable="cityDisabled"
            ref="city"
            :placeholder="$t('city')"
            filled
            v-model="getAddressDetail.city"
            :rules="[val => !!val || 'Please select a region before']"
            lazy-rules="ondemand"
          />
        </div>

        <div class="last-name">
          <q-input
            :label="$t('postalCode')"
            placeholder="100000"
            filled
            v-model="getAddressDetail.postal_code"
            mask="######"
          />
        </div>
      </div>
      <div class="row button q-gutter-sm q-mb-md">
        <div class="make-default-button">
          <!-- <q-btn-group>
            <go-btn
              @click="editAddress(getAddressDetail.id)"
              :text="$t('updateAddress')"
              color="primary"
              type="submit"
              property="primary text-bold text-align-center size-md"
              text-style="font-size:90%"
              icon-bg="#e53f2d"
            ></go-btn>
          </q-btn-group> -->
          <go-btn
                 :style = "windowWidth>900 ? 'width:240px':'width:290px'"
                @click="editAddress(getAddressDetail.id)"
                :text="$t('updateAddress')"
                  type="submit"
                  block
                  
               
              ></go-btn>
        </div>
        <div class="edit-address-button">
          <!-- <q-btn-group>
            <go-btn
              @click="confirm = !confirm"
              :text="$t('deleteAddress')"
              color="secondary"
              icon-bg="#3b3f4c"
              text-style="font-size:90%"
              property="secondary text-bold text-align-center size-md"
            ></go-btn>
          </q-btn-group> -->
           <go-btn
                :style = "windowWidth>900 ? 'width:240px':'width:290px'"
                 @click="confirm = !confirm"
                :text="$t('deleteAddress')"
                  type="submit"
                  block
                  
               
              ></go-btn>
        </div>
      </div>
    </q-card-section>
    <q-dialog v-model="confirm">
      <q-card>
        <q-card-section class="row items-center q-pa-lg">
          <q-avatar icon="delete_forever" color="primary" text-color="white" />
          <span class="q-ml-sm">{{$t('are_you_sure')}}</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat :label="$t('cancel')" color="primary" v-close-popup />
          <q-btn flat :label="$t('yes_delete_it')" color="primary" @click="deleteAddress(getAddressDetail.id)" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: ["addressId"],
  data() {
    return {
      confirm: false,
       windowWidth: window.innerWidth,
      region: [],
      countries: [
        { label: this.$t("uz"), value: "uz" },
        { label: this.$t("kz"), value: "kz" }
      ],
      region_uz: [
        { label: this.$t("tashkentcity"), value: "tashkentcity" },
        { label: this.$t("andijan"), value: "andijan" },
        { label: this.$t("bukhara"), value: "bukhara" },
        { label: this.$t("fergana"), value: "fergana" },
        { label: this.$t("jizzakh"), value: "jizzakh" },
        { label: this.$t("xorazm"), value: "xorazm" },
        { label: this.$t("namangan"), value: "namangan" },
        { label: this.$t("navoiy"), value: "navoiy" },
        { label: this.$t("qashqadaryo"), value: "qashqadaryo" },
        { label: this.$t("samarqand"), value: "samarqand" },
        { label: this.$t("surxondaryo"), value: "surxondaryo" },
        { label: this.$t("tashkent"), value: "tashkent" },
        { label: this.$t("karakalpakstan"), value: "karakalpakstan" }
      ],
      region_kz: [
        { label: this.$t("almata"), value: "almata" },
        { label: this.$t("astana"), value: "astana" }
      ],
      cityDisabled: true
    };
  },
  computed: {
    ...mapGetters("address", [
      "errorCode",
      "errorMessage",
      "getAddressDetail",
      "editedStatus",
      "deletedData"
    ])
  },
  methods: {
    ...mapActions("address", ["getAddressDetails", "updateAddress", "isDeleteAddress"]),
    changeRegion() {
      this.getAddressDetail.region = [];
      this.getAddressDetail.city = "";
      this.cityDisabled = true;
      if (this.getAddressDetail.country == "uz") {
        this.region = this.region_uz;
      } else if (this.getAddressDetail.country == "kz") {
        this.region = this.region_kz;
      }
    },
    changeCity() {
      this.getAddressDetail.city = "";
      if (this.getAddressDetail.region == "tashkentcity") {
        this.cityDisabled = true;
        this.getAddressDetail.city = "tashkentcity";
      } else if (this.getAddressDetail.region == "almata") {
        this.cityDisabled = true;
        this.getAddressDetail.city ="almata";
      } else if (this.getAddressDetail.region == "astana") {
        this.cityDisabled = true;
        this.getAddressDetail.city = "astana";
      } else {
        this.cityDisabled = false;
        this.getAddressDetail.city = "";
      }
    },
    async editAddress(id) {
      this.$refs.line1.validate();
      this.$refs.city.validate();
      this.$refs.country.validate();
      this.$refs.passport.validate();
      this.$refs.region.validate();
      if (
        !this.$refs.line1.hasError &&
        !this.$refs.city.hasError &&
        !this.$refs.country.hasError &&
        !this.$refs.passport.hasError &&
        !this.$refs.region.hasError
      ) {
        await this.updateAddress({
          address_id: id,
          data: this.getAddressDetail
        });
        if (this.editedStatus == 200) {
          this.$emit("updatedAddress");
        } else {
          this.$q.notify({
            group: false,
            type: "negative",
            message: "Submit has error statusCode: " + this.errorCode
          });
        }
      }
    },
    async deleteAddress(id){
      await this.isDeleteAddress(id)
      this.confirm = false
      this.$emit("updatedAddress");
    }
  },
  beforeMount() {
    this.getAddressDetails(this.addressId);
  },
      mounted() {
      window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
    }
};
</script>

<style lang="scss" scoped>
.names-line {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.first-name {
  padding: 6px;
}

.last-name {
  padding: 6px;
}
</style>