<template>
  <div class="row justify-center">
    <q-card bordered class="q-my-xl q-py-xl">
      <q-card-section>
        <div style="height: 5vh" class="row logo-center text-center">
          <img src="statics/go-logo.svg" style="width:50px" />
          <p class="text-h4 text-bold text-secondary">Bazar</p>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="text-h6 text-center q-pb-md">Sign in before you check out</div>
        <div class="auth-btns q-px-xl">
            <!-- <primary-button width="full-width" ispaddedd="q-py-md" centertext="Sign In" leftcolour="primary" rightcolour="bg-red-10"></primary-button>
            <primary-button width="full-width" centertext="Continue as a guest " leftcolour="secondary" rightcolour="bg-indigo"></primary-button> -->
        </div>
      </q-card-section>
      <q-card-section>
          <p class="text-subtitle2 text-center">Not signed up yet? <q-btn label="Register now?" flat text-color="primary" color="white" to="/product-payment-step" style="color: var(--q-color-primary);" /></p>
      </q-card-section>
      
    </q-card>
  </div>
</template>

<script>
export default {
    components: {
        // 'primary-button': require('../../shared/components/custom-components/primary-button').default,
    }
};
</script>

<style scoped>
p,h1,h2,h3,h5, h6 {
    margin: 0px!important;
}
.logo-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.q-card {
  width: 500px;
  padding: 50px 50px;
}
</style>