<template>
 <div>
 <div class="order-box--container q-my-lg" v-for="(o, idx) in order" :key="idx">

  <q-card class="order-box--header">
    <q-card-section class="row q-gutter-xl">
       <div class="order-box--header__info">
        <div class="text-subtitle1">{{ $t("order_placed") }}</div>
        <div class="text-subtitle1 text-bold">{{moment(o.created_at).format("LL")}}</div>
    </div>
    <div class="order-box--header__info">
        <div class="text-subtitle1">{{ $t("total") }}</div>
        <div class="text-subtitle1 text-bold">{{ o.total | sum }}</div>
    </div>
    <div class="order-box--header__info">
        <div class="text-subtitle1">{{ $t("delivered_to") }}</div>
        <div class="text-subtitle1 text-bold" style="text-decoration:underline;">{{ o.shipping_address.first_name }}
      {{ o.shipping_address.last_name }}</div>
    </div>
    <div class="order-box--header__info">
        <div class="text-subtitle1">{{ $t("order_reference") }}</div>
        <div class="text-subtitle1 text-bold">#{{ o.order_id }}</div>
    </div>
    <div class="order-box--header__info" v-if="o.status=='delivered'">
        <div class="text-subtitle1">{{ $t("order_delivered") }}</div>
        <div class="text-subtitle1 text-bold">{{ o.delivered_date }}</div>
    </div>
    </q-card-section>
  </q-card>
  <div class="order-box--delivery-date q-pa-lg text-white" v-if="o.status != 'delivered'">
        <div class="text-h6" >
        {{ $t("estimated_date") }} <b>{{moment(o.delivered_date).format("LL")}}</b>
        </div>
 
  </div>

  <div v-for="i in o.cart.products" :key="i" class="order-box--product-container" :class="[windowWidth > 875 ? 'q-pa-xl' : '']">
    <div class="order-box--image-container">
        <img :src="i.images[0]" class="order-box--order-image">
    </div>
    <div class="order-box--info">
        <div class="info-top">
                <div class="text-subtitle2  q-mb-sm" style="font-size:14px; color:grey;">{{ $t("brand") }}: <b>{{i.brand}}</b></div>
                <div class="text-subtitle1 ellipsis-3-lines  text-weight-bold">
                    <router-link class="remove-link" :to="{ name: 'details', query: { itm: i.asin}}">
                        <span>{{i.title}}</span>
                    </router-link>
                </div>
                <div class="text-h6 q-mt-md text-primary text-bold">{{i.price | sum}}</div>
        </div>

        <div class="q-mt-sm" v-for="(attr,index) in i.product.attributes" :key="index">
           <span
            
            v-if="index == i.product.attributes.length - 1"
            >{{ attr.attribute.name }}: {{ attr.value }}
           </span>

           <span  v-else
            >{{ attr.attribute.name }}: {{ attr.value }},
           </span>
        </div>
        <span>
       <br />{{ $t("quantity") }}: {{ i.quantity }}
        </span>
    </div>
  <div class="order-box--buttons-container q-gutter-y-xs">
     <go-btn
       class="go-btn"
       block
       :text="$t('buy_again')"
       @click="$router.push({ name: 'details', query: { itm: i.asin } })"
      ></go-btn>

      <go-btn
       class="go-btn"
       block
       :text="$t('view_order_detail')"
       color="secondary"
       right-bg="go-secondary-o"
        @click="
        $router.push({
         name: 'order-details',
         query: { id: o.order_id }
        })
       "
      ></go-btn>

      <go-btn
       class="go-btn"
       block
       style="border:1px solid var(--go-secondary);"
       right-bg="secondary"
       textColor="secondary"
       :text="$t('contact_seller')"
       color="transparent"
       @click="
        $router.push({
         name: 'support',
         query: { id: o.order_id, tp: 'seller' }
        })
       "
      ></go-btn>

      <go-btn
       @click="
        $router.push({
         name: 'support',
         query: { id: o.order_id, tp: 'cancel' }
        })
       "
       class="go-btn"
       block
       style="border:1px solid var(--go-secondary);"
       right-bg="secondary"
       textColor="secondary"
       :text="$t('cancel_order')"
       color="transparent"
      ></go-btn>
     
      <div v-if="o.status=='delivered'">
       <go-btn
        class="go-btn q-mb-md"
        block
        style="border:1px solid var(--go-secondary);"
       right-bg="secondary"
       textColor="secondary"
        :text="$t('leave_review')"
        color="transparent"
         @click="
        goToReview(i.asin)
       "
       ></go-btn>
      </div>
  </div>
  </div>
 </div>
 </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import moment from "moment";

export default {
    props: ["order"],
    data() {
        return {
            windowWidth: window.innerWidth,
              moment: moment,
        }
    },
    methods:{
     ...mapActions("profile", ["getUserOrderList","getUserOpenOrderList","getUserCancelOrderList"]),
    goToReview(p_id){
      this.$router.push(`review/${p_id}`);
    }

    },
    mounted() {
        window.addEventListener("resize", () => {
        this.windowWidth = window.innerWidth;
        });
        this.getUserOrderList();
        this.getUserOpenOrderList();
        this.getUserCancelOrderList();
    },
};
</script>

<style lang="scss" scoped>
@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
.order-box--header {
    @include flex-row;
    background: #f9f9fb;
}
.order-box--container {
    @include flex-column;
    border: 2px solid #dcdce6;
}
.order-box--product-container {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
}
.order-box--delivery-date {
    background: #06702f;
}
.order-box--image-container {
    @include flex-row;
    justify-content: center;
    align-items: center;
    min-width: 230px;
    width: 230px;
    max-width: 230px;
    min-height: 200px;
    height: 200px;
    max-height: 200px;
    border: 1px solid lightgrey;
}
.order-box--image-container img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.order-box--info {
    max-width: 40%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-between;
    height: 100%;
}
.order-box--buttons-container {
    @include flex-column;
    min-width: 25%;
}
@media screen and (min-width:1236px) {
    .order-box--product-container {
        height: 315px;
    }
}
@media (max-width: 1236px) and (min-width: 780px) {
.order-box--info {
    max-width: 65%;
}
.order-box--buttons-container {
    margin-top: 20px;
}
}
@media (max-width: 875px) and (min-width: 0) {
    .order-box--info {
        max-width: 100%;
        margin: 30px 0;
    }
    .order-box--buttons-container {
    min-width: 100%;
}
.order-box--container {
    border: 0px solid;
}
.order-box--image-container {
    margin-top: 30px;
}
}
</style>
