<template>
 <div class="message-container row q-ma-lg items-center justify-center">
    <q-banner class="col-sm-6 text-center"
              v-if="double_activated === true" rounded>
     <span class="text-h5">Your account already activated!</span>
  </q-banner>
  <q-banner class="fixed-size bg-green-1 col-sm-6" v-if="is_active === true" rounded style="border: 1px solid green;">
   <div class="column q-pa-xl q-gutter-lg">
    <div class="row">
     <q-icon class="q-mr-sm" size="md" name="check_circle" color="green"/>
     <span class="text-green text-bold text-h5">Activation successful</span>
    </div>
    <span class="q-ml-lg text-h6">Thank you. Your email has been activated successfully. Please sign in to your GoBazar account.</span>
   </div>
  </q-banner>
     <div v-if="is_active === true" class="row justify-center q-mt-lg full-width">
       <go-btn  class="q-mb-lg" @click="$router.push('/login')">Sign-In</go-btn>
   </div>

  <q-banner class="fixed-size bg-red-1 col-sm-6" v-if="is_active === false" rounded style="border: 1px solid red;">
   <div class="column q-pa-xl q-gutter-lg">
    <div class="row">
     <q-icon class="q-mr-sm" size="md" name="error" color="primary"/>
     <span class="text-red text-bold text-h5">Activation failed</span>
    </div>
    <span class="q-ml-lg text-h6">Your account is not activated. Please try again</span>
   </div>
  </q-banner>
 </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      bannerColor: "primary",
      info: "Please wait ...",
      message: "Your account is being activated",
      choose:false,
      icon:"error_outline",
      key: this.$route.query.key,
        is_active: null,
        double_activated: null
    };
  },
  computed:{
    ...mapGetters("profile", ["responseData", "errorCode"])
  },
  methods: {
    ...mapActions("profile", ["sendActivationKey"]),

    async sendActivation(key) {
      await this.sendActivationKey(key)
      if (this.responseData.success) {
          this.is_active = true
      } else if (this.responseData.activated) {
          this.double_activated = true
          await this.$router.push('/')
      } else if (!this.responseData.success) {
          this.data = false
      } else{
        this.$q.notify({
          group: false,
          type: "negative",
          message: "Submit has error statusCode: " + this.errorCode
        });
      }
    }
  },
  mounted() {
    this.sendActivation(this.key);
  }
};
</script>

<style scoped>

  [v-cloak] {
  display: none;
 }

@media screen and (min-width: 955px) {
  .info {
    font-size: 2vw;
  }
}
@media (max-width: 954px) and (min-width: 655px) {
  .info {
    font-size: 3vw;
  }
}
@media (max-width: 656px) and (min-width: 0px) {
  .info {
    font-size: 5vw;
  }
}
</style>
