<template>
  <div class="go-page-container">
    <div v-if="success">
      <q-banner class="bg-green-8 text-white" inline-actions>
        <span class="q-pl-xl text-weight-bold">Your info updated Successfully</span>
      </q-banner>
    </div>

    <div>
      <q-breadcrumbs class="row items-center text-h5" active-color="black" separator-color="black">
        <template v-slot:separator>
          <q-icon name="chevron_right" color="black"></q-icon>
        </template>
        <q-breadcrumbs-el to="/your-account" :label="$t('yourAccount')"></q-breadcrumbs-el>
        <q-breadcrumbs-el
          class="cursor-pointer"
          style="font-weight:600;"
          :label="$t('loginAndSecurity')"
        ></q-breadcrumbs-el>
      </q-breadcrumbs>
    </div>

    <div class="go-ls--forms-container q-mt-xl">
      <div class="go-ls-part-one">
        <q-form class="q-gutter-y-md">
          <div class="q-mb-md text-h6">{{$t('yourInfo')}}</div>
          <div class="row justify-between">
            <q-input
              :label="$t('first_name')"
              ref="first_name"
              square
              class="q-pb-md width-of-input"
              placeholder="Adam"
              outlined
              v-model="profile.first_name"
              lazy-rules="ondemand"
              :rules="[ val => val && val.length > 0 || $t('required')]"
            ></q-input>

            <q-input
              :label="$t('last_name')"
              ref="last_name"
              square
              class="q-pb-md width-of-input"
              outlined
              v-model="profile.last_name"
              lazy-rules="ondemand"
              :rules="[ val => val && val.length > 0 || $t('required')]"
              placeholder="Knights"
            ></q-input>
          </div>
          <div :class="windowWidth < 730 ? 'q-gutter-y-md' : ''" class="row justify-between">
            <q-input
              :label="$t('city')"
              ref="city"
              square
              class="width-of-input"
              outlined
              v-model="profile.city"
              :placeholder="$t('city')"
            ></q-input>
            <q-input
              :label="$t('country')"
              ref="state"
              square
              class="width-of-input"
              outlined
              v-model="profile.state"
              :placeholder="$t('country')"
            ></q-input>
          </div>
          <div :class="windowWidth < 730 ? 'q-gutter-y-md' : ''" class="row justify-between">
            <q-input
              :label="$t('postalCode')"
              ref="zip"
              square
              class="width-of-input"
              outlined
              v-model="profile.zip_code"
              placeholder="100000"
            ></q-input>

            <q-input
              :label="$t('phone')"
              outlined
              square
              class="width-of-input"
              ref="phone"
              prefix="+998"
              mask="## ### ##-##"
              placeholder="** *** **-**"
              v-model="profile.phone"
            ></q-input>
          </div>
          <q-input
            :label="$t('passport')"
            mask="AA #######"
            ref="passport"
            square
            class="width-of-input"
            outlined
            v-model="profile.passport"
            placeholder="AA ******"
          ></q-input>
          <div :class=" windowWidth < 730 ? 'q-mb-xl' : ''">
            <go-btn :block="windowWidth <= 500" @click="check" class="q-mt-md">{{$t('updateInfo')}}</go-btn>
          </div>
        </q-form>
      </div>
      <div class="go-ls-part-two">
        <q-form class="go-ls-part-two--container q-gutter-y-md" @submit="changePassword">
          <div class="text-h6">{{$t('yourPassword')}}</div>
          <q-input
            class="text-black full-width"
            outlined
            square
            bg-color="grey-2"
            :placeholder="$t('oldPassword')"
            v-model="currentPassword"
            :type="isCurrentPwd ? 'password' : 'text'"
          >
            <template v-slot:append>
              <q-icon
                class="cursor-pointer"
                :name="isCurrentPwd ? 'visibility_off' : 'visibility'"
                @click="isCurrentPwd = !isCurrentPwd"
              ></q-icon>
            </template>
          </q-input>
          <q-input
            class="text-black full-width"
            outlined
            square
            bg-color="grey-2"
            v-model="newPwdOne"
            :type="isNewPwd ? 'password' : 'text'"
            :placeholder="$t('newPassword')"
          >
            <template v-slot:append>
              <q-icon
                class="cursor-pointer"
                :name="isNewPwd ? 'visibility_off' : 'visibility'"
                @click="isNewPwd = !isNewPwd"
              ></q-icon>
            </template>
          </q-input>
          <q-input
            class="full-width text-black"
            outlined
            square
            bg-color="grey-2"
            v-model="newPwdTwo"
            :type="isNewPwd ? 'password' : 'text'"
            :placeholder="$t('retryNewPassword')"
          >
            <template v-slot:append>
              <q-icon
                class="cursor-pointer"
                :name="isNewPwd ? 'visibility_off' : 'visibility'"
                @click="isNewPwd = !isNewPwd"
              ></q-icon>
            </template>
          </q-input>
          <go-btn :block="windowWidth <= 500" class="q-mt-md" type="submit">{{$t('updatePassword')}}</go-btn>
        </q-form>

        <q-dialog v-model="confirm" persistent>
          <q-card class="q-pa-md">
            <q-card-section class="row items-center">
              <q-avatar icon="check" color="green-8" text-color="white" />
              <span class="q-ml-sm">{{$t('are_you_sure')}}</span>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat :label="$t('cancel')" color="primary" @click="confirm = false" />
              <q-btn :label="$t('updateInfo')" color="primary" @click="profileUpdate()" />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      windowWidth: window.innerWidth,
      currentPassword: "",
      newPwdOne: "",
      newPwdTwo: "",
      isCurrentPwd: true,
      isNewPwd: true,
      success: false,
      confirm: false
    };
  },
  computed: {
    ...mapGetters("profile", ["profile", "updatedStatus", "errorCode"])
  },
  methods: {
    ...mapActions("profile", ["getProfileData", "updateProfile"]),
    check() {
      this.$refs.first_name.validate();
      this.$refs.last_name.validate();
      if (!this.$refs.first_name.hasError && !this.$refs.last_name.hasError) {
        this.confirm = true;
      }
    },
    changePassword() {},
    async profileUpdate() {
      this.confirm = false;
      this.$q.loading.show();
      await this.updateProfile(this.profile);
      if (this.updatedStatus == 200) {
        this.$q.loading.hide();
        this.success = true;
        this.getProfileData();
        this.timer = setTimeout(() => {
          this.success = false;
        }, 5000);
      }
    }
  },
  created() {
    this.getProfileData();
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  beforeDestroy() {
    if (this.timer !== void 0) {
      clearTimeout(this.timer);
      this.$q.loading.hide();
    }
  }
};
</script>

<style scoped>
@media screen and (min-width: 730px) {
  /* General */
  .width-of-input {
    width: 48%;
  }
  /* Page */
  .go-page-container {
    padding: 20px 80px;
  }
  .go-ls--forms-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .go-ls-part-one {
    width: 48%;
  }
  .go-ls-part-two {
    width: 40%;
  }
  .go-ls-part-two--container {
    width: 270px;
  }
}
@media only screen and (max-width: 730px) {
  .width-of-input {
    width: 100%;
  }
  .go-page-container {
    padding: 20px 40px;
  }
}
</style>