<template>
    <div>
    <div class="q-ma-xl "  v-for="product in responseOrder.data.results[0].cart.products">

    <order-products 
    :status="responseOrder.data.results[0].status"
    :isfragile="responseOrder.data.results[0].is_fragile"
    :addressone="responseOrder.data.results[0].shipping_address.address_line_1"
    :addresstwo="responseOrder.data.results[0].shipping_address.address_line_2"
    :city="responseOrder.data.results[0].shipping_address.city"
    :postalcode="responseOrder.data.results[0].shipping_address.postal_code"
    :country="responseOrder.data.results[0].shipping_address.country"
    :firstname="responseOrder.data.results[0].shipping_address.first_name"
    :lastname="responseOrder.data.results[0].shipping_address.last_name"
    :created="responseOrder.data.results[0].created_at"
    :order="responseOrder.data.results[0].order_id"
    :delivered="responseOrder.data.results[0].delivered_date"
    :image="product.images[0]"
    :title="product.title"
    :quantity="product.quantity"
    :brand="product.seller_name"
    :attributes="product.product.attributes"
    :price="product.price"
    :subtotal="responseOrder.data.results[0].total-responseOrder.data.results[0].shipping_total"
    :shipping="responseOrder.data.results[0].shipping_total"
    :total="responseOrder.data.results[0].total"
    ></order-products>

    </div>
    </div>

</template>
<script>
    import { mapGetters,mapState, mapActions } from "vuex";
    import {profileService} from "src/services/profile.services"
    export  default {
    data() {
        return {
              responseOrder: {}
        }
    },
    computed : {
        ...mapState("profile",['orderDetailList']),
    },

    methods:{
     ...mapActions("profile", ['orderDetailAction']),
     async getOrderDetails(){
        this.responseOrder = await profileService.orderDetail(this.$route.query.id)
     }

    },
    mounted() {
        window.addEventListener("resize", () => {
        this.windowWidth = window.innerWidth;
        });
        this.getOrderDetails()
        // this.orderDetailAction();
       
    },
      components: {
        "order-products": require("./components/order-products.vue").default
  },
};
</script>