<template>
  <div class="basic-container" style="min-height:500px">
    <div class="orders-container">
      <div class="row path-title">
        <span @click="$router.push('/your-account')" style="cursor: pointer">{{$t('yourAccount')}}</span>
        <q-icon name="keyboard_arrow_right"></q-icon>

        <b style="cursor: pointer">{{$t('paymentMethods')}}</b>
      </div>

      <div class="row q-gutter-x-md top-nav-bar">
        <span disabled>
          <router-link class="nav-title">{{$t('credit_debit_cards')}}</router-link>
        </span>

        <span active>
          <span class="nav-title-payme">Payme</span>
        </span>

        <span disabled>
          <router-link to="/" class="nav-title">Click</router-link>
        </span>
      </div>

      <!-- <default-payment-methods-container></default-payment-methods-container>

      <payment-methods-container></payment-methods-container>-->
      <div v-if="cardList.count > 0">
        <payment-methods-container
          v-for="(card, index) in cardList.results"
          :card="card"
          :key="index"
          v-on:getCard="getUserCardList()"
        ></payment-methods-container>
      </div>

      <div class="add-new-address-container q-mb-md" @click="dialog = !dialog">
        <div class="add-new-address-button row items-center">
          <img class="q-mr-xs" src="~/assets/accounts-icons/discountIcon.svg" alt="plus" />

          <span class="q-ml-xs">{{$t('add_new_payment')}}</span>
        </div>
      </div>
    </div>

    <q-dialog v-model="dialog" class="dialog">
      <q-card class="form-card bg-white text-secondary">
        <div class="address-form-container">
          <q-card-section class="address-form-box q-pt-none">
            <img
              src="~/assets/accounts-icons/payme.svg"
              alt="Downloading..."
              style="max-width: 100px"
            />
            <div class="text-h6">{{$t('add_new_payment')}}</div>
            <payment-form v-on:SuccessVerify="getUserCardList(), dialog=!dialog"></payment-form>

            <!-- <div class="row"> -->
              <!-- <q-checkbox
                v-model="selection"
                val="red"
                label="Make this my default address"
                color="red"
              />-->
            <!-- </div> -->

            <!-- <div class="row add-btn q-mt-lg"> -->
              <!-- <primary-btn btntext="Add address" leftcolour="primary" width="20px" v-close-popup></primary-btn> -->
            <!-- </div> -->
          </q-card-section>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      maximizedToggle: true,
      dialog: false,
      selection: false
    };
  },
  components: {
    "payment-form": require("../shared/components/custom-components/forms/payment-form")
      .default,
    "payment-methods-container": require("./components/payment/payment-methods-container")
      .default
  },
  computed: {
    ...mapGetters("profile", ["cardList"])
  },
  methods: {
    ...mapActions("profile", ["getUserCardList"])
  },
  created() {
    this.getUserCardList();
  }
};
</script>

<style lang="scss" scoped>
.basic-container {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 150px;
}

.orders-container {
  width: 90%;
}

.path-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
}

// nav-bar
.top-nav-bar {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
  margin-bottom: 20px; // for the space after text and border-bottom line
  padding-bottom: 20px; //for the space after border text and before bottom line +
  height: 52px; // for the space between text an text-border-bottom line
}
.nav-title-payme{
  cursor: pointer;
}

.top-nav-bar span a:link,
.top-nav-bar span a:visited {
  text-decoration: none;
  color: #0b1322;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.container-title {
  width: 100%;
  font-size: 16px;
  margin-bottom: 25px;
  height: 37px;
}

.default-address-card {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 23px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  width: 450px;
  justify-content: space-between;
}

.default-address {
  display: flex;
  align-items: center;
}

.default-address-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 180px;
  justify-content: space-around;
}

.add-new-address-container {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 23px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.dialog {
  padding-top: 100px;
}

.form-card {
  width: 100%;
}

.address-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-form-box {
  width: 90%;
  padding: 35px 0px;
}

.add-btn {
  float: right;
}
[disabled] {
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed !important;
}
[active] {
  border-bottom: 3px solid #ff4733;
  font-weight: 700;
}
</style>
