<template>
  <div class="q-pa-xl row justify-center">
    <div
      class="column justify-center items-center q-gutter-md text-center"
      style="width:100%;height: 60vh;"
    >
      <div v-if="keyTrue" style="width: 100%; max-width: 400px" class="q-gutter-md">
        <q-input
          square
          outlined
          label="New password"
          ref="newpas"
          :rules="[ val => val.length >= 6 || 'Please enter at least 6 characters!']"
          v-model="password"
          :type="isPwd ? 'password' : 'text'"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
        <go-btn
          @click="checkValidation"
          :block="false"
          text="Change password"
          icon="arrow_right_alt"
          text-style="font-size: 16px"
          container-class="justify-center"
          property="q-mt-md primary text-bold text-align-center size-sm"
          icon-bg="#e53f2d"
        ></go-btn>
      </div>
      <q-banner
        class="bg-primary text-white text-center"
        style="width: 100%;max-width: 600px"
        v-else
      >
        <div class="row justify-center items-center">
          <q-icon size="md" name="error_outline" color="white" />&nbsp;
          <div class="info">{{info}}</div>
        </div>
      </q-banner>
    </div>
    <q-dialog v-model="resetPassword">
      <q-card square class="q-py-md bg-green-8">
        <q-banner round class="bg-green-8 text-white text-center">
          <q-btn
            v-close-popup
            flat
            icon="clear"
            class="absolute-top-right no-border-radius"
            color="white"
          />
          <q-icon size="65px" class="q-mb-md" name="check_circle" />

          <div class="text-h5">
            Your password changed successfully
            <br />Please try login
          </div>
        </q-banner>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      keyTrue: false,
      password: "",
      isPwd: true,
      info: "Please wait ...",
      resetPassword: false
    };
  },
  computed: {
    ...mapGetters("profile", ["tokenKeySended", "passwordUpdated", "errorCode"])
  },
  methods: {
    ...mapActions("profile", ["sendTokenKey", "resetoldPassword"]),
    async sendKey() {
      await this.sendTokenKey(this.$route.query.key);
      if (this.tokenKeySended) {
        this.keyTrue = true;
      } else if (!this.tokenKeySended) {
        this.info = "Your UNIQUE KEY ERROR";
      }
    },
    async sendNewPassword() {
      await this.resetoldPassword({
        key: this.$route.query.key,
        password: this.password
      });
      if (this.passwordUpdated) {
        this.resetPassword = true;
        this.timer = setTimeout(() => {
          this.$router.push("/");
          this.timer = void 0;
        }, 5000);
      } else if (!this.passwordUpdated) {
        (this.keyTrue = true), (this.info = "Your UNIQUE KEY ERROR");
      }
      this.$q.loading.hide();
    },
    checkValidation() {
      this.$refs.newpas.validate();
      if (!this.$refs.newpas.hasError) {
        this.$q.loading.show();
        this.sendNewPassword();
        this.$q.loading.hide();
      }
    }
  },
  mounted() {
    this.sendKey();
  }
};
</script>

<style scoped>
@media screen and (min-width: 955px) {
  .info {
    font-size: 2vw;
  }
}
@media (max-width: 954px) and (min-width: 655px) {
  .info {
    font-size: 3vw;
  }
}
@media (max-width: 656px) and (min-width: 0px) {
  .info {
    font-size: 5vw;
  }
}
</style>