<template>
 <div class="q-pa-md">
     <!-- Key berish esdan chiqmasing narigi safar -->
  <q-item style="max-width: 300px">
   <q-item-section>
    <q-item-label>
     <q-skeleton type="text" />
    </q-item-label>
    <q-item-label caption>
     <q-skeleton type="text" width="90%" />
    </q-item-label>
   </q-item-section>
  </q-item>
  <q-item style="max-width: 300px">
   <q-item-section>
    <q-item-label>
     <q-skeleton type="text" />
    </q-item-label>
    <q-item-label caption>
     <q-skeleton type="text" width="90%" />
    </q-item-label>
   </q-item-section>
  </q-item>
  <q-item style="max-width: 300px">
   <q-item-section>
    <q-item-label>
     <q-skeleton type="text" />
    </q-item-label>
    <q-item-label caption>
     <q-skeleton type="text" width="90%" />
    </q-item-label>
   </q-item-section>
  </q-item>
  <q-item style="max-width: 300px">
   <q-item-section>
    <q-item-label>
     <q-skeleton type="text" />
    </q-item-label>
    <q-item-label caption>
     <q-skeleton type="text" width="90%" />
    </q-item-label>
   </q-item-section>
  </q-item>
  <q-item style="max-width: 300px"> <q-item-section>
   <q-item-label>
    <q-skeleton type="text" />
   </q-item-label>
   <q-item-label caption>
    <q-skeleton type="text" width="90%" />
   </q-item-label>
  </q-item-section>
  </q-item>
  <q-item style="max-width: 300px">

  </q-item>

 </div>
</template>

