<template>
  <div>
    <div class="names-line row">
      <div class="first-name">
        <q-input
          :label="$t('first_name')"
          placeholder="John"
          ref="first_name"
          filled
          v-model="newAddress.first_name"
          :rules="[val => !!val || $t('required') ]"
          lazy-rules="ondemand"
        />
      </div>

      <div class="last-name">
        <q-input
          :label="$t('last_name')"
          placeholder="Doe"
          filled
          ref="last_name"
          v-model="newAddress.last_name"
          :rules="[val => !!val || $t('required') ]"
          lazy-rules="ondemand"
        />
      </div>
    </div>

    <div class="names-line row">
      <div class="first-name">
        <q-input
          :label="$t('address') + ' - 1'"
          ref="address_line_1"
          filled
          :placeholder="$t('address') + ' - 1'"
          v-model="newAddress.address_line_1"
          :rules="[val => !!val || $t('required') ]"
          lazy-rules="ondemand"
        />
      </div>

      <div class="last-name">
        <q-input
          :label="$t('address') + ' - 2'"
          filled
          :placeholder="$t('address') + ' - 2'"
          v-model="newAddress.address_line_2"
        />
      </div>
    </div>
    
    <div class="names-line row">
      <div class="first-name">
        <q-input
          :label="$t('passport')"
          mask="AA #######"
          ref="passport"
          placeholder="AA *******"
          filled
          v-model="newAddress.passport"
          :rules="[val => !!val || $t('required'), val => val.length > 8 || $t('minimumValidation') +' 9']"
          lazy-rules="ondemand"
        />
      </div>
      <div class="first-name">
        <q-input
          :label="$t('phone')"
          filled
          ref="phone"
          prefix="+998"
          mask="## ### ##-##"
          placeholder="** *** **-**"
          v-model="newAddress.phone"
          :rules="[val => !!val || $t('required'), val => val.length > 8 || $t('minimumValidation') +' 9']"
          lazy-rules="ondemand"
        />
      </div>
    </div>
    <div class="names-line row">
      <div class="last-name">
        <q-select
          filled
          option-value="value"
          option-label="label"
          emit-value
          map-options
          ref="country"
          v-model="newAddress.country"
          :options="countries"
          :label="$t('country')"
          @input="changeRegion()"
          :rules="[val => !!val || $t('required')]"
          lazy-rules="ondemand"
        />
       
      </div>
      <div class="first-name">
        <q-select
          filled
          option-value="value"
          option-label="label"
          emit-value
          map-options
          ref="region"
          v-model="newAddress.region"
          :options="region"
          :label="$t('region')"
          @input="changeCity()"
          :rules="[val => !!val || $t('required')]"
          lazy-rules="ondemand"
        />
      </div>
    </div>

    <div class="names-line row">
      <div class="first-name">
        <q-input
          :label="$t('city')"
          :disable="cityDisabled"
          ref="city"
          :placeholder="$t('city')"
          filled
          v-model="newAddress.city"
          :rules="[val => !!val || $t('required')]"
          lazy-rules="ondemand"
        />
      </div>
      <div class="last-name">
         <q-input
          :label="$t('postalCode')"
          placeholder="100000"
          filled
          v-model="newAddress.postal_code"
          mask="######"
        />
       
      </div>
    </div>

    <q-checkbox
      v-model="newAddress.is_default"
      @click="newAddress.is_default = !newAddress.is_default"
      val="red"
      :label="$t('setDefaultAddress')"
      color="red"
    />

    <div class="q-mt-md " style="display: flex; justify-content: center">
            <go-btn
              @click="submitNewAddress();"
              :text="$t('addAddress')"
              color="primary"
              type="submit"
              property="primary text-bold text-align-center size-md"
              text-style="font-size:110%"
              icon-bg="#e53f2d"
            ></go-btn>
          </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      newAddress: {
        first_name: "",
        last_name: "",
        address_line_1: "",
        address_line_2: "",
        passport: "",
        phone: "",
        city: "",
        country: "",
        region: "",
        postal_code: "",
        is_default: true
      },
      cityDisabled: true,
      region: [],
      countries: [
        { label: this.$t("uz"), value: "uz" },
        { label: this.$t("kz"), value: "kz" }
      ],
      region_uz: [
        { label: this.$t('tashkentcity'), value: "tashkentcity" },
        { label: this.$t('andijan'), value: "andijan" },
        { label: this.$t('bukhara'), value: "bukhara" },
        { label: this.$t('fergana'), value: "fergana" },
        { label: this.$t('jizzakh'), value: "jizzakh" },
        { label: this.$t('xorazm'), value: "xorazm" },
        { label: this.$t('namangan'), value: "namangan" },
        { label: this.$t('navoiy'), value: "navoiy" },
        { label: this.$t('qashqadaryo'), value: "qashqadaryo" },
        { label: this.$t('samarqand'), value: "samarqand" },
        { label: this.$t('surxondaryo'), value: "surxondaryo" },
        { label: this.$t('tashkent'), value: "tashkent" },
        { label: this.$t('karakalpakstan'), value: "karakalpakstan"},
    ],
    region_kz: [
        { label: this.$t('almata'), value: "almata" },
        { label: this.$t('astana'), value: "astana" }
    ],
    };
  },
  computed: {
    ...mapGetters("address", ["createdStatus", "errorCode", "errorMessage",])
  },
  methods: {
    ...mapActions("address", ["createAddress"]),
    changeRegion() {
      this.newAddress.region = []
      this.newAddress.city = "";
      this.cityDisabled = true;
      if (this.newAddress.country == "uz") {
        this.region = this.region_uz;
      } else if (this.newAddress.country == "kz") {
        this.region = this.region_kz;
      }
    },
    changeCity() {
      this.newAddress.city = "";
      if (this.newAddress.region == "tashkentcity") {
        this.cityDisabled = true;
        this.newAddress.city = "tashkentcity";
      } else if (this.newAddress.region == "almata") {
        this.cityDisabled = true;
        this.newAddress.city = "almata";
      } else if (this.newAddress.region == "astana") {
        this.cityDisabled = true;
        this.newAddress.city = "astana";
      } else {
        this.cityDisabled = false;
        this.newAddress.city = "";
      }
    },
    async submitNewAddress() {
      this.$refs.first_name.validate();
      this.$refs.last_name.validate();
      this.$refs.address_line_1.validate();
      this.$refs.city.validate();
      this.$refs.country.validate();
      this.$refs.passport.validate();
      this.$refs.phone.validate();
      this.$refs.region.validate();
      if (
        !this.$refs.first_name.hasError &&
        !this.$refs.last_name.hasError &&
        !this.$refs.address_line_1.hasError &&
        !this.$refs.city.hasError &&
        !this.$refs.country.hasError &&
        !this.$refs.passport.hasError &&
        !this.$refs.phone.hasError &&
        !this.$refs.region.hasError
      ) {
        await this.createAddress(this.newAddress);
        if (this.createdStatus === 201) {
          this.$emit("newAddress");
        } else {
          this.$q.notify({
            group: false,
            type: "negative",
            message: "Submit has error statusCode: " + this.errorCode
          });
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.address-form {
  border: none;
  height: 3em;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 2px;
  background: #f4f5f5;
}

.address-form:focus {
  outline: none;
  border: 1px solid #979797;
  background: none;
}

.names-line {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.first-name {
  padding: 6px;
}

.last-name {
  padding: 6px;
}

.address-line {
  margin: 6px;
  display: grid;
  grid-template-columns: 100%;
}

.lines {
  margin-top: 7px;
}

.address-form {
  width: 100%;
}
.add-btn {
  display: flex;
  justify-content: center;
}
</style>