<template>
  <div class="q-pa-lg flex flex-center">
    <q-pagination
      color="secondary"
      v-model="current"
      :max="5"
      :direction-links="true"
      :boundary-numbers="true"
      @click="nextPage(current)"
    ></q-pagination>
  </div>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
export default {
  name: "category-pagination",
  data() {
    return {
      current: this.$route.query.cpn ? parseInt(this.$route.query.cpn) : 1
    };
  },

  methods: {
    ...mapMutations("category", ["updateLoader"]),
    nextPage(pageNum){
      this.updateLoader();
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search.slice(1));
      params.set("cpn", pageNum);
      let newUrl = window.location.pathname + "?" + params;
      this.$router.push(newUrl);
    }
  }
};
</script>

<style scoped>
</style>
