<template>
    <div class="row items-center justify-start">
        <img width="85" src="statics/go-logo.svg" alt="GoBazar">
        <span :title="name" class="franchise text-h2 text-white">{{name | truncate(20, "...") }}</span>
    </div>
</template>

<script>
    export default {

        name: "go-top-logo",
        props: {
            name: {
                type: String,
                default: "BAZAR!"
            }
        }
    }
</script>

<style scoped>

</style>