<template>
  <div class="displayer" v-if="totalPages > 1">
    <q-pagination
      color="secondary"
      v-model="current"
      :max="parseInt(totalPages)"
      :max-pages="windowWidth <=500 && windowWidth > 300 ? 3 : 6"
      :direction-links="true"
      :boundary-numbers="true"
      @click="sendPageNumToStore(current)"
    ></q-pagination>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      current: parseInt(this.$route.query.cpn),
      windowWidth: window.innerWidth
    };
  },

  computed: {
    ...mapState("searchProducts", ["totalPages", "aspectValuesList"])
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  methods: {
    ...mapActions("searchProducts", [
      "updateLoader",
      "fetchProductListByAspects"
    ]),
    sendPageNumToStore(currentPageNum) {
      this.updateLoader();
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search.slice(1));
      params.set("cpn", currentPageNum);
      let newUrl = window.location.pathname + "?" + params;
      this.$router.push(newUrl);
    }
  }
};
</script>

<style scoped>
.displayer {
  display: flex;
  width: 100%;
  height: 15vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.secondary {
  color: var(--q-color-secondary) !important;
  background: red !important;
}
</style>
