<template>
  <div>
    <q-input
      v-model="searchKeyword"
      :key="$route.fullPath"
      @keyup.enter.native="searchProduct(searchKeyword)"
      outlined
      dense
      class="myFieldClass row items-center"
    >

      <template v-slot:prepend>
        <!-- $t('searchWord') -->
        <q-btn-dropdown
          :label="categoryName"
          style="border-top-left-radius: 5rem;border-bottom-left-radius: 5rem;"
          flat

          menu-anchor="bottom right"
        >

          <q-list>
            <q-item
              v-for="(category, index) in rootCategoryList"
              :key="index"
              clickable
              v-close-popup
              @click="changeCategory(category)"
            >
              <q-item-section>
                <q-item-label>{{category.name}}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
        <q-separator vertical></q-separator>
      </template>


      <template v-slot:append>
        <q-btn
          @click="searchProduct(searchKeyword)"
          no-caps
          color="transparent"
          unelevated
          class="full-height"
        >
          <q-icon name="search" color="grey" />
        </q-btn>
      </template>
    </q-input>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex';

export default {
  data() {
    return {
     label: '',
     selectedCatId: '',
     searchKeyword: this.$route.query.k,
    };
  },

  computed:{
   ...mapState('category', ['rootCategoryList']),
    categoryName(){
      var name = this.$t('searchWord')
      if(this.$route.query.cid){
        this.rootCategoryList.forEach(element => {
          if(element.ebay_id == this.$route.query.cid || element.ebay_id == this.$route.query.rcid){
            this.selectedCatId == '' ? this.selectedCatId = element.ebay_id : ''
            return name =  element.name
          }
        });
        if(this.label != ''){
          name = this.label
        }
        return name
      }else{
        if(this.label != ''){
          name = this.label
        }
        return name
      }
    }
  },

  methods: {
   ...mapActions('searchProducts', ['updateSearchKeyword']),
   ...mapMutations('searchProducts', ['updateLoader', 'updateCatLoader']),
   ...mapActions('category', ['updateCategoryList','getRootCategory']),
   ...mapMutations('category', ['updateLoader']),
    changeCategory(category){
      if(category){
        this.label = category.name
        this.selectedCatId = category.ebay_id
      }
    },

   searchProduct(keyword){
     if(this.selectedCatId != '' && keyword){
       this.$router.push({name: 'search', query:{
         k:keyword,
         cpn: this.$route.query.cpn ? this.$route.query.cpn : 1,
         cid: this.selectedCatId}
        })
     }else{
       this.$router.push({name: 'search', query:{
         k: keyword,
         cpn: this.$route.query.cpn ? this.$route.query.cpn : 1}
        })
     }
     this.updateLoader()
     this.updateCatLoader()
   },
    goSubCat(catID, catName){
    this.updateLoader()
    let pathObj = {
     "catID": catID,
     'pagenum': this.$route.query.cpn ? this.$route.query.cpn : 1,
     "catName": catName
    }
    if(catID){
     this.updateCategoryList(pathObj)
    }
   },



  },
  mounted() {
    this.rootCategoryList.length == 0 && this.getRootCategory();
  }
};
</script>

<style lang="sass">
.myFieldClass
  .q-field__control
    padding-right: 0px !important
    padding-left: 0px !important
    border-radius: 5rem !important
</style>

<style lang="scss" scoped>
.q-separator--vertical {
  width: 1px;
  min-width: 1px;
  height: 25px;
  margin-top: 7px;
}
</style>
