<template>
<!-- {{products}} -->
  <div>
  
    <q-carousel
      :swipeable="products.length-1 > 0 ? true : false"
      :class="carousel"
      v-model="slide"
      animated
      ref="carousel"
    >
    <!-- {{products}} -->
      <q-carousel-slide
        v-for="(product, index) in products"
        :key="index"
        :name="index"
        class="column no-wrap"
      >
        <div class="my-row fit justify-around items-center q-px-xl no-wrap">
          <q-card
            class="no-border-radius carousel-card"
            :style="windowWidth > 924 ? 'min-height: 350px;min-width: 350px;' : ''"
          >
            <q-card-section>
              <p class="text-bold text-category text-left text-primary">{{product.home_product.seller_name}}</p>
              <div class="size28 text-weight-bold opensans">{{product.title}}</div>
              <div>
                <div class="size20 opensans">
                  <span class="text-bold size20 opensans-bold">
                    {{$t('from')}}
                    <span
                      v-if="product.home_product.converted_price != '0.00'"
                    >{{product.home_product.converted_price | sum}}</span>
                    <span v-else>{{product.home_product.original_price | sum}}</span>
                  </span>
                  <span v-if="product.free_delivery">{{$t('withFreeDelivery')}}</span>
                </div>
              </div>
            </q-card-section>
            <q-card-actions class="q-pl-md column items-start q-mb-md absolute-bottom-left">
              <go-btn :text="$t('shopNow')" class="text-secondary" @click="$router.push({ name: 'details', query: { itm: product.home_product.asin } })"></go-btn>
              <div class="row q-pl-xs" v-if="products.length-1 > 0">
                <input
                  class="q-my-md"
                  v-for="(product, index) in products"
                  :key="index"
                  type="radio"
                  v-model="slide"
                  :value="index"
                  ref="radioswitch"
                />
              </div>
            </q-card-actions>
          </q-card>
          <div class="right-container">
            <q-img
              basic
              spinner-color="white"
              no-default-spinner
              class="q-mx-md"
              :src="product.home_product.main_pictures[0]"
              style="width:50%;height: auto;"
            ></q-img>
          </div>
        </div>
      </q-carousel-slide>

      <template v-slot:control>
        <q-carousel-control position="bottom-right" :offset="[18, 18]" class="q-gutter-xs">
          <div class="row q-gutter-x-xs" v-if="products.length-1 > 0">
            <q-btn
              dense
              color="primary"
              class="no-border-radius"
              :disable="slide === 0"
              text-color="white"
              icon="keyboard_arrow_left"
              @click="$refs.carousel.previous()"
            />
            <q-btn
              :disable="slide === products.length-1"
              dense
              color="primary"
              class="no-border-radius"
              text-color="white"
              icon="keyboard_arrow_right"
              @click="$refs.carousel.next()"
            />
          </div>
        </q-carousel-control>
      </template>
    </q-carousel>
    <q-carousel height="auto" v-model="slide" class="bg-white text-black">
      <q-carousel-slide
        v-for="(product, index) in products"
        :key="index"
        :name="index"
        class="no-wrap"
      >
        <q-card class="no-border-radius c-card2">
          <q-card-section>
            <p class="text-bold text-category text-left text-primary">{{product.home_product.seller_name}}</p>
            <div>
              <div class="text-subtitle2 size20 opensans">
                <span class="text-bold opensans-bold">
                  {{$t('from')}}
                  <span
                    v-if="product.final_price != '0.00'"
                  >{{product.final_price | sum}}</span>
                  <span v-else>{{product.original_price | sum}}</span>
                </span>
                <span v-if="product.free_delivery">{{$t('withFreeDelivery')}}</span>
              </div>
            </div>
            <div class="text-h5 text-weight-bold opensans">{{product.title}}</div>
          </q-card-section>
          <q-card-actions class="q-pl-md column items-start">
            <go-btn
              :block="true"
              :text="$t('shopNow')"
              icon="arrow_right_alt"
              property="primary text-bold text-align-center size-md"
              icon-bg="#e53f2d"
              @click="$router.push('/error')"
            ></go-btn>
            <div class="row q-pl-xs" v-if="products.length-1 > 0">
              <input
                class="q-my-md"
                v-for="(product, index) in products"
                :key="index"
                type="radio"
                v-model="slide"
                :value="index"
                ref="radioswitch"
              />
            </div>
          </q-card-actions>
        </q-card>
      </q-carousel-slide>
    </q-carousel>
  </div>
</template>

<script>
export default {
  props: ["products", "carousel"],
  data() {
    return {
      slide: 0,
      leng: this.products.length,
      isSwitch: true,
      windowWidth: window.innerWidth
    };
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  }
};
</script>

<style lang="scss" scoped>
.q-btn--rectangle {
  border-radius: 0px;
  height: 50px;
  width: 45px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1vw;
}
@media screen and (min-width: 925px) {
  .q-carousel {
    width: 100%;
    height: 150% !important;
  }
  .carousel-card {
    max-width: 40vw;
    max-height: 55vh;
    width: 100%;
    height: 100%;
  }
  .c-card2 {
    display: none;
  }
  .my-row {
    display: flex;
  }
  .right-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .c-image {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 924px) and (min-width: 0px) {
  .q-carousel {
    width: 100%;
  }
  .carousel-card {
    display: none;
  }
  .c-card2 {
    display: block;
  }
  .right-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .c-image {
    width: 40vw;
    height: auto;
  }
  .my-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .q-px-xl {
    padding: 0;
  }
  .q-carousel__slide,
  .q-carousel .q-carousel--padding {
    padding: 0;
  }
  .text-category {
    font-size: 3vw;
  }
}

* {
  overflow: hidden;
}
</style>
