<template>
  <div>
    <div class="rating-review-hover">
      <stars-rating :isIndicatorActive="true" :config="config"></stars-rating>
      <p class="q-mt-sm customer-ratings-quantity">500 Customer Ratings</p>

      <div class="star-ratings">
        <div class="fit row no-wrap justify-between items-center content-center">
          <div class="hover-left-bar">5 star</div>
          <div class="hover-right-bar">
            <div class="hover-bar-container">
              <div class="hover-bar-5" style="width:75%"></div>
            </div>
          </div>
          <span class="hover-percentage-stars">75%</span>
        </div>
        <div class="fit row no-wrap justify-between items-center content-center">
          <div class="hover-left-bar">4 star</div>
          <div class="hover-right-bar">
            <div class="hover-bar-container">
              <div class="hover-bar-5" style="width:12%"></div>
            </div>
          </div>
          <span class="hover-percentage-stars">12%</span>
        </div>
        <div class="fit row no-wrap justify-between items-center content-center">
          <div class="hover-left-bar">3 star</div>
          <div class="hover-right-bar">
            <div class="hover-bar-container">
              <div class="hover-bar-5" style="width:9%"></div>
            </div>
          </div>
          <span class="hover-percentage-stars">9%</span>
        </div>
        <div class="fit row no-wrap justify-between items-center content-center">
          <div class="hover-left-bar">2 star</div>
          <div class="hover-right-bar">
            <div class="hover-bar-container">
              <div class="hover-bar-5" style="width:6%"></div>
            </div>
          </div>
          <span class="hover-percentage-stars">6%</span>
        </div>
        <div class="fit row no-wrap justify-between items-center content-center">
          <div class="hover-left-bar">4 star</div>
          <div class="hover-right-bar">
            <div class="hover-bar-container">
              <div class="hover-bar-5" style="width:3%"></div>
            </div>
          </div>
          <span class="hover-percentage-stars">3%</span>
        </div>
        
      </div>
      <p class="q-mt-lg customer-ratings-quantity"><a  href="" style="#081322;">See all customer reviews</a></p>
        
    </div>
   
  </div>
</template>

<script>
export default {
  props: ["review_text", "store_name", "message"],
  data() {
    return {
      config: {
        rating: 3.5,
      }
    };
  },
  components: {
    "stars-rating": require("../../../products/product-details/components/rating_stars")
      .default
  }
};
</script>

<style lang="scss" scoped>
.rating-review-hover {
    background: #ffffff;
  padding: 20px;
  border: 1px solid #e3e3e9;
  position: relative;
}

.rating-review-hover::before {
  content: "";
  width: 17px;
  background: #ffffff;
  height: 17px;
  border: 1px solid #e3e3e9;
  position: absolute;
  transform: rotate(45deg);
  margin-top: -10px;
  left: 47%;
  top: 0%;
  border-bottom: none;
  border-right: none;
}

.hover-bar-container {
  width: 200px;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
.hover-bar-5 {
  height: 18px;
  background-color: #000;
}
.hover-bar-4 {
  height: 18px;
  background-color: #000;
}
.hover-bar-3 {
  height: 18px;
  background-color: #000;
}
.hover-bar-2 {
  height: 18px;
  background-color: #000;
}
.hover-bar-1 {
  height: 18px;
  background-color: #000;
}
.hover-star-rating {
  text-align: center;
}

.hover-percentage-stars {
    width: 20px;
}



@media screen and (max-width: 600px) {
  .container {
    border: 1px solid #e3e3e9;
  }
}
</style>