<template>
    <div>
        <div class="container1">
            <p class="text-h6">{{review_text}} <span class="text-primary"> {{store_name}}</span></p>
            <p class="text-body1">{{message}}</p>
        </div>
    </div>
</template>

<script>
    export default {
       props:[
           'review_text',
           'store_name',
           'message'
       ]
    }
</script>

<style lang="scss" scoped>
     .container1 {
            padding: 20px;
            margin-top: 20px;
            border: 1px solid #e3e3e9;
            position: relative;
        }

        .container1::before {
            content: "";
            width: 17px;
            background: #ffffff;
            height: 17px;
            border: 1px solid #e3e3e9;
            position: absolute;
            transform: rotate(45deg);
            margin-top: -10px;
            left: 40px;
            top: 0%;
            border-bottom: none;
            border-right: none;
        }
@media screen and (max-width: 600px){
    .container {
        border: 1px solid #e3e3e9;
    }
}
</style>