<template>
  <div>
    <div class="swiper-button-prev" slot="button-prev"></div>
    <div class="swiper-button-next" slot="button-next"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      swiperOption: {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      }
    };
  }
};
</script>

<style>
.swiper-button-prev,
.swiper-button-next {
  color: white;
  border-radius: 50%;
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 60 60' style='enable-background:new 0 0 60 60;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill-rule:evenodd;clip-rule:evenodd;fill:%23FF4733;%7d .st1%7bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;%7d %3c/style%3e%3ctitle%3eGroup 51%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1'%3e%3cg id='Group-51' transform='translate(30.000000, 30.000000) scale(-1, 1) rotate(90.000000) translate(-30.000000, -30.000000) '%3e%3cpath id='Rectangle' class='st0' d='M0,30L0,30C0,13.4,13.4,0,30,0l0,0c16.6,0,30,13.4,30,30l0,0c0,16.6-13.4,30-30,30l0,0 C13.4,60,0,46.6,0,30z'/%3e%3cpath id='Combined-Shape' class='st1' d='M31.3,40h-3V25.5l-4.2,4.2L22,27.5l7.8-7.8l2.1,2.1l5.7,5.7l-2.1,2.1l-4.2-4.2V40z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") !important;
  width: 110px;
  height: 62px;
  background-size: contain;
  position: absolute;
  right: 0px;
  top: 57px;
}
.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='60px' height='60px' viewBox='0 0 60 60' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3e%3ctitle%3eGroup 51%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Group-51' transform='translate(30.000000, 30.000000) scale(-1, 1) rotate(90.000000) translate(-30.000000, -30.000000) '%3e%3crect id='Rectangle' fill='%23FF4733' x='0' y='0' width='60' height='60' rx='30'%3e%3c/rect%3e%3cpath d='M31.2781746,34.5355339 L35.4350288,30.3786797 L37.5563492,32.5 L31.8994949,38.1568542 L29.7781746,40.2781746 L22,32.5 L24.1213203,30.3786797 L28.2781746,34.5355339 L28.2781746,20 L31.2781746,20 L31.2781746,34.5355339 Z' id='Combined-Shape' fill='%23FFFFFF'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e") !important;
  width: 110px;
  height: 62px;
  background-size: contain;
  position: absolute;
  right: 0px;
  top: 57px;
}
</style>