<template>
  <div>
    <div class="web-footer">
      <web-footer />
    </div>
    <div class="mobile-footer">
      <mobile-footer />
    </div>
  </div>
</template>

<script>
  export default {
    components: {
    'web-footer': require("./web-footer").default, 
    'mobile-footer': require("./mobile-footer").default,
    }   
  };

</script>

<style lang="scss" scoped>
  .mobile-footer{
    display: none;
  }

  @media screen and (max-width: 757px){
    .web-footer{
      display: none;

    }

    .mobile-footer {
      display: block;
    }
  }

</style>