<template>
  <div>
    <div class="go-footer">
      <div class="bottom-columns">
        <div class="go-logo-container">
          <img class="go-logo-img" src="./logo-White.svg" alt />
        </div>
        <div class="footer-columns">
          <div class="column">
            <span class="title">Title</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
          </div>
          <div class="column">
            <span class="title">Title</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
          </div>
          <div class="column">
            <span class="title">{{$t('helpCenter')}}</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
            <span class="field">subtitle</span>
          </div>
          <div class="column">
            <span class="title">{{$t('yourAccount')}}</span>
            <span class="field">Your Orders</span>
            <span class="field">Address book</span>
            <span class="field">Payment method</span>
            <span class="field">Login & security</span>
            <span class="field">Wishlist</span>
            <span class="field">Sign Out</span>
          </div>
        </div>
      </div>
      <div class="bottom-bar-cover">


      <div class="bottom-bar">
          <span class="bottom-links">Terms & Conditions</span>
          <span class="bottom-links">Terms & Conditions</span>
          <span class="bottom-links">Terms & Conditions</span>
          <span class="bottom-links">Terms & Conditions</span>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.go-logo-container {
  position: relative;
  height: 150px;
  text-align: center;
}
.go-logo-img {
  height: 45px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-columns {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 210px;
  width: 60%;
  margin-left: 25%;
}

.column {
  font-size: 14px;
}
.title {
  font-size: 15px;
  margin-bottom: 10px;
}

.field {
  margin-bottom: 4px;
  font-size: 12px;
  opacity: 0.7;
  color: #a1a1a1;
}



.bottom-bar {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

.bottom-bar-cover{
    margin-top: 40px;
    border-top-style: solid;
    border-top-width: 0.0009rem; border-top-color: #a1a1a1;
    text-decoration: none;
    color: #a1a1a1;
    -webkit-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s;
    font-size: 12px;
}
.border-bar span:hover {
    opacity: 0.7;
    cursor: pointer;
}

.bottom-links:hover {
    opacity: 0.7;
    cursor: pointer;
}



// .bottom-bar li {
//     display: inline-block;
//     margin-right: 25px;
//     font-size: 12px;
// }

// .bottom-bar li a:link,
// .bottom-bar li a:visited {
//   text-decoration: none;
//   color: #a1a1a1;
//   -webkit-transition: border-bottom 0.2s;
//   transition: border-bottom 0.2s;
// }

// .bottom-bar li a:hover,
// .bottom-bar li a:active {
//   opacity: 0.7;

// }


</style>
