<template>
 <div>
  <!-- background: url("statics/pattern.svg"); background-size: cover;-->
  <q-img
   src="statics/pattern.svg"
   spinner-color="white"
   style="
      height:44vh;
      width:100%;
      background-size: cover;
      background-position: top;"
  >
   <div class="bg-transparent column absolute-center full-width q-gutter-y-lg flex-center">
    <q-img
     class="bg-transparent confirm-icon"
     contain

     spinner-color="white"
     src="/statics/check.svg"
    />
    <div
     class="confirm-word text-center opensans-semibold bg-transparent"
    >{{$t('your_order_confirmed')}}!</div>
   </div>
  </q-img>
  <div
   class="column"
   :style="windowWidth >= 955 ? 'margin: 90px 115px 5px 115px;' : 'margin: 50px 25px 75px 25px;'"
  >
   <div class="text-h4 opensans-semibold">{{$t('thank_shopping')}}, {{user.first_name}}!</div>
   <div
    class="text-h6 q-mt-md"
   >{{$t('confirmation_letter')}}</div>
   <div class="text-subtitle1 q-mt-md q-mb-lg">{{$t('order_detail_listed')}}</div>
   <go-btn
    :text="$t('continue_shopping')"
    property="q-mt-md primary text-bold text-align-center size-md"
    icon="arrow_right_alt"
    :style="windowWidth >= 555 ? 'width:250px':'width:90%'"
    block
    @click="$router.push('/')"
    icon-bg="#e53f2d"
    text-style="font-size: 16px"
   ></go-btn>

   <order-products
   v-for="(product,index) in orderList.results[0].cart.products"
    :key="index"
    :status="orderList.results[0].status"
    :isfragile="orderList.results[0].is_fragile"
    :addressone="orderList.results[0].shipping_address.address_line_1"
    :addresstwo="orderList.results[0].shipping_address.address_line_2"
    :city="orderList.results[0].shipping_address.city"
    :firstname="orderList.results[0].shipping_address.first_name"
    :lastname="orderList.results[0].shipping_address.last_name"
    
    :postalcode="orderList.results[0].shipping_address.postal_code"
    :country="orderList.results[0].shipping_address.country"
    :created="orderList.results[0].created_at"
    :order="orderList.results[0].order_id"
    :delivered="orderList.results[0].delivered_date"
    :image="product.images[0]"
    :title="product.title"
    :quantity="product.quantity"
    :brand="product.seller_name"
    :attributes="product.product.attributes"
    :price="product.price"
    :subtotal="orderList.results[0].total-orderList.results[0].shipping_total"
    :shipping="orderList.results[0].shipping_total"
    :total="orderList.results[0].total"
   >
   
   </order-products>
    </div>
   </div>

</template>

<script>
 import { mapActions, mapGetters, mapState } from "vuex";
 import { store } from 'src/store';
 import moment from "moment";
 export default {
  data() {
   return {
    windowWidth: window.innerWidth,
    moment:moment,
    products: [
     {
      id: 0,
      // img: "statics/products/modern-time.jpg",
      author: "Nintendo",
      desc:
       "Nintendo Switch (Neon Red/Neon Blue) + £30 Nintendo eShop Voucher",
      features:
       'Size: 30gb, Colour: <font color="red">Red</font> &amp; Blue, Model: 2nd Generation',
      quantity: 1,
      price: "£99.99"
     },
     {
      id: 1,
      // img: "statics/products/modern-time.jpg",
      author: "Nintendo",
      desc:
       "Nintendo Switch (Neon Red/Neon Blue) + £30 Nintendo eShop Voucher",
      features:
       'Size: 30gb, Colour: <font color="red">Red</font> &amp; Blue, Model: 2nd Generation',
      quantity: 1,
      price: "£99.99"
     }
    ]
   };
  },
  mounted() {
   window.addEventListener("resize", () => {
    this.windowWidth = window.innerWidth;
   });
  },
  // beforeRouteEnter(to, from, next) {
  //  if (!store.getters['checkout/paymentDetail']['paid']) {
  //   next("/smth-went-wrong");
  //  }
  //  else {
  //   next();
  //  }
  // },
  computed: {
   ...mapGetters("auth", ["loggedIn", "user"]),
   ...mapGetters("profile", ["orderList"]),

   ...mapGetters("address", ["addresses"]),
   ...mapGetters("checkout", [
    "orderDetail",
    "checkoutDetail",
    "paymentDetail",
    "deliveryDetail",
    "userActiveCart"
   ]),
  },
  methods: {
   ...mapActions("address", ["getListAddresses"]),
   ...mapActions("profile", ["getUserOrderList"]),
   ...mapActions("checkout", [
    "userCreateOrder",
    "getCheckoutDetail",
    "makePayments",
    "setDeliveryMethod",
    "getUserActiveCart"
   ]),
  },
  created(){
   this.getUserOrderList();
  },
  components : {
    "order-products": require("src/app/accounts/components/order-products.vue").default
  }

 };
</script>

<style scoped>
 * {
  font-family: "Open Sans", sans-serif;
 }
 .confirm-icon {
  max-width: 7%;
  height: 7%;
 }
 .confirm-word {
  font-size: 2.5vw;
 }
 .borders {
  border-top: 1px solid lightgrey;
 }
 .borders:nth-child(1.2) {
  border-bottom: 1px solid lightgrey;
 }
 .borders:nth-last-child(1) {
  border-bottom: 1px solid lightgrey;
 }

 @media (max-width: 600px) and (min-width: 0) {
  .confirm-icon {
   max-width: 15%;
   height: 15%;
  }
  .confirm-word {
   font-size: 180%;
  }
 }
 .borderStyle{
  border:1px solid lightgrey;
 }
 .flex-start{
   justify-content: flex-start; 
 }
 .priceLine{
  display:flex;
  align-items:baseline;
  justify-content: space-between;
 }
 .go-btn{
     width:60%;
 }
 @media (max-width: 680px) and (min-width: 0) {
 }
</style>
