<template>
    <div>
        <div class="recent-orders-container">
        <div class="row recent-top">
          <div class="item-top">
            <span>Order placed</span>
            <br />
            <span style="font-weight:700">21st January 2020</span>
          </div>
          <div class="item-top">
            <span>Total</span>
            <br />
            <span style="font-weight:700">$00.0</span>
          </div>
          <div class="item-top">
            <span>Dispatched by</span>
            <br />
            <span style="font-weight:700">Adam Knights</span>
          </div>
          <div class="item-top">
            <span>Order reference</span>
            <br />
            <span style="font-weight:700">#0123456789</span>
          </div>
        </div>
        <div class="row recent-second">
          <div class="item-second">
            <span>Estimated Delivery 00th Janary 2020</span>
          </div>
        </div>
        <div class="products-container">
          <div class="product-cards">
            <div class="row product">
              <div class="image-container">
                <div class="image-box row justify-center">
                  <img
                    height="140px"
                    class="product-image"
                    src="https://i.ebayimg.com/00/s/ODAwWDEwMDA=/z/BAIAAOSwEDFdwdKm/$_57.JPG?set_id=8800005007"
                    alt
                  />
                </div>
              </div>
              <div class="details-container">
                <div class="details-box">
                  <div class="details">
                    <span class="sold-by" style="font-size:12px; color:#90959B;">
                      Sold by
                      <span style="font-weight:700">Nintendo</span>
                    </span>
                    <div class="product-title-container">
                      <span
                        class="product-title"
                        style="font-weight:700; font-size: 16px;"
                      >Apple MacBook Pro 13" Space Grey Core i5 2.3Ghz 8GB 256GB (Late 2017) Apple care</span>
                      <br />
                      <span style="font-weight:700; font-size: 16px; color:#FF4733;">$99.99</span>
                    </div>
                    <div class="product-features" style="font-size: 15px;">
                      Size: 30Gb, Color:Red & Blue, Model: 2nd Generation
                      <br />Quantity: 1
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product q-mt-md">
              <div class="image-container">
                <div class="image-box row justify-center">
                  <img
                    height="140px"
                    class="product-image"
                    src="https://i.ebayimg.com/00/s/ODAwWDEwMDA=/z/BAIAAOSwEDFdwdKm/$_57.JPG?set_id=8800005007"
                    alt
                  />
                </div>
              </div>
              <div class="details-container">
                <div class="details-box">
                  <div class="details">
                    <span class="sold-by" style="font-size:12px; color:#90959B;">
                      Sold by
                      <span style="font-weight:700">Nintendo</span>
                    </span>
                    <div class="product-title-container">
                      <span
                        class="product-title"
                        style="font-weight:700; font-size: 16px;"
                      >Apple MacBook Pro 13" Space Grey Core i5 2.3Ghz 8GB 256GB (Late 2017) Apple care</span>
                      <br />
                      <span style="font-weight:700; font-size: 16px; color:#FF4733;">$99.99</span>
                    </div>
                    <div class="product-features" style="font-size: 15px;">
                      Size: 30Gb, Color:Red & Blue, Model: 2nd Generation
                      <br />Quantity: 1
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons-box">
            <div class="buttons">
              <q-btn-group class="full-width q-mt-sm">
                <q-btn
                  square
                  align="center"
                  class="col"
                  size="120%"
                  color="primary"
                  label="buy again"
                />
                <q-btn color="deep-orange-14" icon="arrow_right_alt" />
              </q-btn-group>
              <q-btn-group class="full-width q-mt-md">
                <q-btn
                  square
                  align="center"
                  class="col"
                  size="120%"
                  color="secondary"
                  label="View order details"
                />
                <q-btn color="blue-grey-10" icon="arrow_right_alt" />
              </q-btn-group>
              <q-btn-group class="full-width q-mt-md">
                <q-btn
                  square
                  outline
                  align="center"
                  class="col"
                  size="120%"
                  color="#FFFFFF"
                  text-color="secondary"
                  label="Contact seller"
                />
                <q-btn color="blue-grey-10" icon="arrow_right_alt" />
              </q-btn-group>
              <q-btn-group class="full-width q-mt-md">
                <q-btn
                  square
                  outline
                  align="center"
                  class="col"
                  size="120%"
                  color="#FFFFFF"
                  label="Cancel Order"
                />
                <q-btn color="blue-grey-10" icon="arrow_right_alt" />
              </q-btn-group>
            </div>
          </div>
        </div>
      </div>

    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>
    .recent-orders-container {
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
}

.recent-top {
    background:#F9F9FB;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 36px;
  border: 1px solid #cccccc;
  border-bottom: none;
}

.item-top {
  margin-right: 80px;
}

.recent-second {
  background: #007235;
  width: 100%;
}

.item-second {
  padding: 25px 36px;
  color: #ffffff;
  font-size: 17px;
}

.products-container {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 50px;
}

.product-cards {
  border: 1px solid #cccccc;
  border-top: none;
  border-right: none;
  width: 100%;
  padding: 36px;
}

.buttons-box {
    padding: 36px;
  border: 1px solid #cccccc;
  border-top: none;
  border-left: none;
}

// cards style
.cart-container {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 100%;
  margin: 0px auto;
}

.product-list {
  padding: 20px;
}

.product {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 180px;
}

.image-container {
  height: 180px;
}

.image-box {
  height: 180px;
  width: 180px;
  border: 1px solid #cccccc;
}

.product-image {
  margin-top: auto;
  margin-bottom: auto;
}

.details-container {
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.product-title-container {
  height: 95px;
}

.details-box {
  padding-left: 20px;
}

.bottom-line {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
}

.remove-item {
  display: flex;
  align-items: center;
}

.arrow-down,
.arrow-up {
  color: #3b3f4c;
  cursor: pointer;
}

.arrow-up:hover,
.arrow-down:hover {
  color: #0b1322;
}

.remove-item,
.wishlist {
  cursor: pointer;
}

.remove-item:hover,
.wishlist:hover {
  color: #3b3f4c;
}

.your-basket {
  font-size: 18px;
  font-weight: 100;
}

.list-separator {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-separator-top {
  margin-top: 15px;
  margin-bottom: 30px;
}

.quantity__input {
  width: 25px;
  height: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
}

.quantity-input {
  display: flex;
  align-items: center;
}

.product-title {
  height: 70px;
}

.product-price {
  font-size: 16px;
  float: right;
}

.quantity__input:focus {
  outline: none;
}

// buttons style
.buttons-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container{
    display: flex;
    justify-content: center;
}

.view-orders-button{
    width: 340px;
}
</style>