<template>
  <div class="reviews-container">
    <div class="customer-column">
      <div class="customer-reviews">
        <div class="rating-review">
          <p class="text-h6 customer-reviews-title">Customer Reviews</p>

         <rating-stars  class="q-mb-md" v-if="sendReviewObj.fiveStarsRating" :rating="sendReviewObj.fiveStarsRating" :indicator="true"></rating-stars>

         <q-expansion-item
          class="full-width"
          v-model="expanded"
          :header-style="{fontSize: '16px', fontWeight: 'bold', color: '#898D94'}"
          :label="sendReviewObj.reviewData.length + ' Customer Ratings'"
         >
          <q-card>
           <q-card-section>
            <product-rating-char class="q-mt-md" :chartObj="sendReviewObj"></product-rating-char>
           </q-card-section>
          </q-card>
         </q-expansion-item>

        </div>
      </div>
    </div>
    <div class="title-column">
    </div>
    <review-content
     v-for="(item,index) in sendReviewObj.reviewData"
     :reviews="item"
     :key="index"
    />
  </div>
</template>

<script>

export default {
 props:["sendReviewObj"],
  data() {
    return {
      // read more
      readToggleText: "Read More",
      readToggle: false,

      toggleValue: true,

      swiperOptionTop: {
        spaceBetween: 10
      },
      swiperOptionThumbs: {
        spaceBetween: 5,
        centeredSlides: true,
        slidesPerView: "auto",
        touchRatio: 0.2,
        slideToClickedSlide: true
      }
    };
  },

  components: {
    "stars-rating": require("./../rating_stars").default,
    "review-message": require("../../../../shared/components/custom-components/review-message")
      .default,
   "review-content": require("./review-contents").default,
   "rating-stars": require("../ratings/review-rating/app-stars").default,
   "product-rating-char": require("../ratings/review-rating/product-rating-chart").default

  },

  mounted() {
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.swiper;
      const swiperThumbs = this.$refs.swiperThumbs.swiper;
      swiperTop.controller.control = swiperThumbs;
      swiperThumbs.controller.control = swiperTop;
    });
  },

  methods: {
    readMoreFunction() {
      if (this.readToggle == false) {
        this.readToggleText = "Read Less";
        return true;
      } else {
        this.readToggleText = "Read More";
        return false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.reviews-container {
  display: grid;
  grid-template-columns: 35% 65%;
  width: 85%;
  margin: 0px auto;
  margin-top: 50px;
}

.customer-column {
  padding-top: 0px;
}

.title-column {
  padding: 20px;
  padding-top: 0px;
}

.review-title {
  margin-bottom: 30px;
  padding: 27px;
  border: 1px solid #e3e3e9;
}

.customer-reviews {
  padding: 20px;
  border: 1px solid #e3e3e9;
}

//reviews
.rating-review {
  width: 100%;
  margin: 20px;
}

.bar-container {
  width: 95% !important;
}

.left-bar {
  width: 20%;
}

.right-bar {
  float: left;
  width: 80%;
}

.percentage-stars {
  width: 20%;
}

.row-bar:after {
  content: "";
  display: table;
  clear: both;
}
.review-rating:after {
  content: "";
  display: table;
  clear: both;
}
.left-review {
  float: left;
  width: 30%;
  margin-top: 10px;
  text-align: center;
}

.customer-ratings-quantity-drop {
  display: none;
}

.right-review {
  float: left;
  width: 70%;
  margin-top: 10px;
}

// globally section
.toggle-global {
  margin-bottom: 10px;
  padding: 10px;
}

.review-title {
  font-size: 56pt;
}
.review-star {
  margin: 0 0 10px 0;
}
.review-people .fa {
  font-size: 11pt;
}
.bar-container {
  width: 80%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
.bar-5 {
  height: 18px;
  background-color: #000;
}
.bar-4 {
  height: 18px;
  background-color: #000;
}
.bar-3 {
  height: 18px;
  background-color: #000;
}
.bar-2 {
  height: 18px;
  background-color: #000;
}
.bar-1 {
  height: 18px;
  background-color: #000;
}
.star-rating {
  text-align: center;
}
.star-rating .fa:hover {
  color: orange;
}
.heading {
  font-size: 25px;
  color: #999;
  border-bottom: 2px solid #eee;
}

.review-by {
  font-size: 14px;
}

//swiper
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80% !important;
  width: 100%;
  border: 2px solid #e3e3e9;
}
.swiper-image-top {
  height: 350px;
}

.gallery-thumbs {
  height: 50% !important;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
.swiper-image-thumbs {
  height: 80px;
}

.gallery-thumbs .swiper-slide {
  width: 93px !important;
  height: 50%;
  opacity: 1;
  border: 2px solid #e3e3e9;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
  border: 2px solid #777777;
}

// pagination
.q-btn--rectangle {
  border-radius: 50% !important;
}
.bg-secondary {
  background: #cccccc !important;
}

// read more & read less
.read-less {
  font-size: 18px;
  color: #081322;
  cursor: pointer;
}

.read-less {
  display: none;
}

@media screen and (max-width: 600px) {
  .reviews-container {
    display: grid;
    grid-template-columns: 100%;
  }
  .customer-column {
    padding: 0px;
  }

  .title-column {
    padding: 0px;
  }

  .reviews-container {
    width: 100%;
  }
  .customer-ratings-quantity {
    display: none;
  }

  .customer-reviews {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #e3e3e9;
    padding: 27px;
  }

  .rating-review {
    margin: 0px;
  }

  .review-title {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #e3e3e9;
    margin-bottom: 0px;
    padding-top: 0px;
  }

  // swiper
  .swiper-image-top {
    height: 280px;
  }

  .gallery-thumbs {
    display: none;
  }

  // globally
  .toggle-global {
    margin-bottom: 0px;
  }

  .customer-reviews-title {
    font-size: 30px;
  }
  .star-ratings {
    display: none;
  }



  // read more
  .read-less {
    display: block;
  }

  .swiper-button-prev,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iNTMiIHZpZXdCb3g9IjAgMCAzMCA1MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxyZWN0IG9wYWNpdHk9IjAuMSIgd2lkdGg9IjMwIiBoZWlnaHQ9IjUzIiB0cmFuc2Zvcm09Im1hdHJpeCgtMSAwIDAgMSAzMCAwKSIgZmlsbD0iYmxhY2siLz4NCjxyZWN0IHg9IjE0LjUiIHk9IjIwLjEzNjIiIHdpZHRoPSIyLjU1IiBoZWlnaHQ9IjguNCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMTQuNSAyMC4xMzYyKSIgZmlsbD0id2hpdGUiLz4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTYuMjY4MiAzMC4zODkzTDE0LjQ4NjMgMzIuMTcxMkw4LjQ3NTkgMjYuMTYwOEwxMC4yNTc4IDI0LjM3ODlMMTYuMjY4MiAzMC4zODkzWiIgZmlsbD0id2hpdGUiLz4NCjwvc3ZnPg0K") !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iNTMiIHZpZXdCb3g9IjAgMCAyOSA1MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxyZWN0IG9wYWNpdHk9IjAuMSIgd2lkdGg9IjMwIiBoZWlnaHQ9IjUzIiBmaWxsPSJibGFjayIvPg0KPHJlY3Qgd2lkdGg9IjIuNTUiIGhlaWdodD0iOC40IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMTUuNSAyMC4xMzYyKSIgZmlsbD0id2hpdGUiLz4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTMuNzMxOCAzMC4zODkzTDE1LjUxMzcgMzIuMTcxMkwyMS41MjQxIDI2LjE2MDhMMTkuNzQyMiAyNC4zNzg5TDEzLjczMTggMzAuMzg5M1oiIGZpbGw9IndoaXRlIi8+DQo8L3N2Zz4NCg0K") !important;
}
}
</style>
