<template>
  <div class="reviews-container" v-if="sendReviewObj.fiveStarsRating">
    <div class="customer-column">
      <div class="customer-reviews">
        <div class="rating-review">
          <p class="text-h6 customer-reviews-title">Customer Reviews</p>
          <rating-stars
            v-if="sendReviewObj.fiveStarsRating"
            :rating="sendReviewObj.fiveStarsRating"
            :indicator="true"
          ></rating-stars>
          <p class="q-mt-sm customer-ratings-quantity">500 Customer Ratings</p>
          <product-rating-char :chartObj="sendReviewObj"></product-rating-char>
        </div>
      </div>
    </div>
    <div class="title-column">
      <div class="toggle-global row items-center justify-between">
        <div>
          <span style="font-size:20px">
            Review From
            <span class="text-primary">Uzbekistan</span>
          </span>
        </div>
        <div>
          <span>
            <b>View Globally</b>
          </span>
          <q-toggle v-model="toggleValue" />
        </div>
      </div>

      <div class="review-title" v-for="(item, index) in sendReviewObj.reviewData" :key="index">
        <div class="row justify-between q-mt-sm">
          <div class="rating-parent">
            <rating-stars :rating="item.rating" :indicator="false"></rating-stars>
          </div>
          <div>
            <p class="review-by">
              Review by
              <b>{{item.user}}, {{ moment(item.created_at).format('LL')}}</b>
            </p>
          </div>
        </div>
        <p class="text-h5 q-mt-sm">{{item.title}}</p>
        <p class="text-body1">{{item.comment}}</p>
        <div v-if="item.review_image.length > 0" class="review-image-gallery">
          <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop">
            <swiper-slide
              v-for="(item, index) in item.review_image"
              :key="index"
              class="fit row justify-center slide-1"
            >
              <img class="swiper-image-top" :src="item" />
            </swiper-slide>
            <div class="swiper-button-next swiper-button" slot="button-next"></div>
            <div class="swiper-button-prev swiper-button" slot="button-prev"></div>
          </swiper>
        </div>
        <review-message
          v-if="item.reply_review"
          review_text="Hi"
          store_name="Nintendo"
          :message="item.reply_review"
        />
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'
export default {
  props: ["proReviewData", "sendReviewObj"],
  data() {
    return {
      moment: moment,
      reviewData: [],
      rating: 4,
      readLess: true,
      readMoreLess: "Read More",
      toggleValue: true,
      current: 3,
      series: [
        {
          name: "series-1",
          data: [75, 12, 9, 6, 3]
        }
      ],
      current: 6,
      swiperOptionTop: {
        spaceBetween: 5,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 5,
        centeredSlides: true,
        slidesPerView: "auto",
        touchRatio: 0.2,
        slideToClickedSlide: true
      }
    };
  },
  watch: {
    proReviewData: function(value) {
      this.reviewData = value;
    },
    proFiveStarsRating: function(value) {
      this.config.rating = value;
    }
  },
  components: {
    "stars-rating": require("../rating_stars").default,

    "review-message": require("../../../../shared/components/custom-components/review-message")
      .default,
    "review-contents": require("./review-contents").default,
    "rating-stars": require("../ratings/review-rating/app-stars").default,
    "product-rating-char": require("../ratings/review-rating/product-rating-chart")
      .default,
    Swiper,
    SwiperSlide
  },
  directives: {
    swiper: directive
  },
  mounted() {
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.swiper;
      const swiperThumbs = this.$refs.swiperThumbs.swiper;
      swiperTop.controller.control = swiperThumbs;
      swiperThumbs.controller.control = swiperTop;
    });
  },

  methods: {
    readMore() {
      this.readLess = !this.readLess;
      if (this.readLess == true) {
        this.readMoreLess = "Read Less";
      } else {
        this.readMoreLess = "Read More";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.reviews-container {
  display: grid;
  grid-template-columns: 35% 65%;
  width: 85%;
  margin: 0px auto;
  margin-top: 50px;
}

.customer-column {
  padding-top: 0px;
}

.title-column {
  padding: 20px;
  padding-top: 0px;
}

.review-title {
  margin-bottom: 30px;
  padding: 27px;
  border: 1px solid #e3e3e9;
}

.customer-reviews {
  padding: 20px;
  border: 1px solid #e3e3e9;
}

//reviews
.rating-review {
  width: 90%;
  margin: 20px;
}

.bar-container {
  width: 95% !important;
}

.left-bar {
  width: 20%;
}

.right-bar {
  float: left;
  width: 80%;
}

.percentage-stars {
  width: 20%;
}

.row-bar:after {
  content: "";
  display: table;
  clear: both;
}
.review-rating:after {
  content: "";
  display: table;
  clear: both;
}
.left-review {
  float: left;
  width: 30%;
  margin-top: 10px;
  text-align: center;
}

.customer-ratings-quantity-drop {
  display: none;
}

.right-review {
  float: left;
  width: 70%;
  margin-top: 10px;
}
//stars
.product-stars {
  width: 200px;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px !important;
}

// globally section
.toggle-global {
  margin-bottom: 10px;
  padding: 10px;
}

.review-title {
  font-size: 56pt;
}
.review-star {
  margin: 0 0 10px 0;
}
.review-people .fa {
  font-size: 11pt;
}
.bar-container {
  width: 80%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
.bar-5 {
  height: 18px;
  background-color: #000;
}
.bar-4 {
  height: 18px;
  background-color: #000;
}
.bar-3 {
  height: 18px;
  background-color: #000;
}
.bar-2 {
  height: 18px;
  background-color: #000;
}
.bar-1 {
  height: 18px;
  background-color: #000;
}
.star-rating {
  text-align: center;
}
.star-rating .fa:hover {
  color: orange;
}
.heading {
  font-size: 25px;
  color: #999;
  border-bottom: 2px solid #eee;
}

.review-by {
  font-size: 14px;
}

//swiper
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80% !important;
  width: 100%;
  border: 2px solid #e3e3e9;
}
.swiper-image-top {
  height: 350px;
}

.gallery-thumbs {
  height: 50% !important;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
.swiper-image-thumbs {
  height: 80px;
}

.gallery-thumbs .swiper-slide {
  width: 93px !important;
  height: 50%;
  opacity: 1;
  border: 2px solid #e3e3e9;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
  border: 2px solid #777777;
}

// pagination
.q-btn--rectangle {
  border-radius: 50% !important;
}
.bg-secondary {
  background: #cccccc !important;
}

//swiper

.swiper-button-prev,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iNTMiIHZpZXdCb3g9IjAgMCAzMCA1MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxyZWN0IG9wYWNpdHk9IjAuMSIgd2lkdGg9IjMwIiBoZWlnaHQ9IjUzIiB0cmFuc2Zvcm09Im1hdHJpeCgtMSAwIDAgMSAzMCAwKSIgZmlsbD0iYmxhY2siLz4NCjxyZWN0IHg9IjE0LjUiIHk9IjIwLjEzNjIiIHdpZHRoPSIyLjU1IiBoZWlnaHQ9IjguNCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMTQuNSAyMC4xMzYyKSIgZmlsbD0id2hpdGUiLz4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTYuMjY4MiAzMC4zODkzTDE0LjQ4NjMgMzIuMTcxMkw4LjQ3NTkgMjYuMTYwOEwxMC4yNTc4IDI0LjM3ODlMMTYuMjY4MiAzMC4zODkzWiIgZmlsbD0id2hpdGUiLz4NCjwvc3ZnPg0K") !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iNTMiIHZpZXdCb3g9IjAgMCAyOSA1MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxyZWN0IG9wYWNpdHk9IjAuMSIgd2lkdGg9IjMwIiBoZWlnaHQ9IjUzIiBmaWxsPSJibGFjayIvPg0KPHJlY3Qgd2lkdGg9IjIuNTUiIGhlaWdodD0iOC40IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMTUuNSAyMC4xMzYyKSIgZmlsbD0id2hpdGUiLz4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTMuNzMxOCAzMC4zODkzTDE1LjUxMzcgMzIuMTcxMkwyMS41MjQxIDI2LjE2MDhMMTkuNzQyMiAyNC4zNzg5TDEzLjczMTggMzAuMzg5M1oiIGZpbGw9IndoaXRlIi8+DQo8L3N2Zz4NCg0K") !important;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 0px;
}
</style>
