<template>
 <div class="q-pa-lg">
  <div class="column justify-center items-center text-center content-center">
   <p class="text-h5 text-bold">
    Trending Now on

    <span class="text-primary">Go Bazar!  </span>
   </p>
   <!-- {{products[0].asin}} -->

  </div>

  <div v-if="windowWidth > 700" class="row justify-between q-mx-xl">
   <!-- <router-link :to="{ name: 'details', query: { itm: this.products[0].asin }}"> -->
   <router-link
    :to="{ name: 'details', query: { itm: this.products[0].home_product.asin } }"
    class="col-md-3 col-sm-6 col-xs-12 q-pr-md"
    style="text-decoration:none;color:black;"
    v-if="products[0]"
   >
    <q-card
     square
     class=" justify-center cart-padding row full-height items-end"
     flat
     bordered
    >
     <q-img
      class="row justify-center"
      :src="products[0].home_product.images[0]"
      style="width:80%;height: auto;"
     ></q-img>

     <q-field
      class="absolute-top-left"
      borderless
      style="background: var(--q-color-primary)!important;width: 55px;height:45px;"
     >
      <template v-slot:control>
       <p class="text-center absolute-center text-h5 text-white">#1</p>
      </template>
     </q-field>
     <q-card-section>
      <div class="text-subtitle2">
       By
       <span class="text-bold disabled">{{ products[0].home_product.seller_name }}</span>
      </div>
      <div class="text-bold ellipsis-3-lines q-mt-md large-font">
       {{ products[0].title }}
      </div>
     </q-card-section>
     <q-card-section>
      <div v-if="products[0].home_product.original_price != '0.000'" class="large-font">
       <span class="text-bold text-primary q-pr-md">{{
        products[0].home_product.converted_price | sum
       }}</span>
       <span class="text-strike text-secondary">{{
        products[0].home_product.original_price | sum
       }}</span>
      </div>
      <div v-else class="large-font">
       <span class="text-subtitle1 text-bold text-secondary q-pr-md ">{{
        products[0].home_product.converted_price | sum
       }}</span>
      </div>
     </q-card-section>
    </q-card>
   </router-link>

   <!-- </router-link> -->
   <router-link
    :to="{ name: 'details', query: { itm: this.products[1].home_product.asin } }"
    style="text-decoration:none;color:black;"
    class="col-md-3 col-sm-6 col-xs-12 q-pr-md"
    v-if="products[1]"
   >
    <q-card
     square
     class=" justify-center cart-padding row full-height items-end"
     flat
     bordered
    >
     <q-img
      class="q-mx-md"
      :src="products[1].home_product.images[0]"
      style="width:80%;height: auto;"
     ></q-img>
     <q-field
      class="absolute-top-left"
      borderless
      style="background: var(--q-color-primary)!important;width: 55px;height:45px;"
     >
      <template v-slot:control>
       <p class="text-center absolute-center text-h5 text-white">#2</p>
      </template>
     </q-field>
     <q-card-section>
      <div class="text-subtitle2">
       By
       <span class="text-bold disabled">{{ products[1].home_product.seller_name }}</span>
      </div>
      <div class="text-bold ellipsis-3-lines q-mt-md large-font">
       {{ products[1].title }}
      </div>
     </q-card-section>
     <q-card-section>
      <div v-if="products[1].home_product.original_price != '0.000'" class="large-font">
       <span class="text-bold text-primary q-pr-md">{{
        products[1].home_product.converted_price | sum
       }}</span>
       <span class="text-strike text-secondary">{{
        products[1].home_product.original_price | sum
       }}</span>
      </div>
      <div v-else class="large-font">
       <span class="text-bold text-secondary items-center">{{
        products[1].home_product.converted_price | sum
       }}</span>
      </div>
     </q-card-section>
    </q-card>
   </router-link>

   <div class="col-md-6 row" v-if="products[2]">
    <router-link
     :to="{ name: 'details', query: { itm: this.products[2].home_product.asin } }"
     style="text-decoration:none;color:black;"
     class="col-md-12 col-sm-12 col-xs-12"
    >
     <q-card square class=" q-ml-md q-mr-md q-mb-md" flat bordered>
      <q-card-section horizontal class="q-pa-lg">
       <q-img class="q-ml-md col-3" :src="products[2].home_product.images[0]"></q-img>
       <q-field
        borderless
        class="absolute-top-left"
        style="background: var(--q-color-primary)!important;width: 55px;height:45px;"
       >
        <template v-slot:control>
         <p class="text-center absolute-center text-h5 text-white">#3</p>
        </template>
       </q-field>
       <q-card-section>
        <div class="text-subtitle2" style="font-size:smaller;">
         By
         <span class="text-bold disabled">{{ products[2].home_product.seller_name }}</span>
        </div>
        <div class="text-bold ellipsis-2-lines q-mt-xs q-mb-xs">
         {{ products[2].title }}
        </div>
        <div v-if="products[2].home_product.original_price != '0.000'" class="large-font">
         <span class="text-bold text-primary q-pr-md">{{
          products[2].home_product.converted_price | sum
         }}</span>
         <span class="text-strike text-secondary">{{
          products[2].home_product.original_price | sum
         }}</span>
        </div>
        <div v-else class="large-font">
         <span class="text-bold text-secondary ">{{
          products[2].home_product.converted_price | sum
         }}</span>
        </div>
       </q-card-section>
      </q-card-section>
     </q-card>
    </router-link>

    <router-link
     :to="{ name: 'details', query: { itm: this.products[3].home_product.asin } }"
     style="text-decoration:none;color:black;"
     class="col-md-6 col-sm-6 col-xs-12 q-px-md"
     v-if="products[3]"
    >
     <q-card square  flat bordered class="full-height">
      <q-img :src="products[3].home_product.images[0]"> </q-img>
      <!-- <q-img
              class="q-mx-md"
              :src=" products[3].image_small"
              :srcset=" products[3].image_extra_small + ' 400w,'+
                 products[3].image_small + ' 800w,'+
                 products[3].image_medium + ' 1200w,'+
                 products[3].image_large + ' 1600w'"
              sizes="(max-width: 400px) and (min-width:0px) 400w,
              (max-width: 800px) and (min-width:401px) 800w,
              (max-width: 1200px) and (min-width:801px) 1200w,
              (max-width: 1600px) and (min-width:1201px) 1600w"
              style="width:80%;height: auto;"
            ></q-img> -->
      <q-field
       class="absolute-top-left"
       borderless
       style="background: var(--q-color-primary)!important;width: 55px;height:45px;"
      >
       <template v-slot:control>
        <p class="text-center absolute-center text-h5 text-white">#4</p>
       </template>
      </q-field>
      <q-card-section>
       <div class="text-subtitle2">
        By
        <span class="text-bold disabled">{{ products[3].home_product.seller_name }}</span>
       </div>
       <div class="text-bold ellipsis-3-lines q-mt-sm large-font">
        {{ products[3].title }}
       </div>
      </q-card-section>
      <q-card-section>
       <div v-if="products[3].home_product.original_price != '0.000'" class="large-font">
        <span class="text-bold text-primary q-pr-md">{{
         products[3].home_product.converted_price | sum
        }}</span>
        <span class="text-strike text-secondary">{{
         products[3].home_product.original_price | sum
        }}</span>
       </div>
       <div v-else class="large-font">
        <span class="text-bold text-secondary">{{
         products[3].home_product.converted_price | sum
        }}</span>
       </div>
      </q-card-section>
     </q-card>
    </router-link>

    <router-link
     :to="{ name: 'details', query: { itm: this.products[4].home_product.asin } }"
     style="text-decoration:none;color:black;"
     class="col-md-6 col-sm-6 col-xs-12 q-px-md"
     v-if="products[4]"
    >
     <q-card square  flat bordered class="full-height">
      <q-img :src="products[4].home_product.images[0]"></q-img>
      <q-field
       class="absolute-top-left"
       borderless
       style="background: var(--q-color-primary)!important;width: 55px;height:45px;"
      >
       <template v-slot:control>
        <p class="text-center absolute-center text-h5 text-white">#5</p>
       </template>
      </q-field>
      <q-card-section>
       <div class="text-subtitle2">
        By
        <span class="text-bold disabled">{{ products[4].home_product.seller_name }}</span>
       </div>
       <div class="text-bold ellipsis-3-lines q-mt-sm large-font">
        {{ products[4].title }}
       </div>
      </q-card-section>
      <q-card-section>
       <div v-if="products[4].home_product.original_price != '0.000'" class="large-font">
        <span class="text-bold text-primary q-pr-md">{{
         products[4].home_product.converted_price | sum
        }}</span>
        <span class="text-strike text-secondary">{{
         products[4].home_product.original_price | sum
        }}</span>
       </div>
       <div v-else class="large-font">
        <span class="text-bold text-secondary">{{
         products[4].home_product.converted_price | sum
        }}</span>
       </div>
      </q-card-section>
     </q-card>
    </router-link>
   </div>
   <div class="row justify-center full-width">
    <go-btn
     class="q-mt-md"
     @click="$router.push('/category-list')"
     type="submit"
    ></go-btn>
   </div>
  </div>
  <!-- V-ELSE -->
  <div v-else class="q-mt-xl">
   <swiper class="swiper" :options="swiperOption">
    <swiper-slide
     v-for="(product, idx) in products"
     :key="idx"
     style="width: 35%"
     class="row q-pr-sm q-pb-xl"
    >

     <q-card class="no-border-radius col-12" @click="buyNow(product.home_product.asin)" clickable>
      <div class="row items-center justify-center" style="border:1px solid lightgrey;">
       <div
        class="absolute-top-left bg-primary text-white q-pa-sm"
        style="z-index: 10;"
       >
        <span class="q-mx-xs">#{{ idx + 1 }}</span>
       </div>
       <q-img style="min-height:100px;max-height:100px;min-width:100px;max-width:100px;" :src="product.home_product.images[0]"> </q-img>
      </div>
      <div class="text-subtitle2 text-grey q-mb-sm q-mt-sm">By {{ product.home_product.seller_name }}</div>
      <div class="text-subtitle2 ellipsis-4-lines">{{ product.title }}</div>
      <div class="q-mt-sm text-secondary text-bold">
       {{ product.home_product.converted_price | sum}}
      </div>
     </q-card>

    </swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
   </swiper>
  </div>
 </div>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";
import ProductService from "src/services/product/product.service.js";
export default {
 props: {
  products: {
   type: Array
  }
 },
 components: {
  Swiper,
  SwiperSlide
 },

 data() {
  return {
   windowWidth: window.innerWidth,
   swiperOption: {
    slidesPerView: "auto",
    spaceBetween: 25,
    pagination: {
     el: ".swiper-pagination",
     clickable: true
    }
   }
  };
 },
 mounted() {
  window.addEventListener("resize", () => {
   this.windowWidth = window.innerWidth;

  });
 },
 methods: {
  async buyNow(asin) {
   // this.$q.loading.show();
   let response = await ProductService.productDetails(asin);
   // this.$q.loading.hide();

   this.$router.push({ name: "details", query: { itm: asin } });
  }
 }
};
</script>

<style  lang="scss">
.swiper-slide {
 width: 80%;
 cursor: pointer;
}
.swiper-pagination-bullet {
 width: 30px !important;
 height: 2px !important;
 border-radius: 0px !important;
 background: var(--q-color-secondary) !important;
 opacity: 0.9;
}
.swiper-pagination-bullet-active {
 height: 5px !important;
 background: var(--q-color-secondary) !important;
 opacity: 1 !important;
}
.swiper-slide:nth-child(2n) {
 width: 60%;
}
.swiper-slide:nth-child(3n) {
 width: 40%;
}
.text-trending {
 width: 35%;
}

.cart-padding {
 padding-top: 40%;
}

.large-font {
 font-size: larger;
}

@media (max-width: 1210px) and (min-width: 885px) {
 .text-trending {
  width: 50%;
 }
}

@media (max-width: 885px) and (min-width: 580px) {
 .text-trending {
  width: 70%;
 }
}

@media (max-width: 580px) and (min-width: 100px) {
 .text-trending {
  width: 90%;
 }
 .q-mx-xl {
  margin: 0;
 }
}
</style>
