<template>
  <div>
    <div class="navbar-desk">
      <navbar-desk />
    </div>
    <div class="navbar-mob">
      <navbar-mob />
    </div>
  </div>
</template>

<script>
export default {
  components: {
    'navbar-desk': require("./navbar-web").default, 
    'navbar-mob': require("./navbar-mobile").default,
  },
};
</script>

<style lang="scss">
  // queries

  .navbar-mob {
    display: none;
  }

  @media screen and (max-width: 1035px) {
    .navbar-desk {
      display: none;
    }

    .navbar-mob {
      display: contents;
    }
  }

</style>

