<template>
  <div>
    <div class="navbar">
      <div class="top-bar row items-center">
        <div class="go-logo">
          <router-link to="/home">
            <img class="go-logo" src="statics/Logo-Black.svg" alt="Bazar" />
          </router-link>
        </div>
        <div class="search-bar">
          <go-primary-search></go-primary-search>
        </div>
        <div class="auhtn-vs-basket">
          <div class="fit row wrap justify-center items-center content-center">
            <!-- If authorised user -->
            <div v-if="loggedIn" class="hi-reachel">
              <go-hover-dropdown  :firstname="user.first_name"></go-hover-dropdown>
            </div>
            <!-- If not authorised -->
            <div v-else  class="auth-section row">
              <div class="auth-buttons row q-mr-xs">
                <q-btn flat :label="$t('register')" @click="$router.push({name:'register'})"></q-btn>
                <q-dialog class="row" v-model="register">
                  <go-register v-on:closeRegister="register = !register" v-on:openLogin="register = !register; login = !login"></go-register>
                </q-dialog>
                <!-- Login has neen started here -->
                <q-btn flat :label="$t('login')" @click="$router.push({name:'login'})"></q-btn>
                <q-dialog v-model="login">
                  <go-login
                    v-on:closeLogin="login = !login; forgetPassword = !forgetPassword"
                    v-on:openRegister="login = !login; register = !register"
                  ></go-login>
                </q-dialog>
              </div>
            </div>
            <q-separator class="vertical-inset" vertical inset />
            <div>
              <router-link to="/cart">
                <div class="go-basket" v-if="userActiveCart && userActiveCart.products && userActiveCart.products.length > 0" @click="rightDrawerOpen = !rightDrawerOpen">
                <p class="absolute-center basket-text">{{userActiveCart.products.length}}</p>
                <img class="basket-logo" src="./active_basket.svg" />
              </div>
              <div class="go-basket" v-else @click="rightDrawerOpen = !rightDrawerOpen">
                <p class="absolute-center basket-text">0</p>
                <img class="basket-logo" src="./Basket.svg" />
              </div>
              </router-link>
            </div>
          </div>
        </div>
        <q-drawer v-model="rightDrawerOpen"
                  overlay
                  :width="600"
                  behavior="mobile"
               side="right"
               >
          <go-basket-drawer v-if="rightDrawerOpen" v-on:closeRight="closeDrawer($event)"></go-basket-drawer>
        </q-drawer>

      </div>
      <div class="category-bar row justify-start items-center content-start">
        <q-tabs
          v-model="navBottomLinks"
          align="left"
          dense
          indicator-color="primary"
          active-color="black"
          class="bg-transparent text-grey-8 q-ml-xl"
        >
          <q-route-tab
            :ripple="false"
            exact
            name="allCategories"
            to="/category-list"
            :label="$t('allCategories')"
          />
          <q-route-tab :ripple="false" name="trending" to="/trending" :label="$t('trending')" />
          <q-route-tab
            :ripple="false"
            name="todaysDeals"
            to="/todays-deals"
            :label="$t('todaysDeals')"
          />
          <q-route-tab
            :ripple="false"
            name="bestsellers"
            to="/bestsellers"
            :label="$t('bestSellers')"
          />
        </q-tabs>

        <div class="category-right row justify-end q-pr-xl">
          <q-select
            v-model="lang"
            :options="langOptions"
            borderless
            emit-value
            map-options
            options-dense
            style="min-width: auto"
            @input="sendLang(lang)"
          />

          <!-- <q-btn-dropdown disable flat color="primary" label="£ GBP">
            <q-list>
              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>£ GBP</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>$ USD</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>U UZS</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown> -->

        </div>
      </div>
    </div>
    <q-dialog v-model="forgetPassword">
      <q-card>
        <q-card-section>
          <forget-password v-on:passwordSuccess="forgotDialog(); forgetPassword = !forgetPassword"></forget-password>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="resetPassword">
      <q-card class="q-py-md bg-green-8">
        <q-banner round class="bg-green-8 text-white text-center">
          <q-btn
            v-close-popup
            flat
            icon="clear"
            class="absolute-top-right no-border-radius"
            color="white"
          />
          <q-icon size="65px" class="q-mb-md" name="check_circle" />

          <div class="text-h5">
            Password resetting Email message has been successfully sent.
            <br />Please check your email.
          </div>
        </q-banner>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import ObjectService from "../services/index";
import { mapActions, mapGetters, mapState } from "vuex";
import CategoryService from "src/services/category/category.service";
export default {
  data() {
    return {
      rootCategory: "",
      lang: localStorage.getItem("lang"),
      langOptions: [
        { value: "en-us", label: "EN" },
        { value: "uz-lat", label: "UZ" },
        { value: "ru-rus", label: "RU" }
      ],
      cartProductCount: 0,
      navBottomLinks: "",
      text: "",
      rightDrawerOpen: false,
      register: false,
      login: false,
      forgetPassword: false,
      resetPassword: false,
      searchKeywordValue: "",
      testservive: []
    };
  },
  computed: {
    ...mapGetters("auth", ["loggedIn"]),
    ...mapState("auth", ["user"]),
    ...mapGetters("checkout", ["userActiveCart"]),
     ...mapState('category', ['rootCategoryList']),
  },
  methods: {
    ...mapActions("auth", ["fetchUser"]),

    ...mapActions("category", ["getRootCategory", "updateLoader"]),
    ...mapActions("checkout", ["getUserActiveCart"]),
    logIn(){
      this.$router.push({name:'login'})
    },
    registerIn(){
      this.$router.push({name:'register'})
    },
    closeDrawer: function(childValue) {
      this.rightDrawerOpen = childValue;
    },
    forgotDialog() {
      this.resetPassword = !this.resetPassword;
      this.timer = setTimeout(() => {
        this.resetPassword = !this.resetPassword;
        this.timer = void 0;
      }, 5000);
    },
    async runFetchUser() {
      if (this.loggedIn) {
        await this.fetchUser();
        this.lang = this.user.lang;
        this.$i18n.locale = this.user.lang;
        localStorage.setItem("lang", this.user.lang);
      } else if (localStorage.getItem("lang") == undefined) {
        this.lang = "ru-rus";
        localStorage.setItem("lang", "ru-rus");
      }
    },
    async sendLang(value) {
      localStorage.setItem("lang", value);
      await CategoryService.updateCategoryLang(value);
      window.location.reload();
    },
  },
  components: {
    "go-register": require("src/app/accounts/auth/register-dialog").default,
    "go-login": require("src/app/accounts/auth/login-dialog").default,
    "go-hover-dropdown": require("../../../layouts/dropdown/dropdown").default,
    "go-drawer": require("../../../layouts/drawer/drawer").default,
    "go-primary-search": require("../components/custom-components/primary-search")
      .default,
    "go-basket-drawer": require("../../billing/carts/cart-sticky").default,
    "forget-password": require("src/app/accounts/auth/forget-password").default
  },
  created() {
    this.$i18n.locale = localStorage.getItem("lang");
    // (this.loggedIn || localStorage.getItem('user') && this.userActiveCart == '') ? this.getUserActiveCart() : this.$store.commit('checkout/userActiveCart', undefined)
  },
  mounted() {
    this.runFetchUser();
  }
};
</script>

<style lang="scss" scoped>
.q-tab--active {
  // color: var(--q-color-black) !important;
  color: black !important;
  font-weight: bold !important;
}

.navbar {
  height: 141px;
}

.top-bar {
  display: grid;
  grid-template-columns: 27.5% 45% 27.5%;
  height: 80px;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.hamburger {
  display: none;
}

.drawer {
  display: none;
}

.auth-dropdown {
  margin: 0px;
}

.go-logo {
  height: 40px;
  margin-left: 40px;
}

.go-search {
  display: none;
}

.go-basket {
  cursor: pointer;
  position: relative;
  height: 37px;
  width: 27px;
}
.basket-text {
  position: absolute;
  margin-top: 2px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.93px;
  line-height: 18px;
  text-align: center;
}

.basket-logo {
  height: 37px;
  width: 27px;
}
.auhtn-vs-basket {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.vertical-inset {
  margin-right: 30px;
}

//category line

.category-bar {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-left: 16px;
  margin-right: 30px;
}

.category-side {
  float: left;
  list-style: none;
}

.category-side li {
  display: inline-block;
  margin-right: 25px;
}

.bottom-primary {
  border-bottom: 2px solid transparent;
  color: #081322;
}
.bottom-primary:hover {
  border-bottom: 2px solid var(--q-color-primary);
  color: #081322;
  border-radius: 0px;
  background: transparent;
}

@media screen and (max-width: 757px) {
  .auth-section {
    display: none;
  }
  .navbar {
    height: 70px;
  }

  .top-bar {
    grid-template-columns: 23% 54% 23%;
    height: 70px;
  }

  .top-bar {
    display: grid;
  }

  .hamburger {
    margin-left: 20px;
  }

  .drawer {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .category-bar {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .hi-reachel {
    display: none;
  }

  .go-logo {
    margin: 0 auto;
    height: 37px;
  }

  .go-search {
    display: contents;
  }

  .go-basket {
    margin-right: 10px;
  }

  .basket-logo {
    height: 30px;
    widows: 29px;
  }

  .basket-text {
    margin-top: -1px;
  }

  .q-body--force-scrollbar {
    overflow-y: hidden !important;
  }
}
.q-dialog__inner > div {
  border-radius: 0px !important;
  box-shadow: none;
}
</style>
