<template>
  <div>
    <div class="mobile-navbar">
      <div class="mobile-top-bar row items-center">
        <div class="mobile-drawer">
          <q-btn
            class="hamburger"
            flat
            round
            icon="menu"
            @click="leftDrawerOpen = !leftDrawerOpen"
          />
          <q-drawer

            v-model="leftDrawerOpen"
            :breakpoint="767"
            overlay
            class="drawer-width"
            content-style="z-index:8000; background:#202A38; font-family: 'OpenSans';width:100vw!important"
          >
            <drawer @closedrawer="leftDrawerOpen = false"></drawer>
          </q-drawer>
        </div>

        <div class="q-pa-md q-gutter-sm basket" v-if="dialog">
          <q-dialog
            v-model="dialog"
            persistent
            :maximized="maximizedToggle"
            transition-show="slide-up"
            transition-hide="slide-down"
          >
            <q-card class="bg-white">
              <q-bar class="top-bar bg-white">
                {{ $t('yourBasket') }}
                <span
                  style="color:#CCCCCC;"
                  class="q-ml-sm"
                  v-if="userActiveCart && userActiveCart.products && userActiveCart.products.length > 0"
                >({{userActiveCart.products.length}} {{$t('items')}})</span>
                <span style="color:#CCCCCC;" class="q-ml-sm" v-else>( 0 {{$t('items')}})</span>
                <q-space />
                <q-btn dense flat icon="close" v-close-popup></q-btn>
              </q-bar>

              <q-separator class="list-separator" />
              <mobile-cart></mobile-cart>
            </q-card>
          </q-dialog>
        </div>

        <div class="logo">
          <router-link to="/">
            <img class="go-logo" src="statics/Logo-Black.svg" />
          </router-link>
        </div>
        <div class="auhtn-vs-basket">
          <div class="row search-and-basket">
            <div class="go-search">
              <img @click="searchToggle = !searchToggle" src="./Search.svg" />
            </div>
            <!-- If authorised user -->

            <!-- If not authorised -->
            <div>
              <div
                class="mobile-go-basket"
                v-if="userActiveCart && userActiveCart.products && userActiveCart.products.length > 0"
                @click="dialog = true"
              >
                <p class="mobile-basket-text">{{userActiveCart.products.length}}</p>
                <img class="mobile-basket-logo" style="width:100%;" src="./active_basket.svg" />
              </div>
              <div class="mobile-go-basket" v-else @click="dialog = true">
                <p class="mobile-basket-text">0</p>
                <img class="mobile-basket-logo" style="width:100%;" src="./Basket.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="searchToggle" class="search-bar">
        <q-input
          filled
          borderless
          v-model="keyword"
          autofocus
          input-style="color:#FFFFFF; font-size:18px;"
          class="searchInput"
          :placeholder="$t('searchInput')"
          @keyup.enter.native="searchProduct(keyword)"
          ref="keyword"
          :rules="[val => !!val || $t('required')]"
          lazy-rules="ondemand"
        >
          <template v-slot:append>
            <q-icon
              name="close"
              @click="searchToggle = false"
              color="white"
              size="md"
            />
          </template>
          <template>
            <div class="row search-and-basket">
              <div class="go-search q-mr-sm">
                <img @click="searchProduct(keyword)" src="statics/icons/White.svg" />
              </div>
            </div>
          </template>
        </q-input>
        <!-- <router-link to="/category-list" @click="openCategoryList"> -->
          <div class="all-categories bg-secondary" @click="openCategoryList()">
            <span class="mobile-all-categories">
              {{categoryName}}
              <q-icon name="keyboard_arrow_down" />
            </span>
          </div>
        <!-- </router-link> -->
        <go-drawer :direction="'left'" :exist="true" ref="openCategoryListDrawer">
          <q-item clickable class="q-py-md">
                <q-item-section><span class="text-h6 text-bold">Shop by Category</span></q-item-section>
                <q-item-section avatar>
                  <q-icon color="black" name="close" @click="openCategoryList()" />
                </q-item-section>
              </q-item>
           <q-list bordered>
              <q-item clickable v-ripple v-for="(category, index) in rootCategoryList" :key="index">
                <q-item-section avatar>
                  <q-avatar square>
                    <img v-if="category.image" :src="category.image">
                    <img v-else src="statics/go-logo.svg">
                  </q-avatar>
                </q-item-section>
                <q-item-section ><span class="ellipsis-2-lines" @click="setCategory(category);  openCategoryList()">{{category.name}}</span></q-item-section>
                <q-item-section style="padding-left:0; min-width:30px" avatar>
                  <q-icon color="black" name="keyboard_arrow_right" />
                </q-item-section>
              </q-item>
           </q-list>
        </go-drawer>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState, mapMutations } from "vuex";
export default {
  data() {
    return {
      keyword: "",
      selectedCategoryId: '',
      selectedCategoryName: '',
      leftDrawerOpen: false,
      rightDrawerOpen: true,
      authorised: true,
      register: false,
      login: false,
      searchToggle: false,
      dialog: false,
      maximizedToggle: true
    };
  },
  methods: {
    ...mapActions("searchProducts", ["updateSearchKeyword"]),
    ...mapMutations("searchProducts", ["updateLoader", "updateCatLoader"]),
    ...mapActions("checkout", ["getUserActiveCart"]),
    searchProduct(keyword) {
      this.$refs.keyword.validate();
      if(this.selectedCategoryId != '' && keyword){
       this.$router.push({name: 'search', query:{
         k:keyword,
         cpn: this.$route.query.cpn ? this.$route.query.cpn : 1,
         cid: this.selectedCategoryId}
        })
     }else{
       this.$router.push({name: 'search', query:{
         k: keyword,
         cpn: this.$route.query.cpn ? this.$route.query.cpn : 1}
        })
     }
     this.updateLoader()
     this.updateCatLoader()
    },
    setCategory(category){
      if(category){
        this.selectedCategoryName = category.name
        this.selectedCategoryId = category.ebay_id
      }
    },
    openCategoryList(){
      if (this.$refs.openCategoryListDrawer.active) {
        this.$refs.openCategoryListDrawer.close();
      } else {
        this.$refs.openCategoryListDrawer.open();
      }
    }
  },
  created() {
    this.loggedIn || localStorage.getItem("user")
      ? this.getUserActiveCart()
      : this.$store.commit("checkout/userActiveCart", undefined);
  },
  computed: {
    ...mapGetters("auth", ["loggedIn", "user"]),
    ...mapGetters("checkout", ["userActiveCart"]),
    ...mapState("category", ["rootCategoryList",]),
    categoryName(){
      var name = this.$t('allCategories')
      if(this.$route.query.cid){
        this.rootCategoryList.forEach(element => {
          if(element.ebay_id == this.$route.query.cid || element.ebay_id == this.$route.query.rcid){
            this.selectedCategoryId == '' ? this.selectedCategoryId = element.ebay_id : ''
            return name =  element.name
          }
        });
        if(this.selectedCategoryName != ''){
          name = this.selectedCategoryName
        }
        return name
      }else{
        if(this.selectedCategoryName != ''){
          name = this.selectedCategoryName
        }
        return name
      }
    }
  },
  components: {
    register: require("src/app/accounts/auth/register-dialog").default,
    login: require("src/app/accounts/auth/login-dialog").default,
    dropdown: require("../../../layouts/dropdown/dropdown").default,
    "hover-dropdown": require("../../../layouts/dropdown/dropdown").default,
    drawer: require("../../../layouts/drawer/drawer").default,
    "primary-search": require("../components/custom-components/primary-search")
      .default,
    "mobile-cart": require("src/app/billing/carts/mobile-cart-full").default
  }
};
</script>

<style lang="scss" scoped>
// top line

.mobile-navbar {
  height: 70px;
}

.mobile-top-bar {
  display: grid;
  grid-template-columns: 23% 54% 23%;
  height: 70px;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.go-logo {
  height: 37px;
}

.logo {
  margin: 0 auto;
  height: 37px;
}
.go-search {
  cursor: pointer;
}

.all-categories {
  height: 20px;
  border: 1px solid black;
  padding: auto 0;
  text-align: center;
}

.mobile-all-categories {
  color: white;
  text-align: center;
}

.mobile-go-basket {
  cursor: pointer;
  position: relative;
  height: 37px;
  width: 27px;
}

.mobile-basket-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.93px;
  line-height: 18px;
  vertical-align: middle;
}

.hamburger {
  margin-left: 20px;
}

.mobile-drawer {
  display: block;
}

.mobile-search-bar {
  display: none;
}

.search-and-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-go-basket {
  margin-right: 20px;
}

.mobile-basket-logo {
  height: 30px;
  widows: 29px;
}

.mobile-basket-text {
  margin-top: -1px;
}

// basket
.top-bar {
  height: 70px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.basket {
  position: absolute;
  width: 100%;
}

.q-bar--standard {
  padding: 0px;
}
aside {
  min-width: 100vw !important;
}
.searchInput {
  padding: 0px;
  background: #081322;
  font-size:18px;
  padding-bottom: 8px;
}
</style>
