<template>
    <div>
        <div class="row default-address-card q-mb-md">
        <div>
          <span>Mr A Knights</span>
          <br />
          <span >
            Card Number: <b>**** **** **** 0000</b>  <span class="q-ml-lg"> Expires: 20/20</span> 
          </span>
        </div>
        <div class="row buttons">
          
                <img src="../../../../assets/accounts-icons/mastercard.svg" alt="">
            
          <div class="default-address-button">
            <img src="../../../../assets/accounts-icons/star.svg" alt />
            <span>Default method</span>
          </div>
          <div class="edit-address-button">
            <q-btn-group>
              <q-btn
                square
                align="center"
                class="col"
                size="105%"
                color="secondary"
                label="Edit payment info"
              />
              <q-btn color="blue-grey-10" icon="arrow_right_alt" />
            </q-btn-group>
          </div>
        </div>
      </div>

    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>
.default-address-card {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 23px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  width: 58%;
  justify-content: space-between;
}

.default-address {
  display: flex;
  align-items: center;
}

.default-address-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 180px;
  justify-content: space-around;
}

.add-new-address-container {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 23px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.add-new-address-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
}

.dialog{
  height: 1000px;
}

.form-card{
  width: 100%;
  height: 2000px;
}

.address-form-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-form-box{
  width: 90%;
}

.add-btn{
  display: flex;
  justify-content: center;
}
</style>