<template>
  <q-card bordered square class="q-my-md q-px-lg row items-center justify-between">
    <q-card-section
      class="row items-center q-gutter-xl"
      :class="windowWidth < 845 ? 'q-pt-sm' : ''"
      horizontal
    >
      <div>
        Mr A Knights
        <br />Lorem ipsum dolor sit amet
      </div>

      <div class="row items-center">
        Expires:
        <b>20/20</b>
      </div>
      <div class="row items-center">
        <img
          v-if="card.brand === 'Humo'"
          src="../../../../assets/accounts-icons/humo.jpg"
          alt="HumoCard"
          style="max-width: 70px;min-width: 70px;"
        />
        <img
          v-else
          src="../../../../assets/accounts-icons/uzcard.png"
          :class="windowWidth>900 ? '':'q-mb-md'"
          alt="UzCard"
          style="max-width: 70px;min-width: 70px;"
        />
      </div>
    </q-card-section>
    <q-card-section
      class="row justify-between q-pl-none"
      :class="[windowWidth > 1045 ? 'row' : 'column']"
      :style="[windowWidth > 1045 ? {width: '420px'} : {}, windowWidth < 1045 && windowWidth > 500 ? {width: '240px'} : {}, windowWidth <= 500 ? {width: '100%'} : {}]"
    >
      <div
        v-if="card.is_default"
        class="default-address-button row justify-left q-mr-sm"
        :class="windowWidth < 1045 ? 'q-mb-sm' : ''"
      >
        <img class="q-mr-xs" src="../../../../assets/accounts-icons/star.svg" alt="default method" />
        <span>{{$t('default_method')}}</span>
      </div>
      <go-btn
        v-else
        :block="windowWidth <= 500"
        class="q-mr-sm"
        :class="windowWidth < 1045 ? 'q-mb-sm' : ''"
        type="submit"
        :text="$t('delete')"
        @click="deleteCard(card.id)"
      ></go-btn>
      <go-btn :block="windowWidth <= 500" color="secondary" right-bg="go-secondary-o"></go-btn>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["card"],
  data() {
    return {
      windowWidth: window.innerWidth
    };
  },
  computed: {
    ...mapGetters("profile", ["statusIsDefault", "statusIsDelete"])
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  methods: {
    ...mapActions("profile", ["setUserCardIsDefault", "setUserCardIsDelete"]),
    async setDefault(card_id) {
      await this.setUserCardIsDefault(card_id);
      if (this.statusIsDefault == 200) {
        this.$emit("getCard");
      }
    },
    async deleteCard(card_id) {
      await this.setUserCardIsDelete(card_id);
      if (this.statusIsDelete == 200) {
        this.$emit("getCard");
      }
    }
  }
};
</script>

<style scoped>
.default-address-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
  /* justify-content: space-around; */
}
</style>
