<template>
  <div>
    <q-checkbox
      :val="aspectValue"
      @input="addAspectValue()"
      v-model="addAspect"
      color="secondary"
      :label="aspectValue"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  props: ["aspectValue", "aspectName"],
  data() {
    return {
      addAspect: false
    };
  },
  computed: {
    ...mapState("searchProducts", ["aspectValuesList"])
  },
  methods: {
    ...mapActions("searchProducts", ["updateAspectValuesList"]),
    ...mapActions("searchProducts", ["filterProductListByAspects"]),
    ...mapActions("searchProducts", ["updateLoader"]),
    addAspectValue() {
      let payload = {
        aspectValue: this.aspectValue,
        aspectName: this.aspectName,
        addAspect: this.addAspect
      };
      this.updateAspectValuesList(payload);
    }
  },
  created(){
    let url = new URL(window.location.href);
    let params = new URLSearchParams(url.search.slice(1));
    if(this.aspectName && this.aspectValue){
      let i = 0
      while (params.has('name'+i) && params.has('value'+i)){
        if(this.aspectName == params.get('name'+i)){
          let aspectValue = this.aspectValue
          let addAspect = this.addAspect
          let values = params.get('value'+i)
          values = values.split("|")
          values.forEach(function (value){
            if(aspectValue == value){
              addAspect = true
            }
          })
          this.addAspect = addAspect
        }
        i++;
      }
    }
  }
};
</script>

<style scoped>
</style>
