<template>
  <div>
    <q-list bordered>
      <q-expansion-item
        class="bg-secondary"
        group="sub-category"
        label="Sub category"
        default-opened
        header-class="text-white"
      >
        <q-list class="bg-white">
          <q-item>
            <q-item-section avatar>
              <div class="q-gutter-sm">
              <apect-options></apect-options>
                <apect-options></apect-options>
              </div>
            </q-item-section>
          </q-item>
        </q-list>
      </q-expansion-item>
    </q-list>
  </div>
</template>

<script>
  export default {
    props:['aspectTitle'],

    components: {
      "apect-options": require('./aspect-options').default
    }
  }
</script>

<style scoped>

</style>
