<template>
  <div>
    <smth-went-wrong-message v-if="smthWemtWrongMessage"></smth-went-wrong-message>
    <div v-if="!hasProducts" class="loading-box">
      <go-loader></go-loader>
    </div>
    <div v-if="hasProducts && !smthWemtWrongMessage">
      <product-carousel carousel="go-skyblue-bg" :products="banner1"></product-carousel>
      <product-cards-gallery :products="trending" ></product-cards-gallery>
      <div class="column items-center">
        <p class="text-h5 text-bold">Our Best Sellers</p>

      </div>
      <product-slider :products="bestsellers"></product-slider>

      <div class="q-mt-xl column items-center">
        <p class="text-h5 text-bold">Inspired by [TITLE]</p>
      </div>
      <product-slider class="q-mb-xl" :products="inspired"></product-slider>

      <product-carousel carousel="bg-black" :products="banner2"></product-carousel>

      <div class="column items-center text-center q-px-lg">
        <p class="text-h5 text-bold">Because you bought [Product Title] we recommend…</p>
      </div>
      <product-slider ref="goTodaysDealsTarget" :products="recommended"></product-slider>

      <div class="column items-center q-mt-xl">
        <p class="text-h5 text-bold">Best in [CATEGORY]</p>
      </div>
      <product-slider ref="goTodaysDealsTarget" :products="recommended" class="q-mb-xl"></product-slider>

      <product-carousel carousel="go-grey-bg" :products="banner3"></product-carousel>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters , mapState } from "vuex";
export default {
  data() {
    return {
      text: "",
      link: "inbox",
      banner1: [],
      trending: [],
      banner2: [],
      banner3: [],
      bestsellers: [],
      inspired: [],
      recommended: [],
      smthWemtWrongMessage: false
    };
  },
  computed: {
    ...mapGetters("address", ["homePageProducts","newhomePageProducts"]),
    ...mapState('category', ['rootCategoryList']),
    hasProducts(){
      var has = false
      if(this.newhomePageProducts == undefined){
        this.smthWemtWrongMessage = true
        has = true
      }else if(Object.keys(this.newhomePageProducts).length > 0){
        has = true
      }
      return has
    }
  },

  methods: {

    ...mapActions("address", ["newHomePageProducts"]),

    async getProducts() {
      await this.newHomePageProducts();
      if (this.newhomePageProducts.count > 0) {
        this.banner1 = [];
        this.banner2 = [];
        this.bestsellers = [];
        this.inspired = [];
        this.recommended = [];
        this.trending = [];
        this.newhomePageProducts.results.forEach(element => {
          if (element.home_product.group_type == "banner1") {
            this.banner1.push(element);
          }
          if (element.home_product.group_type == "banner2") {
            this.banner2.push(element);
          }
          if (element.home_product.group_type == "banner3") {
            this.banner3.push(element);
          }
          if (element.home_product.group_type == "bestseller") {
            this.bestsellers.push(element);
          }
          if (element.home_product.group_type == "inspired") {
            this.inspired.push(element);
          }
          if (element.home_product.group_type == "recommended") {
            this.recommended.push(element);
          }
          if (element.home_product.group_type == "tranding") {
            this.trending.push(element);
          }
        });
      }
    }
  },
  mounted() {
    this.getProducts();
  },
  components: {
    "product-carousel": require("../shared/components/custom-components/product-carousel")
      .default,
    // 'product-list-trending'      : require('./shared/components/product-list-trending').default,
    "product-cards-gallery": require("./shared/components/product-cards-gallery")
      .default,
    "product-slider": require("../shared/components/custom-components/product-slider")
      .default,
    "smth-went-wrong-message": require("src/app/extra-pages/smth-went-wrong").default,
  }
};
</script>
<style>
.my-menu-link {
  color: white;
  background: #f2c037;
}
</style>
