// All pages' scroller on x axis
body {
  overflow-x: hidden;
}

// GoBazar dialog backdrop styles
.q-dialog__backdrop {
  z-index: -1;
  pointer-events: all;
  background: black !important;
  opacity: 80% !important;
}

// Checkbox styles of GoBazar
input[type="radio"]:not(old) {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 1em;
  border: 3px solid #0b1322;
  width: 11px;
  height: 11px;
  background: #0b1322;
  outline: none;
  margin-right: 5px;
}

input[type="radio"]:not(old):checked {
  background: transparent;
  width: 11px;
  height: 11px;
  border: 3px solid #0b1322;
  outline: none;
}

.paginColor {
  background: red !important;
}

.bg-whitegrey {
  background-color: #e6e7e8;
}
.ellipsis {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.ellipsis-2-lines,
.ellipsis-3-lines,
.ellipsis-4-lines {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}
.ellipsis-2-lines {
  -webkit-line-clamp: 2 !important;
}
.ellipsis-3-lines {
  -webkit-line-clamp: 3 !important;
}
.ellipsis-4-lines {
  -webkit-line-clamp: 4 !important;
}

.text-half {
  color: rgba(0, 0, 0, 0.6);
}
.no-decoration {
  text-decoration: none;
}

.remove-link{
  text-decoration: none !important;
  color: black !important;
}

.remove-link-w {
	text-decoration: none;
	color: white;
}

.invisible-option {
	display: none;
}

.q-footer{
 z-index: 500;
}
