/* Root elements */

:root {
    --franchise: 'Franchise';
    --opensans: 'OpenSans';
    --os-semibold: 'OpenSans-SemiBold';
    --os-bold: 'OpenSans-Bold';
    --pn-regular: 'Proxima-Regular';
}


/******** Franchise *********/

@font-face {
    font-family: 'Franchise';
    src: url(./fonts/Franchise/Franchise-Bold.ttf);
}


/******** OpenSans ******* **/

@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(./fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(./fonts/Open_Sans/OpenSans-Bold.ttf);
}


/******** Franchise *********/

.franchise {
    font-family: 'Franchise';
}


/******** OpenSans ******* **/

.opensans {
    font-family: 'OpenSans';
}

.opensans-semibold {
    font-family: 'OpenSans-SemiBold';
}

.opensans-bold {
    font-family: 'OpenSans-Bold';
}

* {
    font-family: 'Open Sans', 'Open-Sans', 'OpenSans', Open Sans, Open-Sans, OpenSans, 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    text-transform: none;
}


/******** Proxima ******* **/

@font-face {
    font-family: 'Proxima-Regular';
    src: url(./fonts/Proxima/proxima-nova-regular.ttf);
}

.proxima-regular {
    font-family: 'Proxima-Regular';
}