/* FONT-SIZES OF GOBAZAR */

.size14 {
    font-size: 14px!important;
}

.size16 {
    font-size: 16px!important;
}

.size18 {
    font-size: 18px!important;
}

.size20 {
    font-size: 20px!important;
}

.size22 {
    font-size: 20px!important;
}

.size24 {
    font-size: 24px!important;
}

.size26 {
    font-size: 24px!important;
}

.size28 {
    font-size: 28px!important;
}

.size30 {
    font-size: 28px!important;
}

.size32 {
    font-size: 28px!important;
}

.size34 {
    font-size: 28px!important;
}

.size36 {
    font-size: 28px!important;
}

.size38 {
    font-size: 28px!important;
}

.size40 {
    font-size: 28px!important;
}

.size42 {
    font-size: 28px!important;
}

.size44 {
    font-size: 28px!important;
}

.size46 {
    font-size: 28px!important;
}

.size48 {
    font-size: 28px!important;
}

.size50 {
    font-size: 80px!important;
}