<template>
 <div style="display:inline-flex;width:auto;" @click="click">
  <div  v-ripple class="relative-position row ">
   <button style="width:auto;" class="button" id="addToCart">
    <span>
    <slot>{{label}}</slot>
    </span>
    <div class="cart">
     <svg viewBox="0 0 36 26">
      <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
     </svg>
    </div>
   </button>
   <i
    class="material-icons"
    style="color:white;background:#e53f2d;height:44px;width:48px;"
   >
    arrow_right_alt
   </i>
  </div>
 </div>
</template>

<script>
export default {
    props :{
        label:{
            type:[String,Function],
            default:"ADD TO CART"
        }
    },
mounted(){
      
},
methods :{
    click(){
        this.$emit("click")
    }
}
};
</script>

<style lang="scss">
.button {
 --background: #ff4733;
 --text: #fff;
 --cart: #fff;
 --tick: var(--background);
 position: relative;
 border: none;
 background: none;
 padding: 8px 28px;
 -webkit-appearance: none;
 -webkit-tap-highlight-color: transparent;
 -webkit-mask-image: -webkit-radial-gradient(white, black);
 overflow: hidden;
 cursor: pointer;
 text-align: center;
 min-width: 144px;
 color: var(--text);
 background: var(--background);
 transform: scale(var(--scale, 1));
 transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);

 span {
  font-size: 14px;
  font-weight: 500;
  display: block;
  position: relative;
  padding-left: 24px;
  margin-left: -8px;
  line-height: 26px;
  transform: translateY(var(--span-y, 0));
  transition: transform 0.7s ease;
 
  &:after {
   --w: 14px;
   --h: 2px;
   --l: 2px;
   --t: 12px;
  }
 }
 .cart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -18px;
  transform-origin: 12px 23px;
  transform: translateX(-120px) rotate(-18deg);
  &:before,
  &:after {
   content: "";
   position: absolute;
  }
  &:before {
   width: 6px;
   height: 6px;
   border-radius: 50%;
   box-shadow: inset 0 0 0 2px var(--cart);
   bottom: 0;
   left: 9px;
   filter: drop-shadow(11px 0 0 var(--cart));
  }
  &:after {
   width: 16px;
   height: 9px;
   background: var(--cart);
   left: 9px;
   bottom: 7px;
   transform-origin: 50% 100%;
   transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
   transition: transform 1.2s ease var(--fill-d);
  }
  svg {
   z-index: 1;
   width: 36px;
   height: 26px;
   display: block;
   position: relative;
   fill: none;
   stroke: var(--cart);
   stroke-width: 2px;
   stroke-linecap: round;
   stroke-linejoin: round;
   polyline {
    &:last-child {
     stroke: var(--tick);
     stroke-dasharray: 10px;
     stroke-dashoffset: var(--offset, 10px);
     transition: stroke-dashoffset 0.4s ease var(--offset-d);
    }
   }
  }
 }
 &.loading {
  //   --scale: 0.95;
  --span-y: -32px;
  --icon-r: 180deg;
  --fill: 1;
  --fill-d: 0.8s;
  --offset: 0;
  --offset-d: 1.73s;
  .cart {
   animation: cart 2.5s linear forwards 0.2s;
  }
 }
}

@keyframes cart {
 12.5% {
  transform: translateX(-60px) rotate(-18deg);
 }
 25%,
 45%,
 55%,
 75% {
  transform: none;
 }
 50% {
  transform: scale(0.9);
 }
 44%,
 56% {
  transform-origin: 12px 23px;
 }
 45%,
 55% {
  transform-origin: 50% 50%;
 }
 87.5% {
  transform: translateX(70px) rotate(-18deg);
 }
 100% {
  transform: translateX(140px) rotate(-18deg);
 }
}

html {
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
}

* {
 box-sizing: inherit;
 &:before,
 &:after {
  box-sizing: inherit;
 }
}

:focus {
    outline: none;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0px;
}
</style>
