<template>
  <div>
    <q-btn flat label="Read More"  @click="dialog = true" v-if="description" />

    <q-dialog v-model="dialog">
      <q-card >
        <q-card-section class="section-popup">
            <q-bar class="bg-white" >
              <q-space />
              <q-btn dense flat icon="close" v-close-popup>
                <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
              </q-btn>
            </q-bar>
        </q-card-section>

        <q-separator />

        <q-card-section style="max-height: 80vh" class="scroll">
          <div v-html="description"></div>
        </q-card-section>


        
      </q-card>
    </q-dialog>

    
  </div>
</template>

<script>
export default {
  props:['description'],
  data() {
    return {
      dialog: false,
      maximizedToggle: true,
    };
  },

};
</script>
<style lang="scss" scoped>

 .section-popup {
   padding: 6px 0px 3px 16px!important; 
 }

.q-dialog__inner--minimized > div {
    max-width: 90%;
}





</style>