<template>
 <div>
   <div class="web-reviews" >
     <web-reviews  :sendReviewObj="sendReviewObj"  />

   </div>
   <div class="mobile-reviews">
     <mobile-reviews :sendReviewObj="sendReviewObj" />
   </div>

 </div>
</template>

<script>
export default {
  props:["sendReviewObj"],
  data() {
    return {
      reviewData:[],
      fiveStarRating: 0
    };
  },

  watch:{
    proReviewData: function (value) {
      this.reviewData = value

    },

    proFiveStarsRating: function (value) {
        this.fiveStarRating = value
    }
  },

  components: {
    "web-reviews": require("./reviews/web-reviews").default,
    "mobile-reviews": require("./reviews/mobile-reviews").default,

  },

};
</script>
<style>
.mobile-reviews {
  display: none;
}
  @media screen and (max-width: 600px) {
    .web-reviews {
      display: none;
    }

    .mobile-reviews {
      display: contents;
    }
  }
</style>

