<template>
  <div>
    <div v-if="loader" class="loading-box">
      <go-loader></go-loader>
    </div>
    <div class="category-background row justify-center items-center">
      <go-logo :name="rootCategoryName"></go-logo></div>
    <div class="q-mx-xl">
      <section id="info" class="text-center">
        <p class="text-h4 q-mt-lg" v-if="rootCategoryList.length > 0 && (productListInCategory && productListInCategory.length == 0)">{{$t('allCategories')}}</p>
      </section>
      <div v-if="!loader" style="min-height:500px">
        <!-- <ul class="main-nav">
     <li v-for="(item, index) in pathName" :key="index">
      <span v-if="item.catID == activeCatID" class="active-path">{{item.catName}} </span>
      <span v-else class="path" @click="goSubCat(item.catID, item.catName)">{{item.catName}} </span>
      <span class="path-row" v-if="item.catID != activeCatID"> > </span> </li>
        </ul>-->
        <section id="categories" class="container" v-if="subCategoryList.length == 0 && (productListInCategory && productListInCategory.length == 0)">
          <div class="box" v-for="(category, index) in rootCategoryList" :key="index">
            <div
              class="category-box"
              style="cursor:pointer;"
              @click="goSubCat(category['ebay_id'], category['name'], true)"
            >
              <div class="row justify-center">
                <img
                  spinner="true"
                  style="max-height:190px!important;width:auto;"
                  :src="category.image"
                />
              </div>
              <div class="text-h5 q-mt-lg text-center">{{category.name}}</div>
              <div class="text-subtitle1 text-center">
                <!-- <span class="text-bold text-primary">{{category.count}}</span> items in this category -->
              </div>
            </div>
          </div>
        </section>
        <section id="categories" class="container" v-if="subCategoryList.length > 0">
          <div class="box" v-for="(category, index) in subCategoryList" :key="index">
            <div
              class="category-box"
              style="cursor:pointer;"
              @click="goSubCat(category['ebay_id'], category['name'], false)"
            >
              <div class="row justify-center">
                <img
                  spinner="true"
                  style="max-height:190px!important;width:auto;"
                  :src="category.image"
                />
              </div>
              <div class="text-h5 q-mt-lg text-center">{{category.name}}</div>
              <div class="text-subtitle1 text-center">
                <!-- <span class="text-bold text-primary">{{category.count}}</span> items in this category -->
              </div>
            </div>
          </div>
        </section>
        <section id="productList" v-if="productListInCategory && productListInCategory.length > 0" class="container q-mt-md">
              <product-card-grid
                  class="box"
                  v-for="(product, index) in productListInCategory"
                  :key="index"
                  :url="product['galleryURL']"
                  :author="product['category_name']"
                  :title="product.title"
                  :price="product.converted_price | sum"
                  :old="product.old_price"
                  :productID="product.id"
                  :container="product.is_blacklisted === 'True' ? 'dont-allow' : ''"
                  :class="product.is_blacklisted === 'True' ? 'no-pointer-events' : ''"
                  :style="product.is_blacklisted === 'True' ? 'user-select:none;cursor: not-allowed!important;' : 'cursor: pointer' && productsCount == 0 ? 'display:none' : ''"
                  :isDisabled="product.is_blacklisted === 'True' ? true : false"
                />
            <!-- <div class="box" v-for="(product, index) in productListInCategory" :key="index" >
              <div class="category-box" style="cursor:pointer;" @click="goToDetails(product['id'])">
                <div class="row justify-center">
                  <img
                    spinner="true"
                    style="max-height:190px!important;width:auto;"
                    :src="product['galleryURL']"
                  />
                </div>
                <div class="text-h5 q-mt-lg text-center">{{product['title']}}</div>
              </div>
            </div> -->
          <div v-if="productsCount == 0" class="q-mt-md text-h2 franchise flex justify-center">{{$t('noProduct')}}!</div>
        </section>
        <category-pagination
          v-if="productListInCategory.length > 19"
        ></category-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { mapActions, mapState, mapMutations } from "vuex";
export default {
  data() {
    return {
      banner1: [],
      rootCategory: ""
    };
  },
  components: {
    "go-logo": require("src/app/shared/components/custom-components/go-category-logo").default,
    "product-carousel": require("src/app/shared/components/custom-components/product-carousel")
      .default,
    "category-pagination": require("src/app/shared/components/custom-components/category-pagination")
      .default,
    "product-card-grid": require("src/app/products/product-list/components/product-card-grid").default,
  },
  computed: {
    ...mapState("category", [
      "rootCategoryList",
      "subCategoryList",
      "productsCount",
      "pathName",
      "activeCatID",
      "loader",
      "productListInCategory",
      "subCategoryList"
    ]),
    rootCategoryName(){
      var name = 'BAZAR!'
      this.rootCategoryList.forEach(element => {
        if(element.ebay_id == this.$route.query.rcid){
          return name = element.name
        }
      });
      return name
    }
  },
  mounted() {
    this.setSubCategoryList()
    if(this.$route.query.cid){
      this.getRootCategoryItem();
      this.updateCategoryList({
        cid: this.$route.query.cid,
        cpn: this.$route.query.cpn
      });
    }
  },
  methods: {
    ...mapActions("category", [
      "getRootCategory",
      "updateCategoryList",
      "productList",
      "updateLoader",
      "setSubCategoryList"
    ]),
    goSubCat(catID, catName, isRoot) {
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search.slice(1))
      isRoot && params.set("rcid", catID)
      params.set("cid", catID);
      !params.has("cpn") && params.set("cpn", 1);
      let newUrl = window.location.pathname + "?" + params;
      this.$router.push(newUrl);
    },

    goToDetails(value) {
      this.$router.push({ name: "details", query: { itm: value } });
    },
    getRootCategoryItem(){
      for (let item of this.rootCategoryList) {
        if (this.$route.query.cid === item.ebay_id){
          this.rootCategory = item.name
        }
      }
    },

  },
};
</script>

<style scoped>

.category-background{
  width: 100%;
  height: 250px;
  background-image: url("../../../statics/pattern.svg");
  background-size: 50%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 0px 50px;
}
.box {
  width: 250px;
  /* border: 1px solid red; */
  margin: 5px 10px;
}

.main-nav {
  list-style: none;
  margin-top: 55px;
  font-size: 20px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.path-row {
  margin-left: 5px;
  margin-right: 5px;
}
.path {
  cursor: pointer;
}

.active-path {
  font-weight: bold;
  cursor: default;
}
</style>
