<template>
  <div>
    <q-card class="dialog-card">
      <q-card-section class="q-pa-none q-mt-md">
        <img
          src="statics/Logo-Black.svg"
          spinner-color="white"
          style="height: 46px; max-width: 120px"
        />
        <div class="text-h5">{{$t('loginToYourAccount')}}</div>
        <div class="row justify-left items-center">
          <div class="q-mr-xs text-grey">{{$t('notSignedUpYet')}}</div>
          <div
            class="to-register q-ml-xs"
            flat
            style="color: #FF4733;"
            @click="openRegister()"
          >{{$t('register')}}</div>
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-mt-md">
        <form @submit.prevent="submitForm">
          <div class="column">
            <q-banner
              class="bg-red text-white q-mb-md text-center"
              v-if="this.authenticationErrorCode !== 0"
            >
              <template stot:avatar>
                <q-icon size="md" name="error" />&nbsp; Check email &amp; password.
              </template>
            </q-banner>
          </div>
          <!-- Area for account name -->
          <div class="column">
            <q-input
              class="col q-mb-sm"
              dense
              type="email"
              square
              outlined
              v-model="formInfo.email"
              placeholder="Enter your email"
              :rules="[ val => checkEmail(val) || 'Please enter a valid email address!']"
              ref="email"
              lazy-rules="ondemand"
            />
            <!-- hint="Email address" -->
            <q-input
              dense
              placeholder="Enter your password"
              class="col"
              square
              outlined
              v-model="formInfo.password"
              :type="isPwd ? 'password' : 'text'"
              :rules="[ val => val.length >= 2 || 'Please enter at least 6 characters!']"
              ref="password"
              lazy-rules="ondemand"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
          </div>
          <go-btn block type="submit">{{$t('login')}}</go-btn>
          <div
            class="text-primary q-mt-md cursor-pointer"
            @click="closeLogin()"
          >{{$t('forgotPassword')}}</div>
        </form>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: {
    form: {
      type: String,
      default: "full-width"
    }
  },
  data() {
    return {
      formInfo: {
        email: "",
        password: ""
      },
      isPwd: true
    };
  },
  computed: {
    ...mapGetters("auth", [
      "authenticating",
      "authenticationError",
      "authenticationErrorCode"
    ])
  },
  methods: {
    ...mapActions("auth", ["login", "fetchUser"]),
    checkEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    async submitForm() {
      this.$refs.email.validate();
      this.$refs.password.validate();
      if (!this.$refs.email.hasError && !this.$refs.password.hasError) {
        await this.login({
          email: this.formInfo.email,
          password: this.formInfo.password
        });
      }
    },
    closeLogin() {
      this.$emit("closeLogin");
    },
    openRegister() {
      this.$emit("openRegister");
    }
  }
};
</script>

<style>
.dialog-card {
  padding: 15px 75px;
  border-radius: 0px;
}
.to-register {
  padding: 3px 10px;
}
.to-register:hover {
  cursor: pointer;
  transition: 0.7s;
  padding: 3px 10px;
  border-radius: 0.1rem;
}
.to-register:not(:hover) {
  transition: 0.7s;
}
</style>
