<template>
<form @submit.prevent="submitForm">
    <q-card>
        <q-card-section>
            <!-- Edit your password text place  -->
            <div class="row">
                <h3 class="q-no-top">Edit your password</h3>
            </div>

            <!-- Divided area for the old password -->
            <div class="row q-mt-md">
                <q-input placeholder="Enter your old password" class="col" square outlined v-model="formInfo.password_old" :type="isPwdOld ? 'password' : 'text'" :rules="[ val => val.length >= 6 || 'Please enter at least 6 characters!']" ref="password_old" lazy-rules="ondemand">
                    <template v-slot:append>
                        <q-icon :name="isPwdOld ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwdOld = !isPwdOld" />
                    </template>
                </q-input>
            </div>

            <!-- Divided area for a new password -->
            <div class="row q-mt-md">
                <q-input placeholder="Enter a new password" class="col" square outlined v-model="formInfo.password_new" :type="isPwdNew ? 'password' : 'text'" :rules="[ val => val.length >= 6 || 'Please enter at least 6 characters!']" ref="password_new" lazy-rules="ondemand">
                    <template v-slot:append>
                        <q-icon :name="isPwdNew ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwdNew = !isPwdNew" />
                    </template>
                </q-input>
            </div>

            <!-- Divided area for retyping the new password -->
            <div class="row q-mt-md">
                <q-input placeholder="Retype the new password" class="col" square outlined v-model="formInfo.password_retype" :type="isPwdRetype ? 'password' : 'text'" :rules="[ val => val.length >= 6 || 'Please enter at least 6 characters!']" ref="password_retype" lazy-rules="ondemand">
                    <template v-slot:append>
                        <q-icon :name="isPwdRetype ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwdRetype = !isPwdRetype" />
                    </template>
                </q-input>
            </div>

        </q-card-section>

        <!-- Password saving or canceling area -->
        <q-card-actions vertical align="right">
            <div>
                <!-- Canceling button -->
                <q-btn flat label="Cancel" color="primary" v-close-popup />
                <!-- Saving  and editing button -->
                <q-btn flat label="Edit & Save" color="primary" type="submit" />
            </div>
        </q-card-actions>

    </q-card>
</form>
</template>

<script>
export default {
    data() {
        return {
            formInfo: {
                name: "",
                email: "",
                password_old: "",
                password_new: "",
                password_retype: "",
                text: ""
            },
            isPwdOld: true,
            isPwdNew: true,
            isPwdRetype: true
        };
    },
    methods: {
        submitForm() {
            this.$refs.password_old.validate();
            this.$refs.password_new.validate();
            this.$refs.password_retype.validate();
            if (
                !this.$refs.password_old.hasError && !this.$refs.password_new.hasError && !this.$refs.password_retype.hasError
            ) {
                alert("Password hanged successfully!");
            }
        }
    }
};
</script>

<style lang="sass">
  .q-card
    box-shadow: none
    border-radius: none
    vertical-align: none
    background: white
    position: relative

  .q-no-top
    font-size: 3rem
    font-weight: 400
    line-height: 0
    letter-spacing: normal
</style>
