<template>
  <div class="row justify-center items-center">
    <!-- flat -->
    <q-card flat class="dialog-card ">
      <q-card-section class="q-pa-none q-mt-md">
        <img
          src="statics/Logo-Black.svg"
          spinner-color="white"
          style="height: 46px; max-width: 120px"
        />
        <div class="text-h5">{{$t('createYourAccount')}}</div>
        <div class="row justify-left items-center">
          <div class="q-mr-xs text-grey">{{$t('alreadySignedUp')}}</div>
          <div
            class="to-login q-ml-xs"
            style="color: #FF4733;"
            @click="$router.push('/login')"
          >{{$t('login')}}</div>
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-mt-md">
        <q-form @submit.prevent="submitForm" class="q-gutter-md reg-form-card-width" autocomplete="on">
          <div class="row">
            <q-banner
              class="bg-deep-orange-1 text-deep-orange-10 q-mt-sm items-center"
              v-if="serverHasError === true"
            >
              <template stot:avatar>
                <q-icon size="md" name="error" />{{signUpError}}
              </template>
            </q-banner>
            <q-banner
             class="bg-deep-orange-1 text-deep-orange-10 q-mt-sm items-center"
              v-if="duplicateEmail === true"
            >
              <template stot:avatar>
                {{signUpError}}
              </template>
            </q-banner>
          </div>
          <!-- {{authenticationErrorCode}} -->
          <div class="column">
            <!-- FIRSTNAME -->
            <q-input
              dense
              class="col q-mb-sm"
              type="text"
              square
              outlined
              v-model="formInfo.first_name"
              :placeholder="$t('first_name')"
              ref="firstname"
              lazy-rules="ondemand"
              :rules="[val => !!val || $t('required'),
              val => val.length >= 3 || $t('minimumValidation') +' 3']"
            />
            <!-- LASTNAME -->
            <q-input
              dense
              class="col q-mb-sm"
              type="text"
              square
              outlined
              v-model="formInfo.last_name"
              :placeholder="$t('last_name')"
              ref="lastname"
              lazy-rules="ondemand"
              :rules="[
                val => !!val || $t('required'),
                val => val.length >= 3 || $t('minimumValidation') +' 3'
              ]"
            />
            <!-- EMAIL -->
            <q-input
              dense
              class="col q-mb-sm"
              type="email"
              square
              outlined
              v-model="formInfo.email"
              :placeholder="$t('email_address')"
              :rules="[ val => checkEmail(val) || $t('enterEmail')]"
              ref="email"
              lazy-rules="ondemand"
            />
            <!-- PASSWORD -->
            <q-input
              dense
              class="col q-mb-sm"
              :placeholder="$t('password')"
              square
              outlined
              v-model="formInfo.password"
              :type="isPwdNew ? 'password' : 'text'"
              :rules="[val => val.length >= 5  || $t('minimumValidation') +' 5']"
              ref="password"
              lazy-rules="ondemand"
            >
              <template slot="append">
                <q-icon
                  :name="isPwdNew ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwdNew = !isPwdNew"
                />
              </template>
            </q-input>
            <!-- CONFIRMATION -->
            <q-input
              dense
              :placeholder="$t('confirmPassword')"
              class="col q-pb-none q-mb-xs"
              square
              v-model="confirmation"
              outlined
              :type="isPwdRetype ? 'password' : 'text'"
              :rules="[
              val => val === formInfo.password || $t('matchPasswords'),
              val => !!val || $t('required')]"
              ref="confirmation"
              lazy-rules="ondemand"
            >
              <template slot="append">
                <q-icon
                  :name="isPwdRetype ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwdRetype = !isPwdRetype"
                />
              </template>
            </q-input>
          <go-btn class="q-my-lg" block type="submit">
            {{$t('createYourAccount')}}
          </go-btn>
          </div>
          <!-- opensans-bold -->
        </q-form>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters, mapActions } from "vuex";

export default {
  props: {
    form: {
      type: String,
      default: "full-width"
    }
  },
  data() {
    return {
      formInfo: {
        first_name: "",
        last_name: "",
        email: "",
        password: ""
      },
      confirmation: "",
      accepted: false,
      isPwdNew: true,
      isPwdRetype: true,
      duplicateEmail: false,
      serverHasError: false
    };
  },
  computed: {
    ...mapGetters("auth", ["signUpStatusOk","signUpError", "signUpErrorCode"])
  },
  methods: {
    ...mapActions("auth", ["signUp"]),
    checkEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    async submitForm() {
      this.$q.loading.show()
      this.$refs.email.validate();
      this.$refs.password.validate();
      this.$refs.confirmation.validate();
      if (!this.$refs.email.hasError && !this.$refs.password.hasError &&  !this.$refs.confirmation.hasError)
      {
        await this.signUp(this.formInfo).then(() => {
          if (this.signUpStatusOk === 200) {
            this.$router.push("/successful-register");
          }
          else if (this.signUpErrorCode === 200) {
            this.duplicateEmail = true;
          } else if (this.signUpErrorCode != 0) {
            this.serverHasError = true;
          }
        });
        this.$q.loading.hide()
      }
    },
    openLogin() {
      this.$emit("openLogin");
    }
  }
};
</script>

<style scoped>
.dialog-card {
  padding: 15px 75px;
  border-radius: 0px;
}
.to-login {
  padding: 3px 10px;
}
.to-login:hover {
  cursor: pointer;
  transition: 0.7s;
  padding: 3px 10px;
  border-radius: 0.1rem;
}
.to-login:not(:hover) {
  transition: 0.7s;
}
.reg-form-card-width {
  width:350px;
}
@media (max-width:350px) and (min-width: 0) {
.reg-form-card-width {
  width:106%;
}
.dialog-card {
  padding: 0px;
  border-radius: 0px;
  margin: 0px 10px;
}
}
</style>

// TODO: BANNER SHOULD WORK BOTH ON THIS AND DIALOG