<template>
  <div>
    <div class="star-ratings">
      <div v-if="chartObj.starsPercentList[5]" class="fit row no-wrap justify-between items-center content-center">

        <div class="left-bar">5 star</div>
        <div class="right-bar">
          <div class="bar-container">
            <div v-if="chartObj.starsPercentList[5]"  class="bar-5" :style="chartObj.starsPercentList[5]"></div>
          </div>
        </div>
        <span class="percentage-stars">{{chartObj.stars["rating5"]}}</span>
      </div>
      <div class="fit row no-wrap justify-between items-center content-center">
        <div class="left-bar">4 star</div>
        <div class="right-bar">
          <div class="bar-container">
            <div v-if="chartObj.starsPercentList[4]"  class="bar-5" :style="chartObj.starsPercentList[4]"></div>
          </div>
        </div>
        <span class="percentage-stars">{{chartObj.stars["rating4"]}}</span>
      </div>
      <div class="fit row no-wrap justify-between items-center content-center">
        <div class="left-bar">3 star</div>
        <div class="right-bar">
          <div class="bar-container">
            <div v-if="chartObj.starsPercentList[3]"  class="bar-5" :style="chartObj.starsPercentList[3]"></div>
          </div>
        </div>
        <span class="percentage-stars">{{chartObj.stars["rating3"]}}</span>
      </div>
      <div class="fit row no-wrap justify-between items-center content-center">
        <div class="left-bar">2 star</div>
        <div class="right-bar">
          <div class="bar-container">
            <div v-if="chartObj.starsPercentList[2]" class="bar-5" :style="chartObj.starsPercentList[2]"></div>
          </div>
        </div>
        <span class="percentage-stars">{{chartObj.stars["rating2"]}}</span>
      </div>
      <div class="fit row no-wrap justify-between items-center content-center">
        <div class="left-bar">1 star</div>
        <div class="right-bar">
          <div class="bar-container">

            <div v-if="chartObj.starsPercentList[1]" class="bar-5" :style="chartObj.starsPercentList[1]"></div>

          </div>
        </div>
        <span class="percentage-stars">{{chartObj.stars["rating1"]}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props:["chartObj"],


  }
</script>

<style lang="scss" scoped>
  .reviews-container {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 85%;
    margin: 0px auto;
    margin-top: 50px;
  }

  .customer-column {
    padding-top: 0px;
  }

  .title-column {
    padding: 20px;
    padding-top: 0px;
  }

  .review-title {
    margin-bottom: 30px;
    padding: 27px;
    border: 1px solid #e3e3e9;
  }

  .customer-reviews {
    padding: 20px;
    border: 1px solid #e3e3e9;
  }

  //reviews
  .rating-review {
    width: 90%;
    margin: 20px;
  }

  .bar-container {
    width: 95% !important;
  }

  .left-bar {
    width: 20%;
  }

  .right-bar {
    float: left;
    width: 80%;
  }

  .percentage-stars {
    width: 20%;
  }

  .row-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  .review-rating:after {
    content: "";
    display: table;
    clear: both;
  }
  .left-review {
    float: left;
    width: 30%;
    margin-top: 10px;
    text-align: center;
  }

  .customer-ratings-quantity-drop {
    display: none;
  }

  .right-review {
    float: left;
    width: 70%;
    margin-top: 10px;
  }

  // globally section
  .toggle-global {
    margin-bottom: 10px;
    padding: 10px;
  }

  .review-title {
    font-size: 56pt;
  }
  .review-star {
    margin: 0 0 10px 0;
  }
  .review-people .fa {
    font-size: 11pt;
  }
  .bar-container {
    width: 80%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  .bar-5 {
    height: 18px;
    background-color: #000;
  }
  .bar-4 {
    height: 18px;
    background-color: #000;
  }
  .bar-3 {
    height: 18px;
    background-color: #000;
  }
  .bar-2 {
    height: 18px;
    background-color: #000;
  }
  .bar-1 {
    height: 18px;
    background-color: #000;
  }
  .star-rating {
    text-align: center;
  }
  .star-rating .fa:hover {
    color: orange;
  }
  .heading {
    font-size: 25px;
    color: #999;
    border-bottom: 2px solid #eee;
  }

  .review-by {
    font-size: 14px;
  }

  //swiper
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 80% !important;
    width: 100%;
    border: 2px solid #e3e3e9;
  }
  .swiper-image-top {
    height: 350px;
  }

  .gallery-thumbs {
    height: 50% !important;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .swiper-image-thumbs {
    height: 80px;
  }

  .gallery-thumbs .swiper-slide {
    width: 93px !important;
    height: 50%;
    opacity: 1;
    border: 2px solid #e3e3e9;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
    border: 2px solid #777777;
  }

  // pagination
  .q-btn--rectangle {
    border-radius: 50% !important;
  }
  .bg-secondary {
    background: #cccccc !important;
  }
</style>
