<template>
  <div>
    <div v-if="mainPictures && loading" class="loading-box">
      <go-loader></go-loader>
    </div>
    <smth-went-wrong-message v-if="smthWemtWrongMessage"></smth-went-wrong-message>
    <no-found-message v-if="noProductMessage"></no-found-message>
    <div padding class="basic-container q-pb-lg">
      <div v-if="!smthWemtWrongMessage && !noProductMessage">
        <div class="container">
          <div class="left" v-show="mainPictures">
            <div class="image-gallery">

                  <!-- swiper1 -->
                  <go-swiper
                    class="web-swiper"
                    :pictureAllURLs="pictureAllURLs"
                    :variation_pictures="variationPictures"
                    :selected="selectedValues"
                    ref="swiping"
                  ></go-swiper>

            </div>
          </div>
          <div class="right">
            <div class="attributes">
              <div class="product-title">
                <p>{{ product_title }}</p>
              </div>

              <div class="row items-center justify-between q-mt-sm seller-name">
                <div class="brand row" style="font-size: 16px">
                  <span>Brand:&nbsp;</span>
                  <div style="color: #FF4733">{{ brand }}</div>&nbsp;
                  <!-- <div
                    v-if="productReserve != 0"
                    style="font-size: 16px; color: #C0C0C0;"
                  >{{ productReserve }} left in stock</div>-->
                </div>
                <q-btn
                  class="share-button"
                  flat
                  v-if="$q.platform.is.cordova"
                  round
                  color="secondary"
                  icon="share"
                  size="md"
                  @click="socialSharing()"
                />
              </div>
              <div class="row read-more-line justify-between q-mt-sm">
                <div class="stars-rating">
                  <rating-stars
                    v-if="reviewObj.fiveStarsRating"
                    :rating="reviewObj.fiveStarsRating"
                    :indicator="true"
                  ></rating-stars>
                </div>

                <read-more :description="description">
                  <q-btn flat label="Read More" color="primary" @click="dialog = true" />
                </read-more>
              </div>
              <div class="row justify-between q-select-container q-mt-sm">
                <q-select
                  v-for="(items, index) in attributeNameValues"
                  :key="index"
                  class="go-select"
                  square
                  dense
                  ref="newref"
                  outlined
                  @input="updateSlide"
                  v-model="selected[index]"
                  :prefix="index + ' :'"
                  :options="attributeNameValues[index]"
                  :rules="[val => val != undefined || $t('required')]"
                  lazy-rules="ondemand"
                />

              </div>
                  <div v-if="isThereSizeOrNo" class="sizeGuideContainer">
                  <size-guide-dialog class="sizeGuideDialog"></size-guide-dialog>
              </div>
              <div class="price-row row items-center justify-between content-center q-my-lg">
                <div class="items-center">
                  <div class="product-prices">
                    <span
                      class="text-h6 text-bold text-primary"
                      v-if="priceCalculated.value == '0'"
                    >{{$t('outOfStock')}}</span>
                    <span
                      class="text-h6 text-bold"
                      v-else-if="countTotalAttributes && countSelectedAttributes == countTotalAttributes"
                    >{{ priceCalculated.value | sum}}</span>
                    <span class="text-h6 text-bold" v-else>{{converted_current_price.value | sum}}</span>
                    <!--              <span class="text-strike text-h5 q-ml-md">Was ${{converted_current_price}}</span>-->
                  </div>
                </div>
                <div class="row items-center">
                  <div class="quantity-field q-mr-sm">
                    <span class="quantity-text">{{$t('quantity')}}:</span>
                  </div>
                  <div>
                    <q-select
                      class="col-6 flex content-center items-center text-ceneter"
                      dense
                      square
                      outlined
                      v-model="numberModel"
                      :options="numbers"
                    />
                  </div>
                </div>
              </div>
              <div class="column justify-left">
                <go-btn block class="q-mb-sm go-btn" @click="addToCart()">ADD TO CART</go-btn>

                <go-btn
                  class="go-btn q-mb-sm"
                  block
                  text="ADD TO WISHLIST"
                  color="secondary"
                  right-bg="go-secondary-o"
                  @click="addToWishlist()"
                ></go-btn>
              </div>

            </div>
          </div>
        </div>

        <div
          :class="
        windowWidth > 870
      ? 'q-mt-xl q-gutter-x-lg wrap row justify-center'
      : 'q-ma-lg'
    "
          v-if="itemSpesifics.length > 5"
        >
          <q-list class="col-5" bordered separator>
            <q-item
              dense
              class="left-table"
              v-for="(i, index) in itemSpesifics.slice(0, itemSpesifics.length / 2)"
              :key="index"
            >
              <q-item-section class="col-4 q-mr-lg text-bold">{{ i.Name }}:</q-item-section>
              <q-item-section class="col ellipsis-3-lines">
                <span v-if="typeof i.Value == 'object'">
                  <span v-for="(y,index) in i.Value" :key="index">{{ y }},</span>
                </span>
                <span v-else>{{ i.Value }}</span>
              </q-item-section>
            </q-item>
          </q-list>
          <q-list class="col-5" bordered separator>
            <q-item
              dense
              class="right-table"
              v-for="(i,index) in itemSpesifics.slice(
       itemSpesifics.length / 2,
       itemSpesifics.length
      )"
              :key="index"
            >
              <q-item-section class="col-4 q-mr-lg text-bold">{{ i.Name }}:</q-item-section>
              <q-item-section class="col ellipsis-3-lines">
                <span v-if="typeof i.Value == 'object'">
                  <span v-for="(y,index) in i.Value" :key="index">{{ y }},</span>
                </span>
                <span v-else>{{ i.Value }}</span>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div class="q-mt-xl q-gutter-x-lg wrap row justify-center" v-else>
          <q-list class="col-7" bordered separator>
            <q-item dense class="left-table" v-for="(i,index) in itemSpesifics" :key="index">
              <q-item-section class="col-3 q-mr-lg text-bold">{{ i.Name }}:</q-item-section>
              <q-item-section class="col ellipsis-3-lines">
                <span v-if="typeof i.Value == 'object'">
                  <span v-for="(y,index) in i.Value" :key="index">{{ y }},</span>
                </span>
                <span v-else>{{ i.Value }}</span>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div>
          <reviews
            v-if="reviewObj.reviewData.length != 0"
            :proReviewData="reviewData"
            :sendReviewObj="reviewObj"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ProductService from "../../../services/product/product.service";
import { mapActions, mapState, mapGetters } from "vuex";
import { copyToClipboard } from "quasar";
import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";
import "swiper/css/swiper.css";
import GoSwiper from "./components/swiper/go-swiper";

export default {
  data() {
    return {
      added: false,
      windowWidth: window.innerWidth,
      selected: {},
      description: "",
      //defaultPrice
      converted_current_price: "",
      product_title: "",
      productBrand: "",
      itemSpesifics: [],
      productDescriptionText: "",
      descriptionLength: 300,
      showMoreDesc: false,
      brand: "",
      productReserve: 0,
      // selected price is in priceCalculated
      mainPictures: [],
      //selected Prices
      original_price: "",
      converted_price: "",
      // main Picture Url is in this.productImageUrl
      productMainImageUrl: localStorage.imageURL,
      outOfStock: false,

      productExisits: true,

      picSelectedURL: "",
      stars: 4,
      color: "",
      numberModel: 1,
      options: [],
      numbers: [1, 2, 3, 4, 5],
      selectedSlideIndex: 0,
      variations: [],
      isThereSizeOrNo: false,
      sizeGuideDialog:false,
      variation_pictures: [],
      errored: false,
      loading: true,
      loading_btn: false,
      activeImage: 0,

      // read more
      dialog: false,
      maximizedToggle: true,

      //thumbnails
      other_thumbnails: false,

      // rating_stars
      config: {
        rating: 3.5
      },

      // service activities
      serviceResponse: null,

      // axios responses
      reviewData: [],
      fiveStarsRating: 0,
      reviewObj: {
        reviewData: [],
        fiveStarsRating: 0,
        stars: {},
        starsPercentList: []
      },

      //exception messages
      smthWemtWrongMessage: false,
      noProductMessage: false,
      //social-sharing for mobile version

      //sliding
      slideToNext: false,

      sharingOptions: {
        // message: 'Share this product', // not supported on some apps (Facebook, Instagram)
        url:
          "http://gobazar.uz:8082" +
          this.$route.path +
          "/" +
          this.$route.query.itm,
        chooserTitle: "Pick an app" // Android only, you can override the default share sheet title
      }
    };
  },

  directives: {
    swiper: directive
  },

  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
    var x = document.getElementsByClassName("go-basket");
    // var imgtodrag = this.parent('.item').find("img").eq(0);
    this.defaultSettings();
    // this.getProduct();
    this.getReviews();
    this.getProductByService();
  },

  computed: {
    variationPictures() {
      return this.variation_pictures;
    },
    selectedValues() {
      return this.selected;
    },
    ...mapGetters("checkout", [
      "addToCartDetail",
      "addToWishlistDetail",
      "errorCode"
    ]),
    ...mapGetters("auth", ["loggedIn"]),
    currentRouteName() {
      return this.$baseURL + this.$route.path;
    },
    attributeNameValues() {
      let attributeObj = {};
      if (this.variations && this.variations.length > 0) {
        for (let i = 0; i < this.variations.length; i++) {
          if(this.variations[i].attributes != undefined){
            for (let key in this.variations[i].attributes) {
              if (this.variations[i].attributes.hasOwnProperty(key)) {
                if (attributeObj[key]) {
                  if (
                    attributeObj[key].indexOf(
                      this.variations[i].attributes[key]
                    ) === -1
                  ) {
                    attributeObj[key].push(this.variations[i].attributes[key]);
                  }
                } else {
                  attributeObj[key] = [];
                //   attributeObj[key].push(this.variations[i].attributes[key]);
                }
              }
            }
          }
        }
        for (const item in attributeObj) {
          if (item.includes("Size") || item.includes("size")) {
            this.isThereSizeOrNo = true;
            break;
          }
        }
      }
      return attributeObj;
    },

    countSelectedAttributes() {
      return Object.keys(this.selected).length;
    },

    countTotalAttributes() {
      return Object.keys(this.attributeNameValues).length;
    },

    priceCalculated() {
      let price_selected = "";
      if (
        (this.countTotalAttributes == 0 ||
        this.countTotalAttributes == Object.keys(this.selected).length) &&
        this.variations.length > 0
      ) {
        for (let i = 0; i < this.variations.length; i++) {
          try {
            var orderedString1 = this.sortObject(this.variations[i].attributes);
            var orderredString2 = this.sortObject(this.selected);
            if (orderedString1 === orderredString2) {
              if (this.variations[i].quantity > 0) {
                price_selected = this.variations[i].converted_current_price;
                this.productExisits = true;
                this.productReserve = this.variations[i]["quantity"];
                return price_selected;
              } else {
                price_selected = { value: "0" };
                this.productExisits = false;
              }
            } else {
              // if multiple attributes are not in API, hence do not match,
              // seller may not have quantity zero for all matching attributes
              price_selected = { value: "0" };
              this.productExisits = false;
            }
          } catch (error) {
            console.log(error);
          }
        }
      }
      return price_selected;
    },

    picVariationAttributes() {
      // since there are too many attributes (quantity=0), only getting attributes for pictures with available product (quantity > 0)
      var attr_name = this.variation_pictures[0]["name"];
      var attr_val_list = this.attributeNameValues[attr_name];
      return attr_val_list;
    },

    pictureVariationURLs() {
      // only picture URLs of variations
      var pic_var_url = [];
      this.variation_pictures.forEach(pic => {
        this.picVariationAttributes.forEach(val => {
          if (val == pic.value) {
            pic_var_url.push(pic.url); // pulling data as single element array, hence 0 element
          }
        });
      });
      return pic_var_url;
    },

    pictureAllURLs() {
      // combining all pictures - main and variation (variation returned separately)

      var pic_all_url = this.mainPictures.slice(0);
      pic_all_url[0] = pic_all_url[0];
      this.pictureVariationURLs.forEach(pic => pic_all_url.push(pic));
      return pic_all_url;
    }
  },
  methods: {
    ...mapActions("checkout", [
      "addProductToCart",
      "addProductToWishlist",
      "getUserActiveCart"
    ]),



    operDescription() {
      if (this.showMoreDesc == false) {
        this.descriptionLength = this.productDescriptionText.length;
        this.showMoreDesc = true;
      } else {
        this.descriptionLength = 300;
        this.showMoreDesc = false;
      }
    },
    copyToClipboard,

    async getProductByService() {
      let response;
      let productId = this.$route.query.itm;
      response = await ProductService.productDetails(productId);
      if(response == undefined){
        this.smthWemtWrongMessage = true;
        this.loading = false;
        return
      }else if (response.data.Error){
        this.noProductMessage = true;
        this.loading = false;
        return
      }
      this.product(response);
    },

    product(response) {
      if (response.data.converted_current_price) {
        this.converted_current_price = response.data.converted_current_price;
        this.converted_price = response.data.converted_current_price;
      }
      if (response.data.title) {
        this.product_title = response.data.title;
      }
      if (response.data["main_pictures"]) {
        this.mainPictures = response.data["main_pictures"];
      }
      if (response.data.variations !== null) {
        this.variations = response.data.variations;
      }

      if (response.data.variation_pictures !== null) {
        this.variation_pictures = response.data.variation_pictures;
        for (let i = 0; i < this.variation_pictures.length; i++) {
          if (typeof this.variation_pictures[i].url === "object") {
            this.variation_pictures[i].url =
              response.data.variation_pictures[i].url[0];
          }
        }
      }
      if (response.data.description) {
        this.description = response.data.description;
      }
      if (response.data.brand) {
        this.brand = response.data.brand;
      }
      if (response.data["item_specifics"]) {
        this.itemSpesifics = response.data.item_specifics.NameValueList;
        let descriptionText = "";
        for (let i = 0; i < this.itemSpesifics.length; i++) {
          if (this.itemSpesifics[i]["Value"]) {
            descriptionText +=
              this.itemSpesifics[i]["Name"] +
              ":" +
              this.itemSpesifics[i]["Value"] +
              "; ";
          }
        }
        this.productDescriptionText = descriptionText;
      }
      this.loading = false;
    },

    async getReviews() {
      if (this.loggedIn) {
        let reviewResponse = await ProductService.productReviews(
          this.$route.query.itm
        );
        let productRatings = await ProductService.productRatings(
          this.$route.query.itm
        );

        if (productRatings) {
          let allStars =
            productRatings.data["rating5"] +
            productRatings.data["rating4"] +
            productRatings.data["rating3"] +
            productRatings.data["rating2"] +
            productRatings.data["rating1"];
          let stars = (productRatings.data["rating5"] * 5) / allStars;
          this.reviewObj.starsPercentList[1] = "";
          this.reviewObj.starsPercentList[1] = this.reviewObj.starsPercentList[1].concat(
            "width:",
            (productRatings.data["rating1"] * 100) / allStars,
            "%"
          );

          this.reviewObj.starsPercentList[2] = "";
          this.reviewObj.starsPercentList[2] = this.reviewObj.starsPercentList[2].concat(
            "width:",
            (productRatings.data["rating2"] * 100) / allStars,
            "%"
          );

          this.reviewObj.starsPercentList[3] = "";
          this.reviewObj.starsPercentList[3] = this.reviewObj.starsPercentList[3].concat(
            "width:",
            (productRatings.data["rating3"] * 100) / allStars,
            "%"
          );

          this.reviewObj.starsPercentList[4] = "";
          this.reviewObj.starsPercentList[4] = this.reviewObj.starsPercentList[4].concat(
            "width:",
            (productRatings.data["rating4"] * 100) / allStars,
            "%"
          );

          this.reviewObj.starsPercentList[5] = "";
          this.reviewObj.starsPercentList[5] = this.reviewObj.starsPercentList[5].concat(
            "width:",
            (productRatings.data["rating5"] * 100) / allStars,
            "%"
          );

          let obj = reviewResponse.data;
          this.reviewObj.reviewData = obj;
          this.reviewObj.fiveStarsRating = stars;
          this.reviewObj.stars = productRatings.data;
        }
      }
    },
    sortObject(obj) {
      var ordered = {};
      Object.keys(obj)
        .sort()
        .forEach(function(key) {
          ordered[key] = obj[key];
        });

      return JSON.stringify(ordered);
    },
    async addToCart() {
      if (this.$refs.newref != undefined) {
        this.$refs.newref.forEach(ref => ref.validate());
        let isAllValid = this.$refs.newref.every(ref => ref.validate());
        if (!isAllValid) {
          return isAllValid;
        }
      }
      var attr = Object.keys(this.selected);
      var attributes = [];
      for (var i = 0; i < attr.length; i++) {
        attributes.push({ name: attr[i], value: this.selected[attr[i]] });
      }

      var cartProduct = {
        quantity: this.numberModel,
        token_anonymUser: localStorage.getItem("user")
          ? localStorage.getItem("user")
          : "",
        products: [
          {
            title: this.product_title,
            asin: this.$route.query.itm,

            converted_price:
              this.priceCalculated.value == undefined
                ? this.converted_current_price.value
                : this.priceCalculated.value,
            shop: {
              name: "eBay US",
              url: "https://ebay.com",
              country: "US"
            },
            attributes,
            images: this.mainPictures,
            seller_name: this.brand
          }
        ]
      };

      if (this.productExisits) {
        if (
          this.countTotalAttributes == 0 ||
          this.countTotalAttributes == Object.keys(this.selected).length
        ) {
          await this.addProductToCart(JSON.stringify(cartProduct));
          if (this.addToCartDetail.status == 201) {
            localStorage.setItem("user", this.addToCartDetail.data.cart_token);
            this.$q.notify({
              group: false,
              type: "positive",
              color: "green-6",
              message: this.$t("addedToCart"),
              position: "top"
            });
            this.getUserActiveCart();
          } else if (
            this.addToCartDetail.status == 200 &&
            !this.addToCartDetail.data.message
          ) {
            this.$q.notify({
              group: false,
              type: "positive",
              color: "green-6",
              message: this.$t("addedToCart"),
              position: "top"
            });
            this.getUserActiveCart();
          } else if (
            this.addToCartDetail.status == 200 &&
            this.addToCartDetail.data.message
          ) {
            this.$q.notify({
              group: false,
              type: "negative",
              message: this.$t("minOrder"),
              position: "top"
            });
          } else {
            this.$q.notify({
              group: false,
              type: "negative",
              message: "Server responsed status " + this.errorCode
            });
          }
        }
      } else {
        this.$q.notify({
          group: false,
          type: "warning",
          message: this.$t("outOfStock"),
          position: "top"
        });
      }
      attributes = [];
    },
    async addToWishlist() {
      if (this.$refs.newref != undefined) {
        this.$refs.newref.forEach(ref => ref.validate());
        let isAllValid = this.$refs.newref.every(ref => ref.validate());
        if (!isAllValid) {
          return isAllValid;
        }
      }
      var attr = Object.keys(this.selected);
      var attributes = [];
      for (var i = 0; i < attr.length; i++) {
        attributes.push({ name: attr[i], value: this.selected[attr[i]] });
      }
      var product = {
        status: "price_changed",
        products: [
          {
            title: this.product_title,
            asin: this.$route.query.itm,
            original_price: this.original_price.value,
            converted_price:
              this.priceCalculated.value == undefined
                ? this.converted_current_price.value
                : this.priceCalculated.value,
            shop: {
              name: "eBay US",
              url: "https://ebay.com",
              country: "US"
            },
            attributes,
            images: this.mainPictures
          }
        ]
      };
      var myJSON = JSON.stringify(product);
      if (this.productExisits) {
        if (
          this.countTotalAttributes == 0 ||
          this.countTotalAttributes == Object.keys(this.selected).length
        ) {
          await this.addProductToWishlist(myJSON);
          if (this.addToWishlistDetail == 201) {
            this.$q.notify({
              group: false,
              type: "positive",
              color: "green-6",
              message: this.$t("addedToWishlist"),
              position: "top"
            });
          } else if (this.addToWishlistDetail == 200) {
            this.$q.notify({
              group: false,
              type: "info",
              color: "green-6",
              message: this.$t("wishlistinfo"),
              position: "top"
            });
          } else {
            this.$q.notify({
              group: false,
              color: "negative",
              message: "Server responsed status " + this.errorCode
            });
          }
        }
      } else {
        this.$q.notify({
          group: false,
          type: "warning",
          message: this.$t("outOfStock"),
          position: "top"
        });
      }
      attributes = [];
    },

    updateSlide() {
      this.$refs.swiping.updateSlideTo();
    },

    defaultSettings() {
      axios.defaults.xsrfCookieName = "csrftoken";
      axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },

    socialSharing() {
      window.plugins.socialsharing.shareWithOptions(this.sharingOptions);
    }
  },

  components: {
    "read-more": require("./components/read_more").default,
    reviews: require("./components/reviews2").default,
    "rating-stars-message": require("../../shared/components/custom-components/rating-stars-message")
      .default,
    "rating-stars": require("./components/ratings/review-rating/app-stars")
      .default,
    "smth-went-wrong-message": require("../../extra-pages/smth-went-wrong")
      .default,
    "no-found-message": require("../../extra-pages/no-product").default,
    "add-to-cart": require("./components/add-to-cart-btn").default,
    "size-guide-dialog": require("./components/dialogs/size-guide-dialog").default,
    GoSwiper,
    Swiper,
    SwiperSlide
  }
};
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}
.swiper-container {
  background-color: #fff;
}

.swiper-image {
  width: 100%;
  height: 500px;
  background: #ffffff;
}

.thumb-pic {
  width: 100px;
  height: 100px;
  background: #ffffff;
}

.scale-down {
  object-fit: scale-down;
}

.gallery-thumbs {
  width: 90%;
  height: 90%;
  margin-top: 10px;
}
.gallery-thumbs .swiper-slide {
  width: 100px;
  height: 100px;
  opacity: 1;
  border: 2px solid #e3e3e9;
}
.gallery-thumbs .swiper-slide-active {
  width: 100px;
  height: 100px;
  opacity: 1;
  border: 2px solid #777777;
}

.q-field--auto-height.q-field--dense .q-field__control,
.q-field--auto-height.q-field--dense .q-field__native {
  min-height: 47px !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iNTMiIHZpZXdCb3g9IjAgMCAzMCA1MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxyZWN0IG9wYWNpdHk9IjAuMSIgd2lkdGg9IjMwIiBoZWlnaHQ9IjUzIiB0cmFuc2Zvcm09Im1hdHJpeCgtMSAwIDAgMSAzMCAwKSIgZmlsbD0iYmxhY2siLz4NCjxyZWN0IHg9IjE0LjUiIHk9IjIwLjEzNjIiIHdpZHRoPSIyLjU1IiBoZWlnaHQ9IjguNCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMTQuNSAyMC4xMzYyKSIgZmlsbD0id2hpdGUiLz4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTYuMjY4MiAzMC4zODkzTDE0LjQ4NjMgMzIuMTcxMkw4LjQ3NTkgMjYuMTYwOEwxMC4yNTc4IDI0LjM3ODlMMTYuMjY4MiAzMC4zODkzWiIgZmlsbD0id2hpdGUiLz4NCjwvc3ZnPg0K") !important;
  background: #ffffff;
  border: 1px solid black;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iNTMiIHZpZXdCb3g9IjAgMCAyOSA1MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxyZWN0IG9wYWNpdHk9IjAuMSIgd2lkdGg9IjMwIiBoZWlnaHQ9IjUzIiBmaWxsPSJibGFjayIvPg0KPHJlY3Qgd2lkdGg9IjIuNTUiIGhlaWdodD0iOC40IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMTUuNSAyMC4xMzYyKSIgZmlsbD0id2hpdGUiLz4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTMuNzMxOCAzMC4zODkzTDE1LjUxMzcgMzIuMTcxMkwyMS41MjQxIDI2LjE2MDhMMTkuNzQyMiAyNC4zNzg5TDEzLjczMTggMzAuMzg5M1oiIGZpbGw9IndoaXRlIi8+DQo8L3N2Zz4NCg0K") !important;
}

// thumbnail's style ---end

//right side
.product-title {
  font-size: 20px;
  width: 80%;
}

.attributes {
  position: relative;
  padding-left: 40px;
}

// hover effects
read-more {
  width: 100%;
}

.read-more-line {
  width: 80%;
}

.read-more-description {
  cursor: pointer;
}

.rating-stars-message {
  display: none;
  z-index: 1;
  position: absolute;
  width: 350px;
  left: 0%;
  top: 41%;
}

.stars-rating:hover > .rating-stars-message {
  display: block;
}

.quantity-product {
  margin-right: 10px;
}

.q-field__prefix {
  padding-right: 4px;
  font-size: 40px;
}
.wishlist-button {
  width: 90%;
  font-size: 120%;
}
.basket-button {
  width: 70%;
}
.bg-brand-red {
  background: #ff4733;
}
.bg-brand-black {
  background: #0b1322;
}

//loadings
.loading-gallery-top {
  width: 460px;
  height: 400px;
  background: #cccccc;
}

.loading-thumbnails {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin-top: 10px;
}

.loading-thumb {
  width: 85px;
  height: 80px;
  background: #cccccc;
}

.first-line {
  width: 100%;
  background: #cccccc;
  height: 17px;
}

.second-line {
  margin-top: 2%;
  width: 90%;
  background: #cccccc;
  height: 17px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}

.price-row {
  width: 80%;
}

.go-select {
  width: 80%;
}
.quantity-text {
  font-size: 18px;
}
.go-btn {
  width: 80%;
}

.loading-box {
  height: 100vh;
}
.sizeGuideContainer {
  width: 80%;
  position: relative;
   height:30px;
}
.sizeGuideDialog {
  position: absolute;
  float: right;
  right: 0px;

}
@media screen and (max-width: 1100px) {
  .swiper-image {
    height: 300px;
  }
}
@media screen and (max-width: 700px) {
  .product-title {
    font-size: 14px;
    width: 100%;
  }
  .read-more-line {
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }

  .swiper-image {
    height: 300px;
  }

  .right {
    padding: 8%;
    padding-top: 0px;
  }

  .product-title {
    font-size: 18px;
  }

  .gallery-top {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .gallery-thumbs {
    visibility: hidden;
    height: 0px !important;
  }

  .attributes {
    padding: 0px;
    margin-top: 0px;
  }

  .go-select {
    width: 100%;
  }
  .price-row {
    width: 100%;
  }
  .quantity-text {
    font-size: 15px;
  }
  .go-btn {
    width: 100%;
  }

  // loadings
  .loading-thumbnails {
    display: none;
  }

  .sizeGuideContainer{
   width: 100%;
  }
}
.left-table:nth-child(even) {
  background: #f1f1f1;
}
.right-table:nth-child(even) {
  background: #f1f1f1;
}

//medias

@media screen and (max-width: 1225px) {
  .product-title {
    font-size: 18px;
  }

  .quantity-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1087px) {
  .quantity-text {
    font-size: 14px;
  }
}

@media screen and(max-width: 700px) {
  .container {
    margin-top: 0px;
  }
  .product-title {
    margin-top: 20px;
  }
}
</style>
