<template>
  <q-layout view="lhr lpR lfr">
    <q-page-container style="padding-bottom:0">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>