<template>
  <q-layout view="hhh lpR fff">
    <!-- reveal attribute 72px instead -->
    <q-header style="z-index:200" bordered class="relative-position bg-white text-black" height-hint="98">
      <div class="promotion">
        <!-- Some emojis or some letters are not eing rendered on other PCs.
        So PLEASE TRY TO USE UNICODE CHARACTERS THAT ARE CROSS SUPPORTED-->
        <promotion>Save 20% for this weekend only, use code:Hello20 at checkout</promotion>
      </div>
      <go-navbar></go-navbar>
    </q-header>

    <q-page-container class="content-side">
      <!-- <transition name="fade" mode="out-in"> -->
      <router-view style="z-index:21" />
      <!-- </transition> -->
    </q-page-container>

    <q-footer style="z-index:200" class="bg-secondary text-white">
      <back-to-top></back-to-top>
      <go-footer></go-footer>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {};
  },
  components: {
    promotion: require("../app/shared/components/custom-components/promotion.vue")
      .default,
    "go-navbar": require("../app/shared/navbar/navbar.vue").default,
    "back-to-top": require("../app/shared/global/go-back-to-top").default,
    "go-footer": require("../app/shared/components/app-footer/app-footer.vue")
      .default
  },
  created() {
    let jivoScript = document.createElement("script");
    jivoScript.setAttribute("src", "//code.jivosite.com/widget/Slg7dfhaZI");
    document.head.appendChild(jivoScript);
  }
};
</script>

<style lang="scss">
// Others
.promotion {
  display: none;
}

// transitions

#app {
  overflow: hidden;
  width: 100vw;
  background: white;
}
body {
  background: white;
}
// .fade-enter {
//   opacity: 0;
// }

// .fade-enter-active,
// .fade-leave-active {
//   transition: opacity 0.5s ease-out;
// }

// .fade-leave-to {
//   opacity: 0;
// }
// WAS 100VH
.content-side {
  min-height: 0vh;
}
// Media
@media screen and (max-width: 768px) {
  .promotion {
    display: none;
  }
}
</style>
