<template>
  <q-layout view="hhh lpr fFf">
    <q-header bordered class="bg-white text-black">
      <div class="promotion">
          <promotion>
          Save 20% for this weekend only, use code: “Hello20” at checkout
      </promotion>
      </div>
      <go-navbar></go-navbar>
    </q-header>
    <q-page-container style="padding-bottom:0">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "Layout",
  components: {
    "go-navbar": require("../app/shared/navbar/navbar.vue").default,
    "promotion": require("../app/shared/components/custom-components/promotion.vue")
      .default,
  }
}
</script>

<style lang="scss">


@media screen and (max-width: 768px) {
    .promotion {
      display: none;
    }

}
</style>
