<template>
 <div>

<table >
  <tr  class="row full-width">
    <th class="col-3" v-if="sizes[0]['S-M-L']">S-M-L</th>
    <th :class="!sizes[0]['S-M-L']?'col-4':'col-3'" v-if="sizes[0].UK">UK</th>
    <th :class="!sizes[0]['S-M-L']?'col-4':'col-3'" v-if="sizes[0].Europe">EUROPE</th>
    <th :class="!sizes[0]['S-M-L']?'col-4':'col-3'" v-if="sizes[0].US">USA</th>
  </tr>
  <tr class="row" v-for="(size,index) in sizes" :key="index">
   <td class="col-3" v-if="size['S-M-L']">{{size['S-M-L']}}</td>
    <td :class="!size['S-M-L'] ? 'col-4': 'col-3'" v-if="size.UK">{{size.UK}}</td>
    <td :class="!size['S-M-L'] ? 'col-4': 'col-3'" v-if="size.Europe">{{size.Europe}}</td>
    <td :class="!size['S-M-L'] ? 'col-4': 'col-3'" v-if="size.US">{{size.US}}</td>

  </tr>
</table>
 </div>
</template>
<script>
export default {
 props:["sizes"],
 data() {
  return {
  }
 }

}
</script>
<style scoped>
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
