<template>
  <div @click="click" class="text-subtitle1 go-btn--flat-container">
    <div v-if="left" :class="leftClass" class="material-icons q-mr-sm icon--left">
      <slot name="left">{{left}}</slot>
    </div>
    <div v-if="label" class="label">
      <slot>{{label}}</slot>
    </div>
    <div v-if="right" class="material-icons icon--right">
      <slot name="right">{{right}}</slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: [String, Function, Number],
      default: ""
    },
    left: {
      type: [String, Function, Number],
      default: ""
    },
    right: {
      type: [String, Function, Number],
      default: ""
    },
    leftClass: {
      type: [String, Function, Number],
      default: ""
    }
  },
  methods: {
    click() {
      this.$emit("click");
    }
  }
};
</script>

<style scoped>
.go-btn--flat-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 35px;
  min-height: 35px;
  cursor: pointer;
  transition: 0.5s;
}
</style>