<template>
  <transition name="back-to-top-fade">
    <div
      class="vue-back-to-top"
      :style="`bottom:${this.bottom};right:${this.right};`"
      @click="backToTop"
    >
      <slot>
        <div class="default">
          <span>{{ this.$t('backToTop') }}</span>
        </div>
      </slot>
    </div>
  </transition>
<!-- Default setup here -->
  <!--       <div>
<template>
  <transition name="back-to-top-fade">
<div
      class="vue-back-to-top"
      :style="`bottom:${this.bottom};right:${this.right};`"
      v-show="visible"
      @click="backToTop"
    >
      <slot>
        <div class="default">
          <span>{{ this.$t('backToTop') }}</span>
        </div>
      </slot>
    </div>
  </transition>
</template>

<script>
export default {
  name: "BackToTop",
  props: {
    text: {
      type: String,
    },
    visibleoffset: {
      type: [String, Number],
      default: 600
    },
    visibleoffsetbottom: {
      type: [String, Number],
      default: 0
    },
    right: {
      type: String,
      default: "30px"
    },
    bottom: {
      type: String,
      default: "40px"
    },
    scrollFn: {
      type: Function,
      default: function(eventObject) {}
    }
  },
  data() {
    return {
      visible: false
    };
  },
  mounted() {
    window.smoothscroll = () => {
      let currentScroll =
        document.documentElement.scrollTop || document.body.scrollTop;
      if (currentScroll > 0) {
        window.requestAnimationFrame(window.smoothscroll);
        // here define the longness of the backing to top
        window.scrollTo(0, Math.floor(currentScroll - currentScroll / 25));
      }
    };
    window.addEventListener("scroll", this.catchScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.catchScroll);
  },
  methods: {
    /**
     * Catch window scroll event
     * @return {void}
     */
    catchScroll() {
      const pastTopOffset = window.pageYOffset > parseInt(this.visibleoffset);
      const pastBottomOffset =
        window.innerHeight + window.pageYOffset >=
        document.body.offsetHeight - parseInt(this.visibleoffsetbottom);
      this.visible =
        parseInt(this.visibleoffsetbottom) > 0
          ? pastTopOffset && !pastBottomOffset
          : pastTopOffset;
      this.scrollFn(this);
    },
    /**
     * The function who make the magics
     * @return {void}
     */
    backToTop() {
      window.smoothscroll();
      this.$emit("scrolled");
    }
  }
};
</script>

<style lang="scss" scoped>
.default span {
    text-align: center;
}
.default {
    cursor: pointer;
    background: rgb(60, 66, 78)!important;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
</style>
  </div>-->
</template>

<script>
export default {
  name: "BackToTop",
  props: {
    text: {
      type: String
    },
    visibleoffset: {
      type: [String, Number],
      default: 600
    },
    visibleoffsetbottom: {
      type: [String, Number],
      default: 0
    },
    right: {
      type: String,
      default: "30px"
    },
    bottom: {
      type: String,
      default: "40px"
    },
    scrollFn: {
      type: Function,
      default: function(eventObject) {}
    }
  },
  mounted() {
    window.smoothscroll = () => {
      let currentScroll =
        document.documentElement.scrollTop || document.body.scrollTop;
      if (currentScroll > 0) {
        window.requestAnimationFrame(window.smoothscroll);
        // here define the longness of the backing to top
        window.scrollTo(0, Math.floor(currentScroll - currentScroll / 15));
      }
    };
    window.addEventListener("scroll", this.catchScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.catchScroll);
  },
  methods: {
    backToTop() {
      window.smoothscroll();
      this.$emit("scrolled");
    }
  }
};
</script>

<style lang="scss" scoped>
.default span {
  text-align: center;
}
.default {
  cursor: pointer;
  background: rgb(60, 66, 78) !important;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
