<template>
 <div>
  <q-card class="go-card q-my-lg" style="max-width:515px">
   <q-img
    :src="url"
    :srcset="srcset"
    style="width: 100%;height: 180px;border: 1px solid lightgrey"
    :sizes="sizes"
    contain
    class="no-border-radius"
   />
   <div class="text-subtitle2 q-mt-md">
    By
    <span class="ellipsis">{{ author }}</span>
   </div>
   <div
   v-if="title"
    class="text-h6 text-weight-medium go-product-card__title ellipsis-3-lines"
    style="font-size:1.2rem;"
   >
    {{ title }}
   </div>
   <span class="ellipsis-4-lines">{{ desc }}</span>
   <div v-if="price" class="text-black text-bold text-h6">
    {{ price | sum }}
   </div>
  </q-card>
 </div>
</template>

<script>
export default {
 props: ["url", "srcset", "sizes", "author", "title", "desc", "price"]
};
</script>

<style scoped>
.go-product-card__title {
  min-height: 100px;
}
</style>
