<template>
  <ul id="go-pagination" class="pagination">
    <li class="pagination-item">
      <button
        type="button"
        class="first-btn"
        @click="onClickFirstPage"
        :disabled="isInFirstPage"
        aria-label="Go to first page"
      >
        <svg
          aria-hidden="true"
          role="img"
          focusable="false"
          viewBox="0 0 24 24"
          class="q-icon go-icon text-secondary notranslate"
        >
          <path
            d="M18.41,7.41L17,6L11,12L17,18L18.41,16.59L13.83,12L18.41,7.41M12.41,7.41L11,6L5,12L11,18L12.41,16.59L7.83,12L12.41,7.41Z"
          />
        </svg>
      </button>
    </li>
    <li class="pagination-item">
      <button
        class="previous-btn"
        type="button"
        @click="onClickPreviousPage"
        :disabled="isInFirstPage"
        aria-label="Go to previous page"
      >
        <svg
          aria-hidden="true"
          role="img"
          focusable="false"
          viewBox="0 0 24 24"
          class="q-icon go-icon text-secondary notranslate"
        >
          <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
        </svg>
      </button>
    </li>
    <span v-if="currentPage > maxVisibleButtons-1" class="material-icons dots">more_horiz</span>
    <li v-for="(page, index) in pages" :key="index" class="pagination-item">
      <button
        class="pagins"
        type="button"
        @click="onClickPage(page.name)"
        :disabled="page.isDisabled"
        :class="{ active: isPageActive(page.name) }"
        :aria-label="`Go to page number ${page.name}`"
      >{{ page.name }}</button>
    </li>
    <span v-if="currentPage < totalPages-1" class="material-icons dots">more_horiz</span>
    <li class="pagination-item">
      <button
        class="next-btn"
        type="button"
        @click="onClickNextPage"
        :disabled="isInLastPage"
        aria-label="Go to next page"
      >
        <svg
          aria-hidden="true"
          role="img"
          focusable="false"
          viewBox="0 0 24 24"
          class="q-icon go-icon text-secondary notranslate"
        >
          <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
        </svg>
      </button>
    </li>

    <li class="pagination-item">
      <button
        class="last-btn"
        type="button"
        @click="onClickLastPage"
        :disabled="isInLastPage"
        aria-label="Go to last page"
      >
        <svg
          aria-hidden="true"
          role="img"
          focusable="false"
          viewBox="0 0 24 24"
          class="q-icon go-icon text-secondary notranslate"
        >
          <path
            d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z"
          />
        </svg>
      </button>
    </li>
  </ul>
</template>


<script>
export default {
  name: "go-pagination",
  props: {
    maxVisibleButtons: {
      type: Number,
      default: 3
    },
    totalPages: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    }
  },
  computed: {
    startPage() {
      if (this.currentPage === 1) {
        return 1;
      }
      if (this.currentPage === this.totalPages) {
        return this.totalPages - this.maxVisibleButtons + 1;
      }
      return this.currentPage - 1;
    },
    endPage() {
      return Math.min(
        this.startPage + this.maxVisibleButtons - 1,
        this.totalPages
      );
    },
    pages() {
      const range = [];
      for (let i = this.startPage; i <= this.endPage; i += 1) {
        range.push({
          name: i,
          isDisabled: i === this.currentPage
        });
      }
      return range;
    },
    isInFirstPage() {
      return this.currentPage === 1;
    },
    isInLastPage() {
      return this.currentPage === this.totalPages;
    }
  },
  methods: {
    onClickFirstPage() {
      this.$emit("pagechanged", 1);
    },
    onClickPreviousPage() {
      this.$emit("pagechanged", this.currentPage - 1);
    },
    onClickPage(page) {
      this.$emit("pagechanged", page);
    },
    onClickNextPage() {
      this.$emit("pagechanged", this.currentPage + 1);
    },
    onClickLastPage() {
      this.$emit("pagechanged", this.totalPages);
    },
    isPageActive(page) {
      return this.currentPage === page;
    }
  }
};
</script>

<style>
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.pagination-item {
  display: inline-block;
}
.active {
  background: #ff4733 !important;
  opacity: 1 !important;
  color: #ffffff !important;
  cursor: pointer !important;
}
.pagins {
  background: #0b1322;
  color: white;
  border: 0px none transparent;
  border-radius: 1000px;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}
.first-btn,
.previous-btn,
.next-btn,
.last-btn {
  border: none;
  margin: 0 10px;
  background: transparent;
  cursor: pointer;
}
button:focus {
  outline: 0px transparent;
}
[disabled] {
  color: grey;
  opacity: 0.3;
  cursor: not-allowed;
}
.dots {
  color: var(--q-color-text-secondary);
  font-size: 170%;
  margin-bottom: -1px;
}
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.go-icon {
  font-size: 30px;
}
</style>