<template>
  <div>
    <router-link :class="property + ' route-link'" exact :to="link"><slot>{{label}}</slot></router-link>
  </div>
</template>

<script>
export default {
  name: "Route",
  props: {
    label: {
      type: [Function, String],
      default: ""
    },

    link: {
      type: String,
      default: "#"
    },
    property: {
      type: String,
      default: "text-primary"
    }
  }
};
</script>

<style scoped>
.route-link {
  text-decoration: none !important;
  font-family: var(--opensans);
}
.route-link:hover {
  opacity: 0.9;
}
</style>